<tl-card>
    <tl-card-title>{{ 'inspections.permits' | tlTranslate }}</tl-card-title>
    <tl-card-content>
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <tl-data-table fxFlexFill
                           [rows]="permits"
                           [isRemote]="false"
                           [isSoftDeletable]="false"
                           [showInactiveRecords]="false"
                           [showAddButton]="!isDisabled"
                           (addButtonClicked)="onAddRecord()"
                           (activeRecordChanged)="onEditRecord($event?.data)"
                           (recordChanged)="permitRecordChanged($event)">
                <data-column [flexRate]="0.2"
                             propertyName="permitNumber"
                             [formGroup]="permitsFormGroup"
                             columnName="{{ 'inspections.permit-number' | tlTranslate }}">
                </data-column>
                <data-column [flexRate]="0.3"
                             propertyName="typeName"
                             [formGroup]="permitsFormGroup"
                             columnName="{{ 'inspections.permit-type' | tlTranslate }}">
                </data-column>
                <data-template-column [flexRate]="0.3"
                                      columnName="{{ 'inspections.permit-valid-range' | tlTranslate }}">
                    <ng-template let-row="row"
                                 ngx-datatable-cell-template>
                        <div *ngIf="row.data.from !== null && row.data.from !== undefined">
                            <span>{{ row.data.from | date: 'dd-MM-yyyy' }}</span>
                            <span> - </span>
                            <span>{{ row.data.to | date: 'dd-MM-yyyy' }}</span>
                        </div>
                    </ng-template>
                </data-template-column>
                <data-column [flexRate]="0.2"
                             propertyName="description"
                             [formGroup]="permitsFormGroup"
                             columnName="{{ 'inspections.permit-description' | tlTranslate }}">
                </data-column>
                <data-template-column [flexRate]="0.3"
                                      columnName="{{ 'inspections.permit-check' | tlTranslate }}">
                    <ng-template [formGroup]="permitsFormGroup"
                                 let-row="row"
                                 ngx-datatable-cell-template>
                        <tl-select *ngIf="row.editMode === true && row.data.isRegistered === true"
                                   formControlName="optionsControl"
                                   [options]="options">
                        </tl-select>
                        <span *ngIf="row.editMode === false && row.data.isRegistered === true">
                            {{ findOption(row.data.checkDTO) }}
                        </span>
                        <span
                              *ngIf="row.data.isRegistered === null || row.data.isRegistered === undefined || row.data.isRegistered === false">
                            {{ 'inspections.toggle-unregistered' | tlTranslate }}
                        </span>
                    </ng-template>
                </data-template-column>
                <data-column-inline *ngIf="!isDisabled"
                                    [flexRate]="0.07"
                                    [hideDeleteBtnWhen]="hideDeleteButtonWhen.bind(this)">
                </data-column-inline>
            </tl-data-table>

            <mat-error *ngIf="control.errors?.permitsMustBeChecked === true">
                * {{ 'inspections.permits-must-be-checked' | tlTranslate }}
            </mat-error>
        </div>
    </tl-card-content>
</tl-card>