<div fxFlexFill fxLayout="column" fxLayoutGap="1em">
    <tl-data-table #seizedFishingGearTable
                   fxFlex="100"
                   [isRemote]="false"
                   [isSoftDeletable]="true"
                   [showInactiveRecords]="true"
                   [showAddButton]="!viewMode"
                   [rows]="seizedFishingGear"
                   (recordChanged)="seizedFishingGearRecordChanged($event)">
        <data-column [flexRate]="0.2"
                     [formGroup]="seizedFishingGearForm"
                     propertyName="fishingGearId"
                     dataType="nomenclature"
                     [options]="fishingGear"
                     columnName="{{ 'penal-decrees.edit-sized-fishing-gear-type' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.1"
                     [formGroup]="seizedFishingGearForm"
                     propertyName="count"
                     columnName="{{ 'penal-decrees.edit-sized-fishing-gear-count' | tlTranslate }}">
        </data-column>

        <data-column *ngIf="isAuan"
                     [flexRate]="0.1"
                     [formGroup]="seizedFishingGearForm"
                     propertyName="length"
                     columnName="{{ 'penal-decrees.edit-confiscated-gear-length' | tlTranslate }}">
        </data-column>

        <data-column *ngIf="isAuan"
                     [flexRate]="0.1"
                     [formGroup]="seizedFishingGearForm"
                     propertyName="netEyeSize"
                     columnName="{{ 'penal-decrees.edit-confiscated-gear-net-eye-size' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.2"
                     [formGroup]="seizedFishingGearForm"
                     propertyName="confiscationActionId"
                     dataType="nomenclature"
                     [options]="confiscatedFishingGearActions"
                     columnName="{{ 'penal-decrees.edit-sized-fishing-gear-action' | tlTranslate }}">
        </data-column>

        <data-column *ngIf="!isAuan"
                     [flexRate]="0.2"
                     [formGroup]="seizedFishingGearForm"
                     propertyName="storageTerritoryUnitId"
                     dataType="nomenclature"
                     [options]="territoryUnits"
                     columnName="{{ 'penal-decrees.edit-sized-fishing-gear-storrage-territory-unit' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.3"
                     [formGroup]="seizedFishingGearForm"
                     propertyName="comments"
                     columnName="{{ 'penal-decrees.edit-sized-fishing-gear-comments' | tlTranslate }}">
        </data-column>

        <data-column-inline *ngIf="!viewMode"
                            [flexRate]="0.2">
        </data-column-inline>
    </tl-data-table>
</div>