<div [formGroup]="form" style="width: 100%;">
    <tl-input formControlName="valueControl"
              [label]="label"
              [readonly]="readonly"
              [multilineError]="multilineError"
              [appearance]="appearance"
              [getControlErrorLabelText]="getControlErrorLabelText"
              (focusout)="onFocusOut()">
        <mat-button-toggle-group *ngIf="!isForeigner && !includeForeigner" formControlName="valueTypeControl" [id]="toggleButtonId">
            <mat-button-toggle value="egn">{{ 'regix-data.egn' | tlTranslate }}</mat-button-toggle>
            <mat-button-toggle value="lnc">{{ 'regix-data.lnc' | tlTranslate }}</mat-button-toggle>
        </mat-button-toggle-group>

        <tl-select *ngIf="!isForeigner && includeForeigner"
                   formControlName="valueTypeControl"
                   [id]="selectButtonId"
                   [options]="valueTypes">
        </tl-select>
    </tl-input>
</div>