<tl-card>
    <tl-card-title>{{ 'inspections.inspectors' | tlTranslate }}</tl-card-title>
    <tl-card-content>
        <tl-data-table fxFlexFill
                       [rows]="inspectors"
                       [isRemote]="false"
                       [isSoftDeletable]="false"
                       [showInactiveRecords]="false"
                       [showAddButton]="!isDisabled"
                       (addButtonClicked)="addEditEntry()"
                       (activeRecordChanged)="addEditEntry($event)">
            <data-column [flexRate]="0.2"
                         propertyName="isInCharge"
                         dataType="boolean"
                         columnName="{{ 'inspections.is-head' | tlTranslate }}">
            </data-column>
            <data-column [flexRate]="0.3"
                         propertyName="hasIdentifiedHimself"
                         dataType="boolean"
                         columnName="{{ 'inspections.identification' | tlTranslate }}">
            </data-column>
            <data-column [flexRate]="0.3"
                         propertyName="cardNum"
                         columnName="{{ 'inspections.card-num' | tlTranslate }}">
            </data-column>
            <data-column [flexRate]="0.4"
                         propertyName="firstName"
                         columnName="{{ 'inspections.first-name' | tlTranslate }}">
            </data-column>
            <data-column [flexRate]="0.4"
                         propertyName="middleName"
                         columnName="{{ 'inspections.middle-name' | tlTranslate }}">
            </data-column>
            <data-column [flexRate]="0.4"
                         propertyName="lastName"
                         columnName="{{ 'inspections.last-name' | tlTranslate }}">
            </data-column>
            <data-column [flexRate]="0.5"
                         propertyName="institution"
                         columnName="{{ 'inspections.institution' | tlTranslate }}">
            </data-column>

            <data-template-column [flexRate]="0.5">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div fxLayout="row wrap" fxLayoutAlign="end center">
                        <tl-icon-button icon="visibility"
                                        (buttonClicked)="addEditEntry(row.data, true)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'inspections.inspector-table-view' | tlTranslate }}">
                        </tl-icon-button>
                        <tl-icon-button *ngIf="!isDisabled"
                                        icon="edit"
                                        (buttonClicked)="addEditEntry(row.data)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'inspections.inspector-table-edit' | tlTranslate }}">
                        </tl-icon-button>
                        <tl-icon-button *ngIf="!isDisabled && !row.data.isCurrentUser"
                                        icon="delete"
                                        (buttonClicked)="deleteEntry(row)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'inspections.inspector-table-delete' | tlTranslate }}">
                        </tl-icon-button>
                    </div>
                </ng-template>
            </data-template-column>
        </tl-data-table>
    </tl-card-content>
</tl-card>