<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     fxLayoutAlign="space-between stretch"
     [formGroup]="form"
     class="dialog-padding">
    <div *ngIf="!showOnlyRegiXData" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
            <tl-input fxFlex="50"
                      formControlName="tonnageControl"
                      tooltipResourceName="fishing-capacity.holder-transferred-tonnage-helper"
                      label="{{ 'fishing-capacity.holder-transferred-tonnage' | tlTranslate }}">
            </tl-input>
            <tl-input fxFlex="50"
                      formControlName="powerControl"
                      tooltipResourceName="fishing-capacity.holder-transferred-power-helper"
                      label="{{ 'fishing-capacity.holder-transferred-power' | tlTranslate }}">
            </tl-input>
        </div>

        <div *ngIf="!readOnly" fxFlex="50" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em">
            <button mat-raised-button
                    color="accent"
                    (click)="transferRemainingCapacity()">
                {{ 'fishing-capacity.holder-transfer-remaining' | tlTranslate }}
            </button>

            <button mat-raised-button
                    color="accent"
                    (click)="copySubmittedBy()">
                {{ 'fishing-capacity.holder-copy-submitted-by' | tlTranslate }}
            </button>
        </div>
    </div>

    <tl-radio-button-group *ngIf="!showOnlyRegiXData"
                           formControlName="typeControl"
                           direction="row"
                           gap="1em"
                           [options]="types">
    </tl-radio-button-group>

    <div *ngIf="form.controls.typeControl!.value?.value === 'Person'; else holderLegal">
        <regix-data formControlName="regixDataControl"
                    [isPerson]="true"
                    [isIdReadOnly]="isEgnLncReadOnly"
                    [hideDocument]="true"
                    [middleNameRequired]="true"
                    [expectedResults]="expectedResults?.person"
                    (downloadDataBtnClicked)="downloadedPersonData($event)"
                    checkboxLabel="{{ 'fishing-capacity.has-bulgarian-address-registration' | tlTranslate }}">
        </regix-data>
        <address-registration formControlName="addressControl"
                              addressLabel="{{ 'common.permanent-address' | tlTranslate : 'cap' }}"
                              secondAddressLabel="{{ 'common.correspondence-address' | tlTranslate : 'cap' }}"
                              checkboxLabel="{{ 'fishing-capacity.permanent-address-same-as-correspondence' | tlTranslate }}"
                              [expectedResults]="expectedResults?.addresses">
        </address-registration>
    </div>

    <ng-template #holderLegal>
        <regix-data formControlName="legalRegixDataControl"
                    [isPerson]="false"
                    [isIdReadOnly]="isEgnLncReadOnly"
                    [expectedResults]="expectedResults?.legal"
                    (downloadDataBtnClicked)="downloadedLegalData($event)"
                    checkboxLabel="{{ 'fishing-capacity.has-bulgarian-address-registration' | tlTranslate }}">
        </regix-data>
        <address-registration formControlName="legalAddressControl"
                              addressLabel="{{ 'common.company-headquarters-address' | tlTranslate : 'cap' }}"
                              [addressType]="companyHeadquartersType"
                              [expectedResults]="expectedResults?.addresses">
        </address-registration>
    </ng-template>
</div>