<public-page>
    <public-page-header>
        {{ 'auth.forgotten-password-title' | tlTranslate }}
    </public-page-header>
    <!-- Forgot password form -->
    <form [formGroup]="form"
          #forgotPasswordNgForm="ngForm">
        <p class="response-message"
           *ngIf="responseMessage">
            {{ responseMessage }}
        </p>
        <div class="forgot-password-form-wrapper"
             *ngIf="!responseMessage">
            <!-- Email field -->
            <tl-input appearance="outline"
                      formControlName="email"
                      label="{{'auth.email-address' | tlTranslate }}">
            </tl-input>
            <!-- Submit button -->
            <button class="fuse-mat-button-large"
                    mat-flat-button [color]="'primary'"
                    [disabled]="form.disabled"
                    (tlDebounceClick)="sendResetLink()">
                {{ 'auth.send-reset-link' | tlTranslate }}
            </button>
        </div>
        <public-page-footer></public-page-footer>
    </form>
</public-page>
