<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     validityCheckerGroup
     [formGroup]="form"
     class="dialog-padding">
    <!-- Основни данни -->
    <tl-expansion-panel title="{{ 'inspections.general-info' | tlTranslate }}"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="reportNumAlreadyExistsError !== true || isInspectionLockedError !== true"
                        tooltipResourceName="inspections.general-info-helper">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <inspection-general-info formControlName="generalInfoControl"
                                     [institutions]="institutions"
                                     [canEditNumber]="canEditNumber"
                                     [reportNumAlreadyExists]="reportNumAlreadyExistsError"
                                     [isReportLocked]="isInspectionLockedError">
            </inspection-general-info>

            <patrol-vehicles-table formControlName="patrolVehiclesControl">
            </patrol-vehicles-table>

            <inspection-map-viewer formControlName="mapControl">
            </inspection-map-viewer>

            <tl-input formControlName="addressControl"
                      label="{{ 'inspections.address' | tlTranslate }}"
                      tooltipResourceName="inspections.address-helper">
            </tl-input>
        </div>
    </tl-expansion-panel>

    <!-- Данни за лицето, извършващо любителски риболов -->
    <tl-expansion-panel title="{{ 'inspections.fisherman-data' | tlTranslate }}"
                        [validityChecker]="form"
                        tooltipResourceName="inspections.fisherman-data-helper">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <inspected-person formControlName="personControl"
                              [countries]="countries"
                              [personType]="inspectedPersonTypeEnum.CaptFshmn"
                              (downloadPersonDataBtnClicked)="downloadPersonDataBtnClicked($event)"
                              title="{{ 'inspections.inspected-person' | tlTranslate }}">
            </inspected-person>

            <tl-checkbox formControlName="hasTicketControl"
                         label="{{ 'inspections.has-ticket' | tlTranslate }}">
            </tl-checkbox>

            <mat-error *ngIf="!hasValidTickets" class="warn-orange-color">
                {{ 'inspections.person-has-no-valid-fiching-tickets' | tlTranslate }}
            </mat-error>

            <tl-autocomplete formControlName="ticketControl"
                             [options]="tickets"
                             [hasSelectedValueFromDropdownValidator]="false"
                             label="{{ 'inspections.fishing-ticket-number' | tlTranslate }}"
                             tooltipResourceName="inspections.fishing-ticket-number-helper">
            </tl-autocomplete>

            <div fxLayout="row"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start center">
                <tl-input fxFlex="50"
                          formControlName="fishingGearCountControl"
                          type="number"
                          label="{{ 'inspections.fishing-gears-count' | tlTranslate }}"
                          tooltipResourceName="inspections.fishing-gears-count-helper">
                </tl-input>

                <tl-input fxFlex="50"
                          formControlName="hookCountControl"
                          type="number"
                          label="{{ 'inspections.hooks-count' | tlTranslate }}"
                          tooltipResourceName="inspections.hooks-count-helper">
                </tl-input>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Данни за инспекцията -->
    <tl-expansion-panel title="{{ 'inspections.aquaculture-catch' | tlTranslate }}"
                        [validityChecker]="form"
                        tooltipResourceName="inspections.aquaculture-catch-helper">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <inspected-catches-table formControlName="catchesControl"
                                     [ships]="ships"
                                     [fishes]="fishes"
                                     [types]="catchTypes"
                                     [catchZones]="catchZones"
                                     [fishSex]="fishSex"
                                     [turbotSizeGroups]="turbotSizeGroups"
                                     [hasUnloadedQuantity]="false"
                                     [hasAllowedDeviation]="false"
                                     [hasCatchZone]="false"
                                     [hasTurbotSizeGroups]="false"
                                     [requiresFish]="false"
                                     [hasCatchType]="false"
                                     [hasUndersizedCheck]="true">
            </inspected-catches-table>

            <inspection-toggle-list formControlName="catchTogglesControl"
                                    [toggles]="catchToggles">
            </inspection-toggle-list>
        </div>
    </tl-expansion-panel>

    <!-- Допълнителна информация -->
    <inspection-additional-info formControlName="additionalInfoControl"
                                [validityChecker]="form">
        <tl-textarea formControlName="fishermanCommentControl"
                     [minRows]="3"
                     label="{{ 'inspections.fisherman-comment' | tlTranslate }}"
                     tooltipResourceName="inspections.fisherman-comment-helper">
        </tl-textarea>
    </inspection-additional-info>

    <!-- Файлове -->
    <tl-expansion-panel title="{{ 'inspections.edit-inspection-files' | tlTranslate }}"
                        [validityChecker]="form"
                        tooltipResourceName="inspections.edit-inspection-files-helper">
        <file-uploader-form-array formControlName="filesControl"
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(this.service)">
        </file-uploader-form-array>
    </tl-expansion-panel>
</div>