<public-page>
    <div class="reset-password-wrapper">
        <public-page-header>
            {{ 'auth.reset-password-title' | tlTranslate }}
        </public-page-header>
        <!-- Reset password form -->
        <form [formGroup]="form"
              #resetPasswordNgForm="ngForm">

            <div class="reset-password-form-wrapper"
                 *ngIf="passwordValidatorsLoaded && tokenStatus == TokenStatuses.Valid">

                <!-- Password field -->
                <tl-password-input appearance="outline" formControlName="passwordControl"
                                   label="{{'auth.new-password' | tlTranslate }}"
                                   [getControlErrorLabelText]="getErrorLabelText.bind(this)">
                </tl-password-input>

                <!-- Password confirm field -->
                <tl-password-input appearance="outline" formControlName="passwordConfirmControl"
                                   label="{{'auth.new-password-confirm' | tlTranslate }}">
                </tl-password-input>

                <!-- Submit button -->
                <button class="fuse-mat-button-large"
                        mat-flat-button
                        color="primary"
                        [disabled]="form.disabled"
                        (tlDebounceClick)="resetPassword()">
                    {{ 'common.save' | tlTranslate:'cap' }}
                </button>
            </div>

            <label class="token-not-valid-message" *ngIf="tokenStatus == TokenStatuses.NotExisting">
                {{ 'auth.token-invalid-message' | tlTranslate:'cap' }}
            </label>

            <label class="token-not-valid-message" *ngIf="tokenStatus == TokenStatuses.Expired">
                {{ 'auth.token-expired-message' | tlTranslate:'cap' }}
            </label>

            <public-page-footer></public-page-footer>
        </form>
    </div>
</public-page>
