<div fxLayout="column" fxLayoutGap="1em" fxFlexFill fxLayoutAlign="space-between stretch">
    <tl-card>
        <tl-card-title>{{ matCardTitleLabel }}</tl-card-title>
        <tl-card-content fxLayout="column" fxLayoutGap="1em">
            <tl-data-table fxFlexFill class="full-width-template"
                           [isRemote]="false"
                           [rows]="userDevices"
                           [showInactiveRecords]="false"
                           [inlineEditing]="true"
                           [showAddButton]="!readOnly"
                           [recordsPerPage]="10"
                           (addButtonClicked)="onAddRecord()"
                           (activeRecordChanged)="onAddRecord()"
                           (recordChanged)="userDevicesChanged($event)">
                <data-column columnName="{{ 'users-page.device-number' | tlTranslate }}"
                             propertyName="imei"
                             [getControlErrorLabelText]="getControlErrorLabelTextMethod"
                             [formGroup]="userMobileDevicesForm">
                </data-column>
                <data-column columnName="{{ 'users-page.description' | tlTranslate }}"
                             propertyName="description"
                             [formGroup]="userMobileDevicesForm">
                </data-column>
                <data-column columnName="{{ 'users-page.access-request-date' | tlTranslate }}"
                             propertyName="requestAccessDate"
                             dataType="date"
                             [formGroup]="userMobileDevicesForm">
                </data-column>
                <data-template-column columnName="{{ 'users-page.status-access' | tlTranslate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div *ngIf="row.data.accessStatus !== undefined">
                            <tl-icon *ngIf="row.data.accessStatus === mobileDeviceStatusEnum.BLOCKED" icon="highlight_off" iconClass="accent-color"></tl-icon>
                            <tl-icon *ngIf="row.data.accessStatus === mobileDeviceStatusEnum.APPROVED" icon="done_outline" iconClass="accent-color"></tl-icon>
                            <tl-icon *ngIf="row.data.accessStatus === mobileDeviceStatusEnum.REQUESTED" icon="autorenew" iconClass="accent-color"></tl-icon>
                            {{'users-page.' + row.data.accessStatus.toLowerCase() | tlTranslate }}
                        </div>
                    </ng-template>
                </data-template-column>
                <data-template-column [flexRate]="0.4" flexGrow="0.5" *ngIf="!readOnly" columnName="{{'users-page.status-header' | tlTranslate}}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="center" *ngIf="row.data.accessStatus === mobileDeviceStatusEnum.REQUESTED">
                            <tl-icon-button icon="done_outline" (buttonClicked)="allowAccess(row.data.id)" iconClass="accent-color"
                                            tooltipText="{{ 'users-page.allow-access' | tlTranslate }}"></tl-icon-button>
                            <tl-icon-button icon="highlight_off" (buttonClicked)="denyAccess(row.data.id)" iconClass="accent-color"
                                            tooltipText="{{ 'users-page.deny-access' | tlTranslate }}"></tl-icon-button>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center" *ngIf="row.data.accessStatus !== mobileDeviceStatusEnum.REQUESTED">
                            <tl-icon-button *ngIf="row.data.accessStatus == mobileDeviceStatusEnum.BLOCKED" icon="done_outline" iconClass="accent-color"
                                            (buttonClicked)="allowAccess(row.data.id)" tooltipText="{{ 'users-page.allow-access' | tlTranslate }}"></tl-icon-button>
                            <tl-icon-button *ngIf="row.data.accessStatus == mobileDeviceStatusEnum.APPROVED" icon="highlight_off" iconClass="accent-color"
                                            (buttonClicked)="denyAccess(row.data.id)" tooltipText="{{ 'users-page.deny-access' | tlTranslate }}"></tl-icon-button>
                        </div>
                    </ng-template>
                </data-template-column>
                <data-template-column [flexRate]="0.4" flexGrow="0.5" *ngIf="!readOnly">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="center" *ngIf="row.editMode" fxLayoutGap="1em">
                            <tl-icon-button icon="save" (buttonClicked)="onSaveRow(row)" iconClass="accent-color"
                                            tooltipText="{{ 'users-page.mobile-devices-save-button-tooltip' | tlTranslate }}"></tl-icon-button>
                            <tl-icon-button icon="cancel" (buttonClicked)="onUndoAddEditRow(row)" iconClass="accent-color"
                                            tooltipText="{{ 'users-page.mobile-devices-undo-button-tooltip' | tlTranslate }}"></tl-icon-button>
                        </div>
                    </ng-template>
                </data-template-column>
            </tl-data-table>
        </tl-card-content>
    </tl-card>
</div>