<div fxLayout="column" fxLayoutGap="1em" [formGroup]="changePasswordForm" fxFlexFill fxLayoutAlign="space-between stretch">
    <tl-card>
        <tl-card-content>
            <div fxLayoutGap="1em" fxLayout="column" fxFlexFill fxLayoutAlign="space-evenly">
                <tl-input *ngIf="oldPasswordIcon === 'fa-eye'; else textType" 
                          type="password" 
                          formControlName="oldPassword"
                          label="{{ 'my-profile.old-password' | tlTranslate }}"
                          [getControlErrorLabelText]="getControlErrorLabelText.bind(this)">
                    <tl-icon-button icon="{{oldPasswordIcon}}" iconClass="accent-color" (buttonClicked)="showOrHidePassword('oldPassword')"></tl-icon-button>
                </tl-input>
                <ng-template #textType>
                    <tl-input type="password" 
                              formControlName="oldPassword"
                              label="{{ 'my-profile.old-password' | tlTranslate }}"
                              [getControlErrorLabelText]="getControlErrorLabelText.bind(this)">
                        <tl-icon-button icon="{{oldPasswordIcon}}" iconClass="accent-color" (buttonClicked)="showOrHidePassword('oldPassword')"></tl-icon-button>
                    </tl-input>
                </ng-template>

                <tl-input *ngIf="passwordIcon === 'fa-eye'; else textTypePass" 
                          type="password" 
                          formControlName="password"
                          label="{{ 'my-profile.password' | tlTranslate }}"
                          [getControlErrorLabelText]="getControlErrorLabelText.bind(this)"
                          [multilineError]="useMultilineErrors">
                    <tl-icon-button icon="{{passwordIcon}}" iconClass="accent-color" (buttonClicked)="showOrHidePassword('password')"></tl-icon-button>
                </tl-input>
                <ng-template #textTypePass>
                    <tl-input type="password" 
                              formControlName="password" 
                              label="{{ 'my-profile.password' | tlTranslate }}"
                              [getControlErrorLabelText]="getControlErrorLabelText.bind(this)"
                              [multilineError]="useMultilineErrors">
                        <tl-icon-button icon="{{passwordIcon}}" iconClass="accent-color" (buttonClicked)="showOrHidePassword('password')"></tl-icon-button>
                    </tl-input>
                </ng-template>

                <tl-input *ngIf="passwordConfirmationIcon === 'fa-eye'; else textTypePassConf" 
                          type="password" 
                          formControlName="passwordConfirmation"
                          label="{{ 'my-profile.verify-password' | tlTranslate }}"
                          [getControlErrorLabelText]="getControlErrorLabelText.bind(this)">
                    <tl-icon-button icon="{{passwordConfirmationIcon}}" iconClass="accent-color" (buttonClicked)="showOrHidePassword('passwordConfirmation')"></tl-icon-button>
                </tl-input>
                <ng-template #textTypePassConf>
                    <tl-input type="password" 
                              formControlName="passwordConfirmation"
                              label="{{ 'my-profile.verify-password' | tlTranslate }}"
                              [getControlErrorLabelText]="getControlErrorLabelText.bind(this)">
                        <tl-icon-button icon="{{passwordConfirmationIcon}}" iconClass="accent-color" (buttonClicked)="showOrHidePassword('passwordConfirmation')"></tl-icon-button>
                    </tl-input>
                </ng-template>
            </div>
        </tl-card-content>
    </tl-card>
</div>