<public-page>
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
        <public-page-header>
            <ng-content></ng-content>
        </public-page-header>
        <!-- Reset password form -->
        <form class="mt-8" [formGroup]="form" #resetPasswordNgForm="ngForm">

            <div *ngIf="passwordValidatorsLoaded && tokenStatus == TokenStatuses.Valid">
                <div fxLayout="column" fxLayoutGap="0.5em">
                    <!-- Password field -->
                    <tl-password-input appearance="outline" formControlName="passwordControl"
                        label="{{'auth.new-password' | tlTranslate }}"
                        [getControlErrorLabelText]="getErrorLabelText.bind(this)"></tl-password-input>

                    <!-- Password confirm field -->
                    <tl-password-input appearance="outline" formControlName="passwordConfirmControl"
                        label="{{'auth.new-password-confirm' | tlTranslate }}"></tl-password-input>
                </div>
                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-3" mat-flat-button color="primary"
                    [disabled]="form.disabled" (tlDebounceClick)="resetPassword()">
                    {{ 'common.save' | tlTranslate }}
                </button>
            </div>

            <label class="font-extrabold" *ngIf="tokenStatus == TokenStatuses.NotExisting">
                {{ 'auth.token-invalid-message' | tlTranslate:'cap' }}
            </label>

            <label class="font-extrabold" *ngIf="tokenStatus == TokenStatuses.Expired">
                {{ 'auth.token-expired-message' | tlTranslate:'cap' }}
            </label>

            <public-page-footer></public-page-footer>
        </form>
    </div>
</public-page>