<div [formGroup]="form"
     fxLayout="column"
     fxLayoutGap="1em"
     fxLayoutAlign="start stretch">
    <tl-checkbox formControlName="portRegisteredControl"
                 label="{{ 'inspections.port-registered' | tlTranslate }}">
    </tl-checkbox>

    <tl-autocomplete *ngIf="isFromRegister"
                     formControlName="portControl"
                     label="{{ 'inspections.port' | tlTranslate }}"
                     [options]="ports"
                     tooltipResourceName="inspections.port-helper">
    </tl-autocomplete>

    <div *ngIf="!isFromRegister"
         fxLayout="row"
         fxLayoutGap="1em"
         fxLayoutAlign="start center">
        <tl-input fxFlex="50"
                  formControlName="nameControl"
                  label="{{ 'inspections.port-name' | tlTranslate }}"
                  tooltipResourceName="inspections.port-name-helper">
        </tl-input>

        <tl-autocomplete fxFlex="50"
                         formControlName="countryControl"
                         label="{{ 'inspections.country' | tlTranslate }}"
                         [options]="countries"
                         tooltipResourceName="inspections.country-helper">
        </tl-autocomplete>
    </div>

    <tl-date *ngIf="hasDate"
             formControlName="dateControl"
             label="{{ 'inspections.port-date' | tlTranslate }}"
             tooltipResourceName="inspections.port-date-helper">
    </tl-date>
</div>