<div style="display: flex !important; flex-direction: column !important;">
    <mat-checkbox [formControl]="ngControl.control"
                  [indeterminate]="isIndeterminate"
                  [required]="fieldIsRequired"
                  [disableRipple]="readonly"
                  (click)="onCheckboxClicked($event)">
        <div style="display: flex !important; flex-direction: row !important; align-items: center !important;">
            <ng-content></ng-content>
            <div *ngIf="!content">{{ label }}</div>
            <tl-help [tooltipResource]="tooltipResourceName" style="transform: translate(-10px, -10px) !important;"></tl-help>
        </div>
    </mat-checkbox>
    <mat-error *ngIf="errors.length > 0">
        <tl-error [errors]="errors" [useMultipleLines]="multilineError"></tl-error>
    </mat-error>
</div>
