<tl-input fxFlex="100"
          [formControl]="control"
          [appearance]="appearance"
          [type]="type"
          [prefixText]="prefix"
          [label]="label"
          [showLabel]="showLabel"
          [multilineError]="multilineError"
          [hint]="hint"
          [showHint]="showHint"
          [getControlErrorLabelText]="getControlErrorLabelText"
          [readonly]="readonly"
          [tooltipResourceName]="tooltipResourceName"
          [disableTooltip]="disableTooltip"
          [floatLabel]="floatLabel"
          (focusout)="onFocusOut($event)">
</tl-input>