<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     fxLayoutAlign="space-between stretch"
     validityCheckerGroup
     [formGroup]="form"
     [notifierGroup]="notifier"
     class="dialog-padding">
    <!-- Заявител -->
    <application-submitted-by formControlName="submittedByControl"
                              notifier
                              validityChecker
                              label="{{ 'fishing-capacity.reduce-requester' | tlTranslate }}"
                              [isIdReadOnly]="isEditing || isPublicApp"
                              [middleNameRequired]="true"
                              [expectedResults]="expectedResults.submittedBy">
    </application-submitted-by>

    <!-- Получател -->
    <application-submitted-for formControlName="submittedForControl"
                               notifier
                               validityChecker
                               relationLabel="{{ 'fishing-capacity.reduce-requester-role' | tlTranslate }}"
                               submittedForLabel="{{ 'fishing-capacity.reduce-receiver' | tlTranslate }}"
                               [pageCode]="pageCode"
                               [hideRelation]="showOnlyRegiXData"
                               [isIdReadOnly]="isEditing"
                               [showCustodianOfProperty]="false"
                               [middleNameRequired]="true"
                               [submittedByControl]="form.controls.submittedByControl"
                               [expectedResults]="expectedResults.submittedFor">
    </application-submitted-for>

    <!-- Данни за заявената услуга -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData || (showOnlyRegiXData && form.controls.actionsControl.value?.holders && form.controls.actionsControl.value.holders.length > 0)"
                        title="{{ 'fishing-capacity.reduce-application-data' | tlTranslate }}"
                        tooltipResourceName="fishing-capacity.reduce-application-data-helper"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="space-between stretch">
            <!-- Данни за риболовния кораб -->
            <tl-card *ngIf="!showOnlyRegiXData"
                     tooltipResourceName="fishing-capacity.reduce-ship-helper"
                     [validityChecker]="form">
                <tl-card-title>{{ 'fishing-capacity.reduce-ship' | tlTranslate }}</tl-card-title>
                <tl-card-content fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                    <tl-autocomplete fxFlex="50"
                                     formControlName="shipControl"
                                     [options]="ships"
                                     [getControlErrorLabelText]="shipControlErrorLabelTextMethod"
                                     tooltipResourceName="fishing-capacity.reduce-ship-from-register-helper"
                                     label="{{ 'fishing-capacity.reduce-ship-from-register' | tlTranslate }}">
                    </tl-autocomplete>

                    <tl-input *ngIf="form.controls.shipControl.value && (form.controls.shipControl.valid || viewMode || isReadonly)"
                              fxFlex="25"
                              [readonly]="true"
                              [value]="form.controls.shipControl.value.grossTonnage?.toFixed(2)"
                              tooltipResourceName="fishing-capacity.reduce-ship-gross-tonnage-helper"
                              label="{{ 'fishing-capacity.reduce-ship-gross-tonnage' | tlTranslate }}">
                    </tl-input>

                    <tl-input *ngIf="form.controls.shipControl.value && (form.controls.shipControl.valid || viewMode || isReadonly)"
                              fxFlex="25"
                              [readonly]="true"
                              [value]="form.controls.shipControl.value.mainEnginePower?.toFixed(2)"
                              tooltipResourceName="fishing-capacity.reduce-ship-main-engine-power-helper"
                              label="{{ 'fishing-capacity.reduce-ship-main-engine-power' | tlTranslate }}">
                    </tl-input>

                    <div fxFlex="25" *ngIf="!form.controls.shipControl.value || !form.controls.shipControl.valid && !viewMode && !isReadonly"></div>
                    <div fxFlex="25" *ngIf="!form.controls.shipControl.value || !form.controls.shipControl.valid && !viewMode && !isReadonly"></div>
                </tl-card-content>
            </tl-card>

            <!-- Намаляване на риболовния капацитет с -->
            <tl-card *ngIf="!showOnlyRegiXData"
                     tooltipResourceName="fishing-capacity.reduce-capacity-with-helper"
                     [validityChecker]="form">
                <tl-card-title>{{ 'fishing-capacity.reduce-capacity-with' | tlTranslate }}</tl-card-title>
                <tl-card-content fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                    <tl-input fxFlex="25"
                              formControlName="reduceCapacityTonnageControl"
                              tooltipResourceName="fishing-capacity.reduce-capacity-with-tonnage-helper"
                              label="{{ 'fishing-capacity.reduce-capacity-with-tonnage' | tlTranslate }}">
                    </tl-input>
                    <tl-input fxFlex="25"
                              formControlName="reduceCapacityPowerControl"
                              tooltipResourceName="fishing-capacity.reduce-capacity-with-power-helper"
                              label="{{ 'fishing-capacity.reduce-capacity-with-power' | tlTranslate }}">
                    </tl-input>
                </tl-card-content>
            </tl-card>

            <!-- Необходими действия относно остатъка на риболовния капацитет -->
            <tl-card *ngIf="!showOnlyRegiXData || (showOnlyRegiXData && form.controls.actionsControl.value?.holders && form.controls.actionsControl.value.holders.length > 0)"
                     tooltipResourceName="fishing-capacity.reduce-required-actions-helper"
                     [validityChecker]="form">
                <tl-card-title>{{ 'fishing-capacity.reduce-required-actions' | tlTranslate }}</tl-card-title>
                <tl-card-content>
                    <fishing-capacity-freed-actions formControlName="actionsControl"
                                                    [showOnlyRegiXData]="showOnlyRegiXData"
                                                    [isDraft]="isDraft"
                                                    [isEditing]="isEditing"
                                                    [service]="service"
                                                    [maxGrossTonnage]="maxGrossTonnage"
                                                    [maxPower]="maxPower"
                                                    [submittedBy]="form.controls.submittedByControl.value"
                                                    [newCertificateData]="newCertificateData"
                                                    [expectedResults]="expectedResults?.freedCapacityAction">
                    </fishing-capacity-freed-actions>
                </tl-card-content>
            </tl-card>

            <!-- Информация за начин на връчване -->
            <tl-card *ngIf="hasDelivery && !showOnlyRegiXData && willIssueCapacityCertificates"
                     tooltipResourceName="fishing-capacity.reduce-delivery-data-helper"
                     [validityChecker]="form"
                     [validityCheckerExtraCondition]="hasNoEDeliveryRegistrationError !== true">
                <tl-card-title>{{ 'fishing-capacity.reduce-delivery-data' | tlTranslate }}</tl-card-title>

                <tl-card-content>
                    <delivery-data formControlName="deliveryDataControl"
                                   [pageCode]="pageCode">
                    </delivery-data>
                    <mat-error *ngIf="hasNoEDeliveryRegistrationError">
                        * {{ 'fishing-capacity.reduce-has-no-e-delivery-registration-error' | tlTranslate }}
                    </mat-error>
                </tl-card-content>
            </tl-card>
        </div>
    </tl-expansion-panel>

    <!-- Информация за плащане -->
    <tl-expansion-panel *ngIf="isPaid && !showOnlyRegiXData"
                        title="{{ 'fishing-capacity.reduce-payment-information' | tlTranslate }}"
                        tooltipResourceName="fishing-capacity.reduce-payment-information-helper">
        <payment-information formControlName="applicationPaymentInformationControl"
                             [hideBasicInfo]="hideBasicPaymentInfo" 
                             [isOnlineApplication]="isOnlineApplication">
        </payment-information>
    </tl-expansion-panel>

    <!-- Файлове -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        title="{{ 'fishing-capacity.reduce-files' | tlTranslate }}"
                        tooltipResourceName="fishing-capacity.reduce-files-helper"
                        [validityChecker]="form">
        <file-uploader-form-array formControlName="filesControl"
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(this.service)"
                                  [fileTypeFilterFn]="fileTypeFilterFn.bind(this)"
                                  [refreshFileTypes]="refreshFileTypes">
        </file-uploader-form-array>
    </tl-expansion-panel>

    <!-- Проверки -->
    <tl-expansion-panel *ngIf="showOnlyRegiXData || showRegiXData"
                        title="{{ 'fishing-capacity.reduce-regix-checks-results' | tlTranslate }}"
                        tooltipResourceName="fishing-capacity.reduce-regix-checks-results-helper">
        <div fxLayout="column" fxLayoutGap="1em">
            <regix-checks-results [regixChecksCollection]="regixChecks"></regix-checks-results>
        </div>
    </tl-expansion-panel>
</div>