<div fxLayout="column" fxLayoutGap="1em" [formGroup]="form">
    <div fxLayout="column" fxLayoutGap="1em">
        <tl-radio-button-group fxFlex="100"
                               formControlName="deliveryTypeControl"
                               [options]="deliveryTypes">
        </tl-radio-button-group>

        <div *ngIf="deliveryType !== undefined && deliveryType !== null" fxLayout="row">
            <tl-date fxFlex="25"
                     formControlName="deliveryDateControl"
                     [max]="today"
                     label="{{ 'penal-decrees.edit-decree-delivery-date' | tlTranslate }}"
                     tooltipResourceName="penal-decrees.edit-decree-delivery-date-helper">
            </tl-date>
        </div>

        <div *ngIf="deliveryType !== undefined && deliveryType !== null" fxLayout="row" fxLayoutGap="1em">
            <tl-autocomplete fxFlex="50"
                             formControlName="confirmationTypeControl"
                             [options]="confirmationTypes"
                             label="{{ 'penal-decrees.edit-decree-delivery-confirmation-type' | tlTranslate }}"
                             tooltipResourceName="penal-decrees.edit-decree-delivery-confirmation-type-helper">
            </tl-autocomplete>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="1em" *ngIf="deliveryType === deliveryTypesEnum.DecreeReturn || deliveryType === deliveryTypesEnum.DecreeTag">
        <div fxLayout="row" fxLayoutGap="1em">
            <tl-date fxFlex="25"
                     formControlName="deliverySentDateControl"
                     [max]="today"
                     label="{{ 'penal-decrees.edit-decree-delivery-sent-date' | tlTranslate }}"
                     tooltipResourceName="penal-decrees.edit-decree-delivery-sent-date-helper">
            </tl-date>

            <tl-input fxFlex="25"
                      formControlName="deliverySentControl"
                      label="{{ 'penal-decrees.edit-decree-delivery-sent' | tlTranslate }}"
                      tooltipResourceName="penal-decrees.edit-decree-delivery-sent-helper">
            </tl-input>
        </div>
    </div>

    <div fxLayout="column" fxLayoutGap="1em" *ngIf="confirmationType === confirmationTypesEnum.RefusalDecree">
        <auan-witnesses-array formControlName="witnessesControl"
                              [viewMode]="viewMode">
        </auan-witnesses-array>
    </div>
</div>