.full-width {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.h-auto {
    height: auto;
}

.multiline-option {
    white-space: normal;
    display: inline-block;
    line-height: normal;
}
