<div fxLayout="column"
     fxLayoutGap="1em"
     fxLayoutAlign="start stretch">
    <tl-data-table fxFlexFill
                   [rows]="fishingGears"
                   [isRemote]="false"
                   [isSoftDeletable]="false"
                   [showInactiveRecords]="false"
                   [showAddButton]="!isDisabled"
                   (addButtonClicked)="addEditEntry()"
                   (activeRecordChanged)="addEditEntry($event)">
        <div *ngIf="!viewMode && (showGenerateBtn || showPermitLicenseBtn)"
             datatable-add-buttons
             fxLayout="row"
             fxLayoutGap="1em">
            <button *ngIf="showGenerateBtn" 
                    mat-raised-button
                    color="accent"
                    (click)="generateFishingGears()"
                    style="margin-left:auto;">
                {{ 'inspections.generate-fishing-gears-from-ship-permit-licenses' | tlTranslate }}
            </button>

            <button *ngIf="showPermitLicenseBtn"
                    mat-raised-button
                    color="accent"
                    (click)="chooseOldPermitLicense()"
                    style="margin-left:auto;">
                {{ 'inspections.choose-old-permit-licenses' | tlTranslate }}
            </button>
        </div>
        <data-column [flexRate]="0.4"
                     propertyName="type"
                     columnName="{{ 'inspections.fishing-gear-type' | tlTranslate }}">
        </data-column>
        <data-column [flexRate]="0.3"
                     propertyName="marksNumbers"
                     columnName="{{ 'inspections.fishing-gear-marks' | tlTranslate }}">
        </data-column>
        <data-column [flexRate]="0.3"
                     propertyName="count"
                     columnName="{{ 'inspections.fishing-gear-count' | tlTranslate }}">
        </data-column>
        <data-column [flexRate]="0.3"
                     propertyName="netEyeSize"
                     columnName="{{ 'inspections.fishing-gear-net-eye-size' | tlTranslate }}">
        </data-column>
        <data-column [flexRate]="0.3"
                     propertyName="checkName"
                     columnName="{{ 'inspections.fishing-gear-check' | tlTranslate }}">
        </data-column>

        <data-template-column [flexRate]="0.5">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div fxLayout="row wrap" fxLayoutAlign="end center">
                    <tl-icon-button icon="visibility"
                                    (buttonClicked)="addEditEntry(row.data, true)"
                                    iconClass="accent-color"
                                    tooltipText="{{ 'inspections.patrol-vehicle-table-view' | tlTranslate }}">
                    </tl-icon-button>
                    <tl-icon-button *ngIf="!isDisabled"
                                    icon="edit"
                                    (buttonClicked)="addEditEntry(row.data)"
                                    iconClass="accent-color"
                                    tooltipText="{{ 'inspections.patrol-vehicle-table-edit' | tlTranslate }}">
                    </tl-icon-button>
                    <tl-icon-button *ngIf="!isDisabled && row.data.gear.checkInspectedMatchingRegisteredGear === inspectedFishingGearEnum.I"
                                    icon="delete"
                                    (buttonClicked)="deleteEntry(row)"
                                    iconClass="accent-color"
                                    tooltipText="{{ 'inspections.patrol-vehicle-table-delete' | tlTranslate }}">
                    </tl-icon-button>
                </div>
            </ng-template>
        </data-template-column>
    </tl-data-table>

    <mat-error *ngIf="control.errors?.fishingGearMustBeChecked === true">
        * {{ 'inspections.fishing-gear-must-be-checked' | tlTranslate }}
    </mat-error>
</div>