<tl-card>
    <tl-card-title>{{ 'inspections.patrol-vehicles' | tlTranslate }}</tl-card-title>
    <tl-card-content>
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <tl-data-table fxFlexFill
                           [rows]="patrolVehicles"
                           [isRemote]="false"
                           [isSoftDeletable]="false"
                           [showInactiveRecords]="false"
                           [showAddButton]="!isDisabled"
                           (addButtonClicked)="addEditEntry()"
                           (activeRecordChanged)="addEditEntry($event)">
                <data-column [flexRate]="0.4"
                             propertyName="name"
                             columnName="{{ 'inspections.vehicle-name' | tlTranslate }}">
                </data-column>
                <data-column *ngIf="!isWaterVehicle"
                             [flexRate]="0.3"
                             propertyName="cfr"
                             columnName="{{ 'inspections.register-num' | tlTranslate }}">
                </data-column>
                <data-column *ngIf="isWaterVehicle"
                             [flexRate]="0.3"
                             propertyName="cfr"
                             columnName="{{ 'inspections.cfr' | tlTranslate }}">
                </data-column>
                <data-column *ngIf="isWaterVehicle"
                             [flexRate]="0.4"
                             propertyName="regularCallsign"
                             columnName="{{ 'inspections.callsign' | tlTranslate }}">
                </data-column>
                <data-column *ngIf="isWaterVehicle"
                             [flexRate]="0.4"
                             propertyName="externalMark"
                             columnName="{{ 'inspections.external-mark' | tlTranslate }}">
                </data-column>
                <data-column *ngIf="hasCoordinates"
                             [flexRate]="0.4"
                             propertyName="locationText"
                             columnName="{{ 'inspections.location' | tlTranslate }}">
                </data-column>

                <data-template-column [flexRate]="0.5">
                    <ng-template let-row="row"
                                 ngx-datatable-cell-template>
                        <div fxLayout="row wrap"
                             fxLayoutAlign="end center">
                            <tl-icon-button icon="visibility"
                                            (buttonClicked)="addEditEntry(row.data, true)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'inspections.patrol-vehicle-table-view' | tlTranslate }}">
                            </tl-icon-button>
                            <tl-icon-button *ngIf="!isDisabled"
                                            icon="edit"
                                            (buttonClicked)="addEditEntry(row.data)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'inspections.patrol-vehicle-table-edit' | tlTranslate }}">
                            </tl-icon-button>
                            <tl-icon-button *ngIf="!isDisabled"
                                            icon="delete"
                                            (buttonClicked)="deleteEntry(row)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'inspections.patrol-vehicle-table-delete' | tlTranslate }}">
                            </tl-icon-button>
                        </div>
                    </ng-template>
                </data-template-column>
            </tl-data-table>

            <mat-error *ngIf="control.errors?.atLeastOnePatrolVehicleNeeded === true">
                * {{ 'inspections.patrol-vehicle-needed' | tlTranslate }}
            </mat-error>
        </div>
    </tl-card-content>
</tl-card>