<div fxFlexFill
     fxLayout="column"
     fxLayoutGap="1em"
     [formGroup]="form">
    <tl-expansion-panel title="{{ 'fishing-gears.basic-information-panel' | tlTranslate }}">
        <div fxFlexFill
             fxLayout="column"
             fxLayoutGap="1em">
            <div fxFlex="100"
                 fxLayout="row">
                <tl-autocomplete fxFlex="100"
                                 formControlName="typeControl"
                                 label="{{ 'fishing-gears.type' | tlTranslate }}"
                                 tooltipResourceName="fishing-gears.type-helper"
                                 [options]="fishingGearTypes">
                </tl-autocomplete>
            </div>
            <div fxFlex="100"
                 fxLayout="row"
                 fxLayoutAlign="space-between center"
                 fxLayoutGap="1em">
                <div [fxFlex]="selectedGearTypeIsPoundNet ? 25 : 66"
                     fxLayout="row"
                     fxLayoutAlign="space-between center"
                     fxLayoutGap="1em">
                    <tl-input *ngIf="!selectedGearTypeIsPoundNet"
                              fxFlex="50"
                              formControlName="countControl"
                              label="{{ 'fishing-gears.count' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.count-helper">
                    </tl-input>
                    <tl-input [fxFlex]="!selectedGearTypeIsPoundNet ? 50 : 100"
                              formControlName="netEyeSizeControl"
                              label="{{ 'fishing-gears.net-eye-size' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.net-eye-size-helper">
                    </tl-input>
                </div>
                <div *ngIf="!selectedGearTypeIsPoundNet"
                     fxLayout="row"
                     fxFlex="33"
                     fxLayoutAlign="space-between center"
                     fxLayoutGap="1em">
                    <tl-input fxFlex="100"
                              formControlName="hooksCountControl"
                              label="{{ 'fishing-gears.hooks-count' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.hooks-count-helper">
                    </tl-input>
                </div>
                <div *ngIf="selectedGearTypeIsPoundNet"
                     fxLayout="row"
                     fxFlex="75"
                     fxLayoutAlign="space-between center"
                     fxLayoutGap="1em">
                    <tl-input fxFlex="33"
                              formControlName="towelLengthControl"
                              label="{{ 'fishing-gears.towel-length' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.towel-length-helper">
                    </tl-input>
                    <tl-input fxFlex="33"
                              formControlName="houseLengthControl"
                              label="{{ 'fishing-gears.house-length' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.house-length-helper">
                    </tl-input>
                    <tl-input fxFlex="33"
                              formControlName="houseWidthControl"
                              label="{{ 'fishing-gears.house-width' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.house-width-helper">
                    </tl-input>
                </div>
            </div>
            <ng-container *ngIf="!selectedGearTypeIsPoundNet">
                <div fxLayout="row"
                     fxFlex="100"
                     fxLayoutAlign="space-between center"
                     fxLayoutGap="1em">
                    <tl-input fxFlex="33"
                              formControlName="lengthControl"
                              label="{{ 'fishing-gears.length' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.length-helper">
                    </tl-input>
                    <tl-input fxFlex="33"
                              formControlName="heightControl"
                              label="{{ 'fishing-gears.height' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.height-helper">
                    </tl-input>
                    <tl-input fxFlex="33"
                              formControlName="cordThicknessControl"
                              label="{{ 'fishing-gears.cord-thickness' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.cord-thickness-helper">
                    </tl-input>
                </div>
                <div fxLayout="row"
                     fxFlex="100"
                     fxLayoutAlign="space-between center"
                     fxLayoutGap="1em">
                    <tl-input fxFlex="33"
                              formControlName="lineCountControl"
                              label="{{ 'fishing-gears.line-count' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.line-count-helper">
                    </tl-input>
                    <tl-input fxFlex="33"
                              formControlName="netNominalLengthControl"
                              label="{{ 'fishing-gears.net-nominal-length' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.net-nominal-length-helper">
                    </tl-input>
                    <tl-input fxFlex="33"
                              formControlName="netsInFleetCountControl"
                              label="{{ 'fishing-gears.nets-in-fleet-count' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.nets-in-fleet-count-helper">
                    </tl-input>
                </div>
                <div fxLayout="row"
                     fxFlex="100"
                     fxLayoutAlign="space-between center"
                     fxLayoutGap="1em">
                    <tl-input fxFlex="100"
                              formControlName="trawlModelControl"
                              label="{{ 'fishing-gears.trawl-model' | tlTranslate }}"
                              tooltipResourceName="fishing-gears.trawl-model-helper">
                    </tl-input>
                </div>
                <mat-error *ngIf="form.touched && form.errors?.lengthOrTrawlModelIsRequired">
                    * {{ 'fishing-gears.length-or-trawl-model-is-required-for-selected-type-of-gear-error' | tlTranslate }}
                </mat-error>
            </ng-container>
            <div fxFlex="100"
                 fxLayout="row"
                 fxLayoutAlign="space-between center">
                <tl-textarea fxFlex="100"
                             formControlName="descriptionControl"
                             label="{{ 'fishing-gears.description' | tlTranslate }}"
                             tooltipResourceName="fishing-gears.description-helper">
                </tl-textarea>
            </div>
        </div>
    </tl-expansion-panel>
    <tl-expansion-panel *ngIf="hasMarks"
                        title="{{ 'fishing-gears.marks-panel' | tlTranslate }}">
        <div fxFlexFill
             fxLayout="column"
             fxLayoutGap="1em">
            <tl-data-table #marksTable
                           fxFlexFill
                           fxLayoutGap="1em"
                           class="full-width-template"
                           [showAddButton]="!isDisabled"
                           [showInactiveRecords]="!isInspected"
                           [isRemote]="false"
                           [isSoftDeletable]="true"
                           [rows]="marks"
                           [recordsPerPage]="marksPerPage"
                           (activeRecordChanged)="onEditMark($event)"
                           (recordChanged)="onEditedMark()">
                <div *ngIf="!isInspected && !isDisabled" datatable-add-buttons fxLayout="row" fxLayoutGap="1em">
                    <button mat-raised-button
                            color="accent"
                            (click)="openGenerateMarksDialog()">
                        <tl-icon icon="fa-plus-circle"></tl-icon>
                        {{ 'fishing-gears.generate-mark-numbers-btn-label' | tlTranslate }}
                    </button>
                </div>
                <data-column columnName="{{ 'fishing-gears.mark-number' | tlTranslate }}"
                             propertyName="number"
                             [formGroup]="marksForm"
                             dataType="string">
                </data-column>
                <data-column columnName="{{ 'fishing-gears.mark-status' | tlTranslate }}"
                             propertyName="statusId"
                             [formGroup]="marksForm"
                             [options]="markStatuses"
                             dataType="nomenclature">
                </data-column>
                <data-template-column [flexRate]="0.3"
                                      *ngIf="canSelectMarks">
                    <ng-template ngx-datatable-cell-template
                                 let-row="row">
                        <div fxLayout="row wrap"
                             fxLayoutAlign="end center">
                            <tl-icon-button icon="trending_flat"
                                            tooltipText="{{ 'inspections.move-mark-to-inspected' | tlTranslate }}"
                                            (buttonClicked)="selectedMark.emit(row.data)">
                            </tl-icon-button>
                        </div>
                    </ng-template>
                </data-template-column>
                <data-column-inline [flexRate]="0.3"
                                    *ngIf="!isDisabled">
                </data-column-inline>
            </tl-data-table>
            <mat-error *ngIf="marksForm.errors?.duplicatedMark">
                * {{ 'fishing-gears.gear-has-duplicated-mark-number' | tlTranslate }}
            </mat-error>
        </div>
    </tl-expansion-panel>
    <tl-expansion-panel *ngIf="hasPingers"
                        title="{{ 'fishing-gears.pingers-panel' | tlTranslate }}">
        <div fxFlexFill
             fxLayout="column"
             fxLayoutGap="1em">
            <div fxFlex="100"
                 fxLayout="row">
                <tl-checkbox formControlName="hasPingersControl"
                             label="{{ 'fishing-gears.has-pingers' | tlTranslate }}">
                </tl-checkbox>
            </div>
            <div *ngIf="showPingersTable === true"
                 fxFlexFill
                 fxLayout="column"
                 fxLayoutGap="1em">
                <tl-data-table #pingersTable
                               fxFlexFill
                               fxLayoutGap="1em"
                               class="full-width-template"
                               [showAddButton]="!isDisabled"
                               [showInactiveRecords]="!isInspected"
                               [isRemote]="false"
                               [isSoftDeletable]="true"
                               [disableDblClickEdit]="true"
                               [rows]="pingers"
                               [recordsPerPage]="pingersPerPage"
                               (recordChanged)="onEditedPinger()">
                    <data-column columnName="{{ 'fishing-gears.pinger-number' | tlTranslate }}"
                                 propertyName="number"
                                 [formGroup]="pingersForm"
                                 dataType="string">
                    </data-column>
                    <data-column columnName="{{ 'fishing-gears.pinger-status' | tlTranslate }}"
                                 propertyName="statusId"
                                 [formGroup]="pingersForm"
                                 [options]="pingerStatuses"
                                 dataType="nomenclature">
                    </data-column>
                    <data-column columnName="{{ 'fishing-gears.pinger-model' | tlTranslate }}"
                                 propertyName="model"
                                 [formGroup]="pingersForm"
                                 dataType="string">
                    </data-column>
                    <data-column columnName="{{ 'fishing-gears.pinger-brand' | tlTranslate }}"
                                 propertyName="brand"
                                 [formGroup]="pingersForm"
                                 dataType="string">
                    </data-column>
                    <data-column-inline [flexRate]="0.5"
                                        *ngIf="!isDisabled">
                    </data-column-inline>
                </tl-data-table>
                <mat-error *ngIf="pingersForm.errors?.duplicatedPinger">
                    * {{ 'fishing-gears.gear-has-duplicated-pinger-number' | tlTranslate }}
                </mat-error>
                <mat-error *ngIf="form.errors?.noPingers">
                    * {{ 'fishing-gears.gear-must-have-at-least-one-pinger-error' | tlTranslate }}
                </mat-error>
            </div>
        </div>
    </tl-expansion-panel>
</div>