<div fxLayout="column" fxFlexFill>
    <!-- Филтри -->
    <search-panel [translateService]="translate">
        <div [formGroup]="form" fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="row" fxLayoutGap="1px" fxLayoutAlign="space-between center">
                <tl-input fxFlex="33"
                          formControlName="applicationIdControl"
                          label="{{ 'application-regix-checks.filters-application-id' | tlTranslate }}"
                          tooltipResourceName="application-regix-checks.filters-application-id-helper">
                </tl-input>

                <tl-autocomplete fxFlex="33"
                                 formControlName="applicationTypeIdControl"
                                 [options]="applicationTypes"
                                 label="{{ 'application-regix-checks.filters-application-type' | tlTranslate }}"
                                 tooltipResourceName="application-regix-checks.filters-application-type-helper">
                </tl-autocomplete>

                <tl-select fxFlex="33"
                           formControlName="errorLevelControl"
                           [options]="errorLevels"
                           [isMultiple]="true"
                           label="{{ 'application-regix-checks.filters-error-level' | tlTranslate }}"
                           tooltipResourceName="application-regix-checks.filters-error-level-helper">
                </tl-select>
            </div>

            <div fxLayout="row" fxLayoutGap="1ем" fxLayoutAlign="space-between center">
                <tl-input fxFlex="33"
                          formControlName="requestContentControl"
                          label="{{ 'application-regix-checks.filters-request-content' | tlTranslate }}"
                          tooltipResourceName="application-regix-checks.filters-request-content-helper">
                </tl-input>

                <tl-date-time fxFlex="33"
                              formControlName="requestDateTimeFromControl"
                              label="{{ 'application-regix-checks.filters-request-date-time-from' | tlTranslate }}"
                              tooltipResourceName="application-regix-checks.filters-request-date-time-from-helper">
                </tl-date-time>

                <tl-date-time fxFlex="33"
                              formControlName="requestDateTimeToControl"
                              label="{{ 'application-regix-checks.filters-request-date-time-to' | tlTranslate }}"
                              tooltipResourceName="application-regix-checks.filters-request-date-time-to-helper">
                </tl-date-time>
            </div>

            <div fxLayout="row" fxLayoutGap="1ем" fxLayoutAlign="space-between center">
                <tl-input fxFlex="33"
                          formControlName="responseContentControl"
                          label="{{ 'application-regix-checks.filters-response-content' | tlTranslate }}"
                          tooltipResourceName="application-regix-checks.filters-response-content-helper">
                </tl-input>

                <tl-date-time fxFlex="33"
                              formControlName="responseDateTimeFromControl"
                              label="{{ 'application-regix-checks.filters-response-date-time-from' | tlTranslate }}"
                              tooltipResourceName="application-regix-checks.filters-response-date-time-from-helper">
                </tl-date-time>

                <tl-date-time fxFlex="33"
                              formControlName="responseDateTimeToControl"
                              label="{{ 'application-regix-checks.filters-response-date-time-to' | tlTranslate }}"
                              tooltipResourceName="application-regix-checks.filters-response-date-time-to-helper">
                </tl-date-time>
            </div>

            <div fxLayout="row" fxLayoutGap="1ем" fxLayoutAlign="space-between center">
                <tl-input fxFlex="33"
                          formControlName="webServiceNameControl"
                          label="{{ 'application-regix-checks.filters-web-service-name' | tlTranslate }}"
                          tooltipResourceName="application-regix-checks.filters-web-service-name-helper">
                </tl-input>

                <div fxFlex="66"></div>
            </div>
        </div>
    </search-panel>

    <!-- Таблица -->
    <mat-card>
        <tl-data-table [showAddButton]="false"
                       [showInactiveRecords]="false">
            <data-column propertyName="applicationId"
                         [flexRate]="0.2"
                         columnName="{{ 'application-regix-checks.application-id' | tlTranslate }}">
            </data-column>

            <data-column propertyName="applicationType"
                         [flexRate]="0.4"
                         columnName="{{ 'application-regix-checks.application-type' | tlTranslate }}">
            </data-column>

            <data-template-column propertyName="webServiceName"
                                  [flexRate]="0.4"
                                  columnName="{{ 'application-regix-checks.web-service-name' | tlTranslate }}">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <span class="break-all-words">{{ value }}</span>
                </ng-template>
            </data-template-column>

            <data-template-column propertyName="remoteAddress"
                                  [flexRate]="0.4"
                                  columnName="{{ 'application-regix-checks.remote-address' | tlTranslate }}">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <span class="break-all-words">{{ value }}</span>
                </ng-template>
            </data-template-column>

            <data-column propertyName="requestDateTime"
                         [flexRate]="0.3"
                         dataType="datetime"
                         columnName="{{ 'application-regix-checks.request-date-time' | tlTranslate }}">
            </data-column>

            <data-column propertyName="responseStatus"
                         [flexRate]="0.2"
                         columnName="{{ 'application-regix-checks.response-status' | tlTranslate }}">
            </data-column>

            <data-column propertyName="responseDateTime"
                         [flexRate]="0.2"
                         dataType="datetime"
                         columnName="{{ 'application-regix-checks.response-date-time' | tlTranslate }}">
            </data-column>

            <data-column propertyName="errorLevel"
                         [flexRate]="0.2"
                         columnName="{{ 'application-regix-checks.error-level' | tlTranslate }}">
            </data-column>

            <data-template-column [flexRate]="0.2"
                                  columnName="{{ 'application-regix-checks.error-description' | tlTranslate }}"
                                  propertyName="errorDescription">
                <ng-template ngx-datatable-cell-template let-value="value">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <tl-popover-button *ngIf="value !== null && value !== undefined && value.length > 0; else noValue"
                                           icon="info"
                                           iconClass="accent-color">
                            <span fxLayout="row" class="scroll">{{ value }}</span>
                        </tl-popover-button>

                        <ng-template #noValue>
                            <tl-icon icon="done_outline"
                                     iconClass="success-color">
                            </tl-icon>
                        </ng-template>
                    </div>
                </ng-template>
            </data-template-column>

            <data-template-column [flexRate]="0.2">
                <ng-template ngx-datatable-cell-template let-row="row">
                    <tl-icon-button icon="visibility"
                                    iconClass="accent-color"
                                    (buttonClicked)="openDialog(row.data)"
                                    tooltipText="{{ 'application-regix-checks.view-request' | tlTranslate }}">
                    </tl-icon-button>
                </ng-template>
            </data-template-column>
        </tl-data-table>
    </mat-card>
</div>
