<tl-data-table [rows]="rows"
               [isRemote]="isRemote"
               [isSoftDeletable]="isSoftDeletable"
               [showInactiveRecords]="showInactiveRecords"
               [showAddButton]="showAddButton"
               [recordsPerPage]="recordsPerPage"
               (activeRecordChanged)="editTransportationLogBookPage($event, !$event.isActive 
                                                                             || $event.status === logBookPageStatusesEnum.Canceled
                                                                             || $event.isLogBookFinished
                                                                             || !canEditTransportationLogBookRecords)">
    <data-template-column propertyName="PageNumber"
                          [flexRate]="0.2"
                          [cellClass]="'justify-center'"
                          columnName="{{ 'catches-and-sales.transportation-page' | tlTranslate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="multi-line break-all-words">{{ row.data.pageNumber }}</span>
        </ng-template>
    </data-template-column>

    <data-template-column propertyName="StatusName"
                          [flexRate]="0.2"
                          [cellClass]="'justify-center'"
                          columnName="{{ 'catches-and-sales.transportation-page-status' | tlTranslate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                <span>{{ row.data.statusName }}</span>
                <tl-icon *ngIf="row.data.status === logBookPageStatusesEnum.Canceled && row.data.cancellationReason && row.data.cancellationReason.length !== 0"
                         icon="ic-fluent-warning-24-filled"
                         iconClass="warn-orange-color"
                         [matTooltip]="row.data.cancellationReason"
                         matTooltipPosition="above"
                         matTooltipShowDelay="250"
                         [size]="icIconSize">
                </tl-icon>
            </div>
        </ng-template>
    </data-template-column>

    <data-column propertyName="loadingDate"
                 [flexRate]="0.2"
                 dataType="date"
                 columnName="{{ 'catches-and-sales.transportation-loading-date' | tlTranslate }}">
    </data-column>

    <data-column propertyName="deliveryLocation"
                 [flexRate]="0.2"
                 columnName="{{ 'catches-and-sales.transportation-delivery-location' | tlTranslate }}">
    </data-column>

    <data-column propertyName="vehicleNumber"
                 [flexRate]="0.2"
                 columnName="{{ 'catches-and-sales.transportation-vehicle-number' | tlTranslate }}">
    </data-column>

    <data-column propertyName="productsInformation"
                 [flexRate]="0.4"
                 columnName="{{ 'catches-and-sales.transportation-products-information' | tlTranslate }}">
    </data-column>

    <data-template-column *ngIf="showActionButtons" [flexRate]="0.2" [cellClass]="'justify-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div fxLayout="row wrap" fxLayoutAlign="end center">
                <tl-icon-button *ngIf="!row.data.isLogBookFinished 
                                       && canCancelTransportationLogBookRecords 
                                       && row.data.status !== logBookPageStatusesEnum.Canceled
                                       && !row.data.consistsOriginProducts"
                                icon="ic-cancel"
                                [size]="icIconSize"
                                (buttonClicked)="onAnnulTransportationLogBookPageBtnClicked(row.data)"
                                iconClass="accent-color"
                                tooltipText="{{ 'catches-and-sales.anull-transportation-log-book-page' | tlTranslate }}">
                </tl-icon-button>

                <tl-icon-button *ngIf="row.data.status !== logBookPageStatusesEnum.Missing"
                                icon="visibility"
                                (buttonClicked)="editTransportationLogBookPage(row.data, true)"
                                iconClass="accent-color"
                                tooltipText="{{ 'catches-and-sales.view-transportation-log-book-page' | tlTranslate }}">
                </tl-icon-button>

                <tl-icon-button *ngIf="!row.data.isLogBookFinished && canEditTransportationLogBookRecords && row.data.status !== logBookPageStatusesEnum.Canceled"
                                icon="edit"
                                (buttonClicked)="editTransportationLogBookPage(row.data, false)"
                                iconClass="accent-color"
                                tooltipText="{{ 'catches-and-sales.edit-transportation-log-book-page' | tlTranslate }}">
                </tl-icon-button>
            </div>
        </ng-template>
    </data-template-column>
</tl-data-table>