<tl-card>
    <tl-card-title>{{ 'inspections.location' | tlTranslate }}</tl-card-title>
    <tl-card-content>
        <div [formGroup]="form"
             fxLayout="column"
             fxLayoutAlign="start stretch">
            <div fxLayout="row"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start center">
                <tl-coordinates fxFlex="50"
                                formControlName="latitudeControl"
                                label="{{ 'inspections.latitude' | tlTranslate }}">
                </tl-coordinates>

                <tl-coordinates fxFlex="50"
                                formControlName="longitudeControl"
                                label="{{ 'inspections.longitude' | tlTranslate }}">
                </tl-coordinates>

                <tl-icon-button *ngIf="!isDisabled"
                                [icon]="selectIcon"
                                (buttonClicked)="toggleMapSelection()">
                </tl-icon-button>
            </div>

            <div [class]="'map ' + (selectIcon !== 'pin_drop' ? 'map-shadow' : '')"
                 style="height:300px; max-height:400px">
                <tl-map-viewer [mapOptions]="mapOptions"
                               (clickPointMapCoordinatesEvent)="onMapClicked($event)">
                </tl-map-viewer>
            </div>
        </div>
    </tl-card-content>
</tl-card>