<div class="terms-container-wrapper">
    <div class="terms-container">
        <h1>Политика за поверителност за Изпълнителна Агенция по Рибарство и Аквакултури</h1>
        <p>В ИАРА - Информационно-Статистическа Система, достъпна от iara.egov.bg, един от основните ни приоритети е
            поверителността на нашите посетители. Този документ за политика за поверителност съдържа видове информация,
            която се събира и записва от ИАРА - Информационно-Статистическа Система и как го използваме.</p>
        <p>Ако имате допълнителни въпроси или се нуждаете от повече информация относно нашата политика за поверителност,
            не се колебайте да се свържете с нас.</p>
        <p>Тази политика за поверителност се прилага само за нашите онлайн дейности и е валидна за посетителите на нашия
            уебсайт по отношение на информацията, която те споделят и/или събират в ИАРА - Информационно-Статистическа
            Система. Тази политика не е приложима за информация, събрана офлайн или чрез канали, различни от този
            уебсайт.</p>
        <h2>Съгласие</h2>
        <p>Използвайки нашия уебсайт, вие се съгласявате с нашата политика за поверителност и се съгласявате с нейните
            условия.</p>
        <h2>Информация, която събираме</h2>
        <p>Личната информация, която трябва да предоставите, и причините, поради които трябва да я предоставите, ще ви
            бъдат изяснени в момента, в който поискаме от вас да предоставите вашата лична информация.</p>
        <p>Ако се свържете директно с нас, може да получим допълнителна информация за вас като вашето име, ЕГН, имейл
            адрес, телефонен номер, съдържанието на съобщението и/или прикачените файлове, които може да ни изпратите,
            както и всяка друга информация, която можете да решите да предоставите.</p>
        <p>Когато регистрирате акаунт, може да поискаме вашата информация за контакт, включително елементи като име,
            ЕГН, име на фирма, адрес, имейл адрес и телефонен номер.</p>
        <h2>Как използваме вашата информация</h2>
        <p>Ние използваме информацията, която събираме по различни начини, включително за:</p>
        <ul>
            <li>Предоставяне, опериране и поддържане на нашия уебсайт</li>
            <li>Подобряване, персонализиране и разширяване на нашия уебсайт</li>
            <li>Разбиране и анализиране как използвате нашия уебсайт</li>
            <li>Разработване на нови продукти, услуги, характеристики и функционалност</li>
            <li>Комуникиране с вас директно или чрез някой от нашите партньори, включително за обслужване на клиенти, за
                да ви се предоставят актуализации и друга информация, свързана с уебсайта, както и за маркетингови и
                промоционални цели</li>
            <li>Изпращане на имейли</li>
            <li>Намеране и предотвратяване на измами</li>
        </ul>
        <h2>Регистрационнен файл</h2>
        <p>ИАРА - Информационно-Статистическа Система следва стандартна процедура за използване на регистрови файлове.
            Тези файлове записват посетители, когато посещават уебсайтове. Всички хостинг компании правят това и част от
            анализа на хостинг услугите. Информацията, събрана от регистрационните файлове, включва адреси на интернет
            протокол (IP), тип браузър, доставчик на интернет услуги (ISP), клеймо за дата и час, препращащи/изходни
            страници и евентуално броя кликвания. Те не са свързани с никаква информация, която може да бъде
            идентифицирана лично. Целта на информацията е за анализиране на тенденции, администриране на сайта,
            проследяване на движението на потребителите в уебсайта и събиране на демографска информация.</p>
        <h2>Бисквитки</h2>
        <p>Както всеки друг уебсайт, ИАРА - Информационно-Статистическа Система използва „бисквитки“. Тези бисквитки се
            използват за съхраняване на информация, включително предпочитанията на посетителите и страниците на
            уебсайта, до които посетителят е отворил или посетил. Информацията се използва за оптимизиране на
            изживяването на потребителите чрез персонализиране на съдържанието на нашата уеб страница въз основа на типа
            браузър на посетителите и/или друга информация.</p>
        <h2>Правила за поверителност на рекламните партньори</h2>
        <p>Можете да прегледате този списък, за да намерите Политиката за поверителност на всеки от рекламните партньори
            на ИАРА - Информационно-Статистическа Система.</p>
        <p>Рекламните сървъри или рекламни мрежи на трети страни използват технологии като бисквитки и JavaScript, които
            се използват в съответните им реклами и връзки, които се показват в ИАРА - Информационно-Статистическа
            Система, които се изпращат директно до браузъра на потребителите. Те автоматично получават вашия IP адрес,
            когато това се случи. Тези технологии се използват за измерване на ефективността на техните рекламни
            кампании и/или за персонализиране на рекламното съдържание, което виждате на уебсайтовете, които посещавате.
        </p>
        <p>Имайте предвид, че ИАРА - Информационно-Статистическа Система няма достъп или контрол върху тези бисквитки,
            които се използват от рекламодатели трети страни.</p>
        <h2>Правила за поверителност на трети страни</h2>
        <p>На ИАРА - Информационно-Статистическа Система политиката за поверителност не важи за други рекламодатели или
            уебсайтове .Ето защо ви съветваме да се консултирате със съответните политики за поверителност на тези
            рекламни сървъри на трети страни за по-подробна информация. Може да включва техните практики и инструкции
            как да се откажете от определени опции.</p>
        <p>Можете да изберете да деактивирате бисквитките чрез вашите индивидуални опции на браузъра. За да научите
            по-подробна информация относно управлението на бисквитки с конкретни уеб браузъри, можете да я намерите на
            съответните уебсайтове на браузърите.</p>
        <h2>GDPR Права за защита на данните</h2>
        <p>Бихме искали да сме сигурни, че сте напълно запознати с всичките си права за защита на данните. Всеки
            потребител има право на следното:</p>
        <p>Право на достъп – Имате право да поискате копия на вашите лични данни. Може да ви таксуваме малка такса за
            тази услуга.</p>
        <p>Право на коригиране – имате право да поискате да коригираме всяка информация, която смятате за неточна. Вие
            също имате право да поискате да допълним информацията, която смятате за непълна.</p>
        <p>Право на изтриване – имате право да поискате да изтрием вашите лични данни при определени условия.</p>
        <p>Право на ограничаване на обработването – имате право да поискате да ограничим обработването на вашите лични
            данни при определени условия.</p>
        <p>Право на възражение срещу обработването – имате право да възразите срещу обработването от наша страна на
            вашите лични данни при определени условия.</p>
        <p>Право на преносимост на данните – имате право да поискате да прехвърлим данните, които сме събрали, на друга
            организация или директно на вас при определени условия.</p>
        <p>Ако направите заявка, имаме един месец, за да ви отговорим. Ако искате да упражните някое от тези права, моля
            свържете се с нас.</p>
        <h2>Информация за деца</h2>
        <p>Друга част от нашия приоритет е добавянето на защита за децата при използване на интернет. Насърчаваме
            родителите и настойниците да наблюдават, участват и/или наблюдават и насочват своята онлайн дейност.</p>
        <p>ИАРА - Информационно-Статистическа Система не събира съзнателно каквато и да е лична информация от деца под
            13-годишна възраст. Ако смятате, че вашето дете е предоставило този вид информация на нашия уебсайт, горещо
            ви препоръчваме да се свържете с нас незабавно и ние ще направим нашето положим всички усилия за незабавно
            премахване на такава информация от нашите записи.</p>
    </div>
</div>