<div class="container"
     [style.height.px]="containerHeightPx">
    <!-- Main panel -->
    <div class="main-panel"
         [style.width.px]="mainPanelWidthPx"
         [style.height.px]="mainPanelHeightPx">
        <mat-tab-group mat-align-tabs="start"
                       (selectedIndexChange)="onTabChange($event)">
            <!-- Данни за кораба -->
            <mat-tab label="{{ 'ships-register.ship-data' | tlTranslate }}"
                     [disabled]="disableTabs">
                <edit-ship [formControl]="shipControl"
                           [service]="service"
                           [isReadonly]="true"
                           [viewMode]="viewMode"
                           [isThirdPartyShip]="isThirdPartyShip"
                           [disableFieldsByEventType]="disableFieldsByEventType"
                           (shipRegisterLoaded)="onShipDataLoaded($event)">
                </edit-ship>
            </mat-tab>

            <!-- Уреди -->
            <mat-tab label="{{ 'ships-register.fishing-gear' | tlTranslate }}"
                     [disabled]="disableTabs">
                <tl-card>
                    <tl-card-content>
                        <fishing-gears [formControl]="fishingGearsControl"
                                       [isReadonly]="true"
                                       [service]="commercialFishingService">
                        </fishing-gears>
                    </tl-card-content>
                </tl-card>
            </mat-tab>

            <!-- УСР/РСР -->
            <mat-tab label="{{ 'ships-register.usr-rsr' | tlTranslate }}"
                     [disabled]="disableTabs">
                <commercial-fishing-register [reloadData]="reloadUsrRsrData"
                                             [shipId]="shipId">
                </commercial-fishing-register>
            </mat-tab>

            <!-- Декларации -->
            <mat-tab label="{{ 'ships-register.declarations' | tlTranslate }}"
                     [disabled]="disableTabs">
                <tl-card>
                    <tl-card-content>
                        <tl-data-table #logbookPagesTable
                                       [showAddButton]="false"
                                       [showInactiveRecords]="false"
                                       [recordsPerPage]="13">
                            <data-column [flexRate]="0.2"
                                         propertyName="logBookNum"
                                         columnName="{{ 'ships-register.ship-declarations-log-book-num' | tlTranslate }}">
                            </data-column>

                            <data-column [flexRate]="0.15"
                                         propertyName="pageNum"
                                         columnName="{{ 'ships-register.ship-declarations-log-book-page-num' | tlTranslate }}">
                            </data-column>

                            <data-column [flexRate]="0.2"
                                         propertyName="fishingGear"
                                         columnName="{{ 'ships-register.ship-declarations-gear-type' | tlTranslate }}">
                            </data-column>

                            <data-column [flexRate]="0.15"
                                         propertyName="outingStartDate"
                                         dataType="date"
                                         columnName="{{ 'ships-register.ship-declarations-outing-start-date' | tlTranslate }}">
                            </data-column>

                            <data-column [flexRate]="0.2"
                                         propertyName="portOfUnloading"
                                         columnName="{{ 'ships-register.ship-declarations-port-of-unloading' | tlTranslate }}">
                            </data-column>

                            <data-template-column *ngIf="hasCatchesAndSalesReadPermission" [flexRate]="0.1" [cellClass]="'justify-center'">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div fxLayout="row wrap" fxLayoutAlign="end center">
                                        <tl-icon-button icon="visibility"
                                                        (buttonClicked)="viewShipLogBookPage(row.data)"
                                                        iconClass="accent-color"
                                                        tooltipText="{{ 'ships-register.ship-declarations-view-declaration' | tlTranslate }}">
                                        </tl-icon-button>
                                    </div>
                                </ng-template>
                            </data-template-column>
                        </tl-data-table>
                    </tl-card-content>
                </tl-card>
            </mat-tab>

            <!-- Квоти -->
            <mat-tab label="{{ 'ships-register.ship-quotas' | tlTranslate }}"
                     [disabled]="disableTabs">
                <tl-card>
                    <tl-card-title>{{ 'ships-register.ship-quota-view' | tlTranslate }}</tl-card-title>

                    <tl-card-content fxLayout="column" fxLayoutGap="1em">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <tl-autocomplete fxFlex="25"
                                             [formControl]="shipQuotaControl"
                                             [options]="shipQuotasNomenclature"
                                             tooltipResourceName="ships-register.ship-quota-helper"
                                             label="{{ 'ships-register.ship-quota' | tlTranslate }}">
                            </tl-autocomplete>
                        </div>

                        <!-- Основни данни за квота -->
                        <tl-card *ngIf="shipQuotaControl.value !== undefined && shipQuotaControl.value !== null"
                                 tooltipResourceName="ships-register.ship-quota-view-basic-helper">
                            <tl-card-title>{{ 'ships-register.ship-quota-view-basic' | tlTranslate }}</tl-card-title>

                            <tl-card-content [formGroup]="shipQuotaForm">
                                <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                                    <tl-input fxFlex="33"
                                              formControlName="quotaKgControl"
                                              tooltipResourceName="ships-register.ship-quota-kg-helper"
                                              label="{{ 'ships-register.ship-quota-kg' | tlTranslate }}">
                                    </tl-input>

                                    <tl-input fxFlex="33"
                                              formControlName="totalCatchControl"
                                              tooltipResourceName="ships-register.ship-quota-total-catch-helper"
                                              label="{{ 'ships-register.ship-quota-total-catch' | tlTranslate }}">
                                    </tl-input>

                                    <tl-input fxFlex="33"
                                              formControlName="leftoverQuotaKgControl"
                                              tooltipResourceName="ships-register.ship-quota-leftover-helper"
                                              label="{{ 'ships-register.ship-quota-leftover' | tlTranslate }}">
                                    </tl-input>
                                </div>
                            </tl-card-content>
                        </tl-card>

                        <!-- История на промените -->
                        <tl-card *ngIf="shipQuotaControl.value !== undefined && shipQuotaControl.value !== null"
                                 tooltipResourceName="ships-register.ship-quota-view-history-helper">
                            <tl-card-title>{{ 'ships-register.ship-quota-view-history' | tlTranslate }}</tl-card-title>

                            <tl-card-content>
                                <tl-data-table fxFlexFill
                                               [rows]="shipQuotaHistory"
                                               [isRemote]="false"
                                               [isSoftDeletable]="true"
                                               [showAddButton]="false"
                                               [showInactiveRecords]="false">
                                    <data-column [flexRate]="0.2"
                                                 propertyName="dateOfChange"
                                                 dataType="date"
                                                 columnName="{{ 'ships-register.ship-quota-history-date' | tlTranslate }}">
                                    </data-column>

                                    <data-column [flexRate]="0.2"
                                                 propertyName="shipQuotaSize"
                                                 columnName="{{ 'ships-register.ship-quota-history-size' | tlTranslate }}">
                                    </data-column>

                                    <data-column [flexRate]="0.2"
                                                 propertyName="shipQuotaIncrement"
                                                 columnName="{{ 'ships-register.ship-quota-history-increment' | tlTranslate }}">
                                    </data-column>

                                    <data-column [flexRate]="0.4"
                                                 propertyName="incrementReason"
                                                 columnName="{{ 'ships-register.ship-quota-increment-reason' | tlTranslate }}">
                                    </data-column>
                                </tl-data-table>
                            </tl-card-content>
                        </tl-card>

                        <!-- История на улова -->
                        <tl-card *ngIf="shipQuotaControl.value !== undefined && shipQuotaControl.value !== null"
                                 tooltipResourceName="ships-register.ship-quota-view-catch-history-helper">
                            <tl-card-title>{{ 'ships-register.ship-quota-view-catch-history' | tlTranslate }}</tl-card-title>

                            <tl-card-content>
                                <tl-data-table fxFlexFill
                                               [rows]="shipQuotaCatchHistory"
                                               [isRemote]="false"
                                               [isSoftDeletable]="true"
                                               [showAddButton]="false"
                                               [showInactiveRecords]="false">
                                    <data-column [flexRate]="0.2"
                                                 propertyName="dateOfCatch"
                                                 dataType="date"
                                                 columnName="{{ 'ships-register.ship-quota-catch-history-date' | tlTranslate }}">
                                    </data-column>

                                    <data-column [flexRate]="0.2"
                                                 propertyName="quantityKg"
                                                 columnName="{{ 'ships-register.ship-quota-catch-history-quantity' | tlTranslate }}">
                                    </data-column>

                                    <data-column [flexRate]="0.2"
                                                 propertyName="placeOfCatch"
                                                 columnName="{{ 'ships-register.ship-quota-catch-history-place' | tlTranslate }}">
                                    </data-column>

                                    <data-column [flexRate]="0.3"
                                                 propertyName="logbookPage"
                                                 columnName="{{ 'ships-register.ship-quota-catch-history-logbook-page' | tlTranslate }}">
                                    </data-column>
                                </tl-data-table>
                            </tl-card-content>
                        </tl-card>
                    </tl-card-content>
                </tl-card>
            </mat-tab>

            <!-- Проверки -->
            <mat-tab label="{{ 'ships-register.inspections' | tlTranslate }}"
                     [disabled]="disableTabs">
                <inspections-register [reloadData]="reloadInspectionsData"
                                      [shipId]="shipId">
                </inspections-register>
            </mat-tab>

            <!-- Присъдени точки -->
            <mat-tab label="{{ 'ships-register.given-points' | tlTranslate }}"
                     [disabled]="disableTabs">
                <penal-points [reloadData]="reloadGivenPointsData"
                              [shipId]="shipId">
                </penal-points>
            </mat-tab>

            <!-- Статистически формуляри -->
            <mat-tab label="{{ 'ships-register.statistical-forms' | tlTranslate }}"
                     [disabled]="disableTabs">
                <tl-card>
                    <tl-card-content>
                        <tl-data-table fxFlexFill
                                       [rows]="statisticalForms"
                                       [isRemote]="false"
                                       [showAddButton]="false"
                                       [showInactiveRecords]="false">
                            <data-column [flexRate]="0.2"
                                         propertyName="year"
                                         columnName="{{ 'ships-register.ship-stat-form-year' | tlTranslate }}">
                            </data-column>

                            <data-column [flexRate]="0.2"
                                         dataType="date"
                                         propertyName="submissionDate"
                                         columnName="{{ 'ships-register.ship-stat-form-submission-date' | tlTranslate }}">
                            </data-column>

                            <data-template-column *ngIf="hasStatisticalFormReadPermission" [flexRate]="0.1" [cellClass]="'justify-center'">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div fxLayout="row wrap" fxLayoutAlign="end center">
                                        <tl-icon-button icon="visibility"
                                                        (buttonClicked)="viewStatisticalFormFishVessel(row.data)"
                                                        iconClass="accent-color"
                                                        tooltipText="{{ 'ships-register.ship-stat-form-view-form' | tlTranslate }}">
                                        </tl-icon-button>
                                    </div>
                                </ng-template>
                            </data-template-column>
                        </tl-data-table>
                    </tl-card-content>
                </tl-card>
            </mat-tab>
        </mat-tab-group>
    </div>

    <!-- Events panel -->
    <div class="events-panel"
         [class.expanded-events-panel]="isEventsPanelExpanded"
         [class.collapsed-events-panel]="!isEventsPanelExpanded"
         (transitionend)="onEventsPanelToggled($event)">
        <div *ngIf="isEventsPanelExpanded" fxLayout="row" fxLayoutAlign="space-between center">
            <tl-icon-button icon="arrow_forward_ios"
                            (buttonClicked)="toggleEventsPanel()"
                            iconClass="primary-color"
                            tooltipText="{{ 'ships-register.collapse-events-panel' | tlTranslate }}">
            </tl-icon-button>

            <tl-audit [auditInfo]="auditInfo"
                      (openAudit)="auditBtnClicked()"
                      (openDetailedAudit)="detailedAuditBtnClicked()">
            </tl-audit>
        </div>

        <div *ngIf="!isEventsPanelExpanded">
            <tl-icon-button icon="arrow_back_ios"
                            (buttonClicked)="toggleEventsPanel()"
                            iconClass="primary-color"
                            tooltipText="{{ 'ships-register.expand-events-panel' | tlTranslate }}">
            </tl-icon-button>

            <tl-audit [auditInfo]="auditInfo"
                      (openAudit)="auditBtnClicked()"
                      (openDetailedAudit)="detailedAuditBtnClicked()">
            </tl-audit>
        </div>

        <div *ngIf="isEventsPanelOpen" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em">
            <div *ngIf="!viewMode" fxLayout="column" fxLayoutAlign="start end" class="event-save-btn-container">
                <tl-autocomplete fxFlexFill
                                 [formControl]="eventTypeControl"
                                 [groupedOptions]="eventTypes"
                                 [showHint]="selectedEventHistoryNo !== allEvents.length"
                                 [getControlErrorLabelText]="getEventTypeErrorText.bind(this)"
                                 tooltipResourceName="ships-register.add-event-helper"
                                 hint="{{ 'ships-register.selected-event-history-cannot-edit' | tlTranslate }}"
                                 label="{{ 'ships-register.choose-event-type' | tlTranslate }}">
                </tl-autocomplete>

                <!-- Application edit scheme -->
                <div *ngIf="isChangeOfCircumstancesApplication || isDeregistrationApplication || isIncreaseCapacityApplication || isReduceCapacityApplication; else notChangeApplication"
                     fxLayout="column"
                     fxLayoutAlign="start end"
                     fxLayoutGap="0.5em"
                     fxFill>
                    <div matTooltip="{{ 'ships-register.do-application-change-btn-disabled-tooltip' | tlTranslate }}"
                         [matTooltipDisabled]="eventTypeControl.value"
                         [matTooltipShowDelay]="500">
                        <button mat-raised-button
                                color="accent"
                                [disabled]="!eventTypeControl.value"
                                (click)="saveEvent(false)">
                            {{ 'ships-register.do-application-change' | tlTranslate }}
                        </button>
                    </div>

                    <mat-divider fxFill></mat-divider>

                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                        <button mat-raised-button
                                color="primary"
                                (click)="cancelChangesApplication()">
                            {{ 'ships-register.cancel-changes-application' | tlTranslate }}
                        </button>

                        <div matTooltip="{{ 'ships-register.complete-changes-application-btn-disabled-tooltip' | tlTranslate }}"
                             [matTooltipDisabled]="!disableCompleteApplicationButton"
                             [matTooltipShowDelay]="500">
                            <button mat-raised-button
                                    color="accent"
                                    [disabled]="disableCompleteApplicationButton"
                                    (click)="completeChangesApplication()">
                                {{ 'ships-register.complete-changes-application' | tlTranslate }}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Simple EDIT -->
                <ng-template #notChangeApplication>
                    <button mat-raised-button
                            color="accent"
                            (click)="saveEvent(true)">
                        {{ 'ships-register.save-event' | tlTranslate }}
                    </button>
                </ng-template>
            </div>

            <!-- Event history table -->
            <div class="events-panel-table"
                 fxLayout="column"
                 fxLayoutAlign="start stretch">
                <tl-slide-toggle class="show-edits-toggle"
                                 [formControl]="showEditsControl"
                                 label="{{ 'ships-register.show-edit-events' | tlTranslate }}">
                </tl-slide-toggle>

                <tl-data-table fxFlexFill
                               [rows]="events"
                               [isRemote]="false"
                               [showInactiveRecords]="false"
                               [showAddButton]="false"
                               [recordsPerPage]="10"
                               (activeRecordChanged)="viewHistoryShip($event)">
                    <data-template-column [flexRate]="0.025"
                                          propertyName="No"
                                          columnName="{{ 'ships-register.events-panel-no' | tlTranslate }}">
                        <ng-template ngx-datatable-cell-template
                                     let-row="row">
                            <span [ngClass]="{ 'event-cell-temporary': row.data.isTemporary }"
                                  [matTooltipDisabled]="!row.data.isTemporary"
                                  matTooltip="{{ 'ships-register.event-temporary' | tlTranslate }}">
                                {{ row.data.no }}
                            </span>
                        </ng-template>
                    </data-template-column>

                    <data-template-column [flexRate]="0.275"
                                          propertyName="Type"
                                          columnName="{{ 'ships-register.events-panel-event' | tlTranslate }}">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span [ngClass]="{ 'event-cell-temporary': row.data.isTemporary }"
                                  [matTooltipDisabled]="!row.data.isTemporary"
                                  matTooltip="{{ 'ships-register.event-temporary' | tlTranslate }}">
                                {{ row.data.type }}
                            </span>
                        </ng-template>
                    </data-template-column>

                    <data-template-column [flexRate]="0.4"
                                          propertyName="Date"
                                          columnName="{{ 'ships-register.events-panel-date' | tlTranslate }}">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span [ngClass]="{ 'event-cell-temporary': row.data.isTemporary }"
                                  [matTooltipDisabled]="!row.data.isTemporary"
                                  matTooltip="{{ 'ships-register.event-temporary' | tlTranslate }}">
                                {{ row.data.date | date: 'dd.MM.yyyy' }}
                            </span>
                        </ng-template>
                    </data-template-column>

                    <data-template-column [flexRate]="0.2"
                                          propertyName="UsrRsr"
                                          columnName="{{ 'ships-register.events-panel-usr-rsr' | tlTranslate }}">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div fxLayout="row"
                                 fxLayoutAlign="center center"
                                 [matTooltipDisabled]="!row.data.isTemporary"
                                 matTooltip="{{ 'ships-register.event-temporary' | tlTranslate }}">
                                <tl-icon *ngIf="row.data.usrRsr"
                                         icon="check_circle_outline"
                                         [iconClass]="row.data.isTemporary ? 'error-color' : 'accent-color'">
                                </tl-icon>
                                <tl-icon *ngIf="!row.data.usrRsr"
                                         icon="close"
                                         [iconClass]="'error-color'">
                                </tl-icon>
                            </div>
                        </ng-template>
                    </data-template-column>

                    <data-template-column [flexRate]="0.15">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <tl-icon-button icon="visibility"
                                                [iconClass]="row.data.isTemporary ? 'error-color' : 'accent-color'"
                                                (buttonClicked)="viewHistoryShip(row.data)"
                                                [disabled]="row.data.no === selectedEventHistoryNo"
                                                tooltipText="{{ 'ships-register.events-panel-view-ship' | tlTranslate }}">
                                </tl-icon-button>
                            </div>
                        </ng-template>
                    </data-template-column>
                </tl-data-table>
            </div>
        </div>
    </div>

    <!-- Change of circumstances panel -->
    <div *ngIf="isChangeOfCircumstancesApplication"
         tlResizable="top"
         (tlResizableChanged)="onCocPanelResized($event)"
         class="change-of-circumstances-panel"
         [style.width.px]="mainPanelWidthPx">
        <h2><b>{{ 'ships-register.changes-from-application' | tlTranslate }}</b></h2>
        <change-of-circumstances [formControl]="changeOfCircumstancesControl"
                                 [pageCode]="pageCode"
                                 [disableDelete]="true">
        </change-of-circumstances>
    </div>

    <!-- Deregistration panel -->
    <div *ngIf="isDeregistrationApplication"
         tlResizable="top"
         (tlResizableChanged)="onCocPanelResized($event)"
         class="change-of-circumstances-panel"
         [style.width.px]="mainPanelWidthPx">
        <h2><b>{{ 'ships-register.deregistration-application-reason' | tlTranslate }}</b></h2>
        <tl-textarea [formControl]="deregistrationReasonControl"
                     tooltipResourceName="ships-register.deregistration-application-reason-helper"
                     label="{{ 'ships-register.deregistration-application-reason' | tlTranslate }}">
        </tl-textarea>
    </div>

    <!-- Increase capacity application panel -->
    <div *ngIf="isIncreaseCapacityApplication"
         tlResizable="top"
         (tlResizableChanged)="onCocPanelResized($event)"
         class="change-of-circumstances-panel"
         [style.width.px]="mainPanelWidthPx">
        <h2><b>{{ 'ships-register.increase-capacity-application-parameters' | tlTranslate }}</b></h2>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start start" fxFill>
            <tl-input fxFlex="25"
                      [formControl]="capacityChangeTonnageControl"
                      tooltipResourceName="ships-register.increase-capacity-application-tonnage-helper"
                      label="{{ 'ships-register.increase-capacity-application-tonnage' | tlTranslate }}">
            </tl-input>

            <tl-input fxFlex="25"
                      [formControl]="capacityChangePowerControl"
                      tooltipResourceName="ships-register.increase-capacity-application-power-helper"
                      label="{{ 'ships-register.increase-capacity-application-power' | tlTranslate }}">
            </tl-input>

            <div fxFlex="25"></div>
            <div fxFlex="25"></div>
        </div>
    </div>

    <!-- Reduce capacity application panel -->
    <div *ngIf="isReduceCapacityApplication"
         tlResizable="top"
         (tlResizableChanged)="onCocPanelResized($event)"
         class="change-of-circumstances-panel"
         [style.width.px]="mainPanelWidthPx">
        <h2><b>{{ 'ships-register.reduce-capacity-application-parameters' | tlTranslate }}</b></h2>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start start" fxFill>
            <tl-input fxFlex="25"
                      [formControl]="capacityChangeTonnageControl"
                      tooltipResourceName="ships-register.reduce-capacity-application-tonnage-helper"
                      label="{{ 'ships-register.reduce-capacity-application-tonnage' | tlTranslate }}">
            </tl-input>

            <tl-input fxFlex="25"
                      [formControl]="capacityChangePowerControl"
                      tooltipResourceName="ships-register.reduce-capacity-application-power-helper"
                      label="{{ 'ships-register.reduce-capacity-application-power' | tlTranslate }}">
            </tl-input>

            <div fxFlex="25"></div>
            <div fxFlex="25"></div>
        </div>
    </div>
</div>
