<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     fxLayoutAlign="space-between stretch"
     validityCheckerGroup
     [formGroup]="form"
     [notifierGroup]="notifier">
    <!--Дата на издаване и валидност-->
    <tl-expansion-panel *ngIf="!isApplication && !showOnlyRegiXData"
                        title="{{ 'commercial-fishing.validity-panel' | tlTranslate }}"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="form.errors?.addPermitIsSecondShipEventToday === null
                                                         || form.errors?.addPermitIsSecondShipEventToday === undefined"
                        tooltipResourceName="commercial-fishing.validity-panel-helper">
        <div fxFlex="100" fxLayout="column" fxLayoutGap="1em">
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                <tl-input *ngIf="!isPermitLicense"
                          fxFlex="25"
                          formControlName="permitRegistrationNumberControl"
                          label="{{ 'commercial-fishing.permit-number' | tlTranslate }}"
                          tooltipResourceName="commercial-fishing.permit-number-helper"
                          [readonly]="true">
                </tl-input>
                <tl-input *ngIf="isPermitLicense"
                          fxFlex="25"
                          formControlName="permitLicenseRegistrationNumberControl"
                          label="{{ 'commercial-fishing.license-number' | tlTranslate }}"
                          tooltipResourceName="commercial-fishing.license-number-helper"
                          [readonly]="true">
                </tl-input>
                <tl-date fxFlex="25"
                         formControlName="issueDateControl"
                         [readonly]="!isRegisterEntry"
                         [max]="today"
                         label="{{ 'commercial-fishing.issue-date' | tlTranslate }}"
                         tooltipResourceName="commercial-fishing.issue-date-helper">
                </tl-date>
                <tl-date *ngIf="form.controls.isPermitUnlimitedControl?.value === true; else permitIsLimited"
                         fxFlex="25"
                         formControlName="validFromUnlimitedControl"
                         [min]="form.controls.issueDateControl?.value"
                         label="{{ 'commercial-fishing.valid-from-when-unlimited' | tlTranslate }}"
                         tooltipResourceName="commercial-fishing.valid-from-when-unlimited-helper">
                </tl-date>
                <ng-template #permitIsLimited>
                    <div [fxFlex]="isPermitLicense ? 50 : 30" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                        <tl-date fxFlex="50"
                                 formControlName="validFromControl"
                                 [min]="form.controls.issueDateControl?.value"
                                 [max]="form.controls.validToControl?.value"
                                 label="{{ 'commercial-fishing.valid-from' | tlTranslate }}"
                                 tooltipResourceName="commercial-fishing.valid-from-helper">
                        </tl-date>
                        <tl-date fxFlex="50"
                                 formControlName="validToControl"
                                 [min]="form.controls.validFromControl?.value"
                                 label="{{ 'commercial-fishing.valid-to' | tlTranslate }}"
                                 tooltipResourceName="commercial-fishing.valid-to-helper">
                        </tl-date>
                    </div>
                </ng-template>
                <tl-checkbox *ngIf="!isPermitLicense"
                             fxFlex="20"
                             formControlName="isPermitUnlimitedControl"
                             label="{{ 'commercial-fishing.is-permit-unlimited' | tlTranslate }}"
                             tooltipResourceName="commercial-fishing.is-permit-unlimited-helper">
                </tl-checkbox>
            </div>
            <div *ngIf="form.errors?.addPermitIsSecondShipEventToday"
                 fxFlex="100"
                 fxLayout="row"
                 fxLayoutAlign="start center"
                 fxLayoutGap="1em">
                <mat-error>
                    * {{ 'commercial-fishing.add-permit-is-second-ship-event-error' | tlTranslate }}
                </mat-error>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Прекратявания -->
    <tl-expansion-panel *ngIf="!isApplication && canReadSuspensions && form.get('suspensionsControl')?.value && form.get('suspensionsControl')?.value.length > 0"
                        title="{{ 'commercial-fishing.suspension-history-panel' | tlTranslate }}"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="form.errors?.suspendResumeIsSecondShipEventToday === null
                                                         && form.errors?.suspendResumeIsSecondShipEventToday === undefined"
                        tooltipResourceName="commercial-fishing.suspension-history-panel-helper">
        <div fxFlex="100" fxLayout="column" fxLayoutGap="1em">
            <div fxFlex="100" fxLayout="row">
                <suspensions fxFlex="100"
                             formControlName="suspensionsControl"
                             [isPermitLicense]="isPermitLicense"
                             [postOnAdd]="false"
                             [pageCode]="pageCode"
                             [viewMode]="viewMode || isReadonly"
                             [service]="service"
                             [showAddButton]="false">
                </suspensions>
            </div>
            <mat-error *ngIf="form.errors?.suspendResumeIsSecondShipEventToday">
                * {{ 'commercial-fishing.suspend-resume-is-second-event-for-ship-error' | tlTranslate }}
            </mat-error>
        </div>
    </tl-expansion-panel>

    <!-- Заявител -->
    <application-submitted-by *ngIf="isApplication"
                              formControlName="submittedByControl"
                              notifier
                              validityChecker
                              label="{{ 'commercial-fishing.submitted-by-panel' | tlTranslate }}"
                              [isIdReadOnly]="isEditingSubmittedBy"
                              [isForeigner]="isThirdCountryPermit"
                              [hideDocument]="hideSubmittedByDocument"
                              [expectedResults]="expectedResults.submittedBy">
    </application-submitted-by>

    <!-- Получател -->
    <application-submitted-for formControlName="submittedForControl"
                               notifier
                               validityChecker
                               relationLabel="{{ 'commercial-fishing.submitted-by-role-panel' | tlTranslate }}"
                               [submittedForLabel]="submittedForLabel"
                               [pageCode]="pageCode"
                               [hideRelation]="showOnlyRegiXData || !isApplication"
                               [showPersonal]="!isApplication"
                               [isIdReadOnly]="isEditing && isIdReadOnly"
                               [isForeigner]="isThirdCountryPermit"
                               [submittedByControl]="form.controls.submittedByControl"
                               [expectedResults]="expectedResults.submittedFor"
                               [showCustodianOfProperty]="false">
        <!-- Данни за риболовния кораб -->
        <tl-expansion-panel middle
                            *ngIf="!showOnlyRegiXData"
                            title="{{ 'commercial-fishing.ship-data-panel' | tlTranslate }}"
                            tooltipResourceName="commercial-fishing.ship-data-panel-helper"
                            [validityChecker]="form"
                            [validityCheckerExtraCondition]="hasSubmittedForNotShipOwnerError !== true
                                                             && selectedPermitIsInvalidOrSuspended !== true
                                                             && selectedPermitWaterTypeMismatch !== true
                                                             && selectedPermitHasNoPoundNet !== true">
            <div fxLayout="column" fxFlex="100" fxLayoutGap="1em">
                <div fxLayout="row" fxFlex="100">
                    <tl-autocomplete fxFlex="70"
                                     formControlName="shipControl"
                                     label="{{ 'commercial-fishing.ship' | tlTranslate }}"
                                     tooltipResourceName="commercial-fishing.ship-helper"
                                     [options]="ships"
                                     [readonly]="!isApplication
                                                 && (pageCode !== pageCodes.PoundnetCommFishLic
                                                      || (pageCode === pageCodes.PoundnetCommFishLic && !permitLicenseIsValid))"
                                     [getControlErrorLabelText]="getControlErrorLabelTextMethod">
                    </tl-autocomplete>
                </div>
                <div fxLayout="row" fxFlex="100">
                    <tl-radio-button-group fxFlex="100"
                                           tooltipResourceName="holder-ship-relation-helper"
                                           formControlName="holderShipRelationControl"
                                           [options]="holderShipRelations">
                    </tl-radio-button-group>
                </div>
                <!-- Освнование за ползване на кораб -->
                <tl-card *ngIf="form.controls.holderShipRelationControl!.value?.value === false"
                         tooltipResourceName="commercial-fishing.ship-grounds-for-use-data-card-helper"
                         [validityChecker]="form">
                    <tl-card-title>{{ 'commercial-fishing.ship-grounds-for-use-data-card' | tlTranslate }}</tl-card-title>
                    <tl-card-content fxFlexFill fxLayout="column">
                        <ground-for-use fxFlex="100"
                                        formControlName="shipGroundForUseControl"
                                        [groundForUseTypes]="groundForUseTypes">
                        </ground-for-use>
                    </tl-card-content>
                </tl-card>
                <div *ngIf="isApplication && isPermitLicense"
                     fxLayout="column"
                     fxFlex="100">
                    <ng-container *ngIf="!isPublicApp">
                        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
                            <tl-autocomplete fxFlex="70"
                                             formControlName="permitLicensePermitControl"
                                             label="{{ 'commercial-fishing.permit-license-permit' | tlTranslate }}"
                                             tooltipResourceName="commercial-fishing.permit-license-permit-helper"
                                             [options]="permits"
                                             [readonly]="noShipSelected"
                                             [getControlErrorLabelText]="getControlErrorLabelTextMethod">
                            </tl-autocomplete>
                            <tl-popover-button *ngIf="noShipSelected"
                                               iconType="MAT_ICON"
                                               iconClass="accent-color"
                                               icon="info"
                                               style="vertical-align:text-bottom">
                                <pre style="font-family: inherit !important; max-width: 500px !important;">{{ 'commercial-fishing.permit-is-readonly-info' | tlTranslate }}</pre>
                            </tl-popover-button>
                        </div>
                    </ng-container>
                    <div *ngIf="isPublicApp" fxFlexFill fxLayout="column">
                        <div fxFlex="100" fxLayout="row">
                            <tl-input fxFlex="70"
                                      formControlName="permitLicensePermitNumberControl"
                                      label="{{ 'commercial-fishing.permit-license-permit-number' | tlTranslate }}"
                                      tooltipResourceName="commercial-fishing.permit-license-permit-number-helper">
                            </tl-input>
                        </div>
                        <mat-error *ngIf="hasInvalidPermitRegistrationNumber">{{ 'commercial-fishing.invalid-permit-registration-number' | tlTranslate }} *</mat-error>
                        <mat-error *ngIf="selectedPermitIsInvalidOrSuspended">{{ 'commercial-fishing.selected-permit-invalid-or-suspended' | tlTranslate }} *</mat-error>
                        <mat-error *ngIf="selectedPermitWaterTypeMismatch">{{ 'commercial-fishing.selected-permit-water-type-mismatch' | tlTranslate }} {{ waterTypeName }}*</mat-error>
                        <mat-error *ngIf="selectedPermitHasNoPoundNet">{{ 'commercial-fishing.selected-permit-has-no-pound-net' | tlTranslate }} *</mat-error>
                    </div>
                </div>
            </div>
        </tl-expansion-panel>
    </application-submitted-for>
    <mat-error *ngIf="hasSubmittedForNotShipOwnerError">{{ 'commercial-fishing.has-submitted-for-not-ship-owner' | tlTranslate }} *</mat-error>

    <!-- Правосопособен рибар (капитан) -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        title="{{ 'commercial-fishing.qualified-fisher-panel' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.qualified-fisher-panel-helper"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="hasCaptainNotQualifiedFisherError !== true">
        <div fxLayout="column">
            <div *ngIf="isApplication || loadRegisterFromApplication; else registerQualifiedFisher"
                 fxLayout="column"
                 fxLayoutAlign="start stretch">
                <div fxLayout="row"
                     fxLayoutAlign="start start"
                     fxLayoutGap="2em">
                    <div fxLayout="column" fxFlex="80">
                        <div fxLayout="row wrap">
                            <tl-checkbox fxFlex="100"
                                         tooltipResourceName="qualified-fisher-same-as-submitted-for-helper"
                                         formControlName="qualifiedFisherSameAsSubmittedForControl"
                                         [label]="qualifiedFisherSameAsSubmittedForLabel">
                            </tl-checkbox>
                            <div fxFlex="32"
                                 fxFlex.md="50"
                                 fxFlex.lt-md="100"
                                 fxLayout="row"
                                 fxLayoutAlign="space-between center">
                                <egn-lnc-input [fxFlex]="isPublicApp ? 100 : 90"
                                               formControlName="qualifiedFisherIdNumberControl"
                                               [readonly]="isEditing"
                                               [isForeigner]="isThirdCountryPermit"
                                               [getControlErrorLabelText]="getControlErrorLabelTextMethod"
                                               (keydown.enter)="onQualifiedFisherIdNumberEnterDown()">
                                </egn-lnc-input>

                                <tl-icon-button *ngIf="!isPublicApp"
                                                fxFlex="10"
                                                class="regix-data-search-button"
                                                icon="fa-search-icon"
                                                [disabled]="isEditing && !isRegisterEntry"
                                                (buttonClicked)="qualifiedFisherSearchBtnClicked()"
                                                iconClass="accent-color"
                                                tooltipText="{{ 'regix-data.search' | tlTranslate }}">
                                </tl-icon-button>
                            </div>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                            <tl-input fxFlex="32"
                                      fxFlex.md="49"
                                      fxFlex.lt-md="100"
                                      formControlName="qualifiedFisherFirstNameControl"
                                      label="{{ 'regix-data.first-name' | tlTranslate }}"
                                      tooltipResourceName="regix-data.first-name-helper"
                                      [getControlErrorLabelText]="getControlErrorLabelTextMethod">
                            </tl-input>
                            <tl-input fxFlex="32"
                                      fxFlex.md="49"
                                      fxFlex.lt-md="100"
                                      formControlName="qualifiedFisherMiddleNameControl"
                                      label="{{ 'regix-data.middle-name' | tlTranslate }}"
                                      tooltipResourceName="regix-data.middle-name-helper"
                                      [getControlErrorLabelText]="getControlErrorLabelTextMethod">
                            </tl-input>
                            <tl-input fxFlex="32"
                                      fxFlex.md="49"
                                      fxFlex.lt-md="100"
                                      formControlName="qualifiedFisherLastNameControl"
                                      label="{{ 'regix-data.last-name' | tlTranslate }}"
                                      tooltipResourceName="regix-data.last-name-helper"
                                      [getControlErrorLabelText]="getControlErrorLabelTextMethod">
                            </tl-input>
                        </div>
                    </div>

                    <div *ngIf="isQualifiedFisherPhotoRequired" fxLayout="column">
                        <tl-picture-uploader formControlName="qualifiedFisherPhotoControl"
                                             [requestMethod]="photoRequestMethod"
                                             [options]="{ validations: { isRequired: true } }">
                        </tl-picture-uploader>
                    </div>

                </div>
            </div>

            <mat-error fxLayout="row" fxFlexFill *ngIf="hasCaptainNotQualifiedFisherError">
                * {{ 'commercial-fishing.has-captain-not-qualified-fisher-error' | tlTranslate }}
            </mat-error>
        </div>
        <ng-template #registerQualifiedFisher>
            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="2em">
                <div fxFlex fxLayout="row wrap" fxLayoutAlign="start center">
                    <tl-checkbox fxFlex="100"
                                 tooltipResourceName="qualified-fisher-same-as-submitted-for-helper"
                                 formControlName="qualifiedFisherSameAsSubmittedForControl"
                                 [label]="qualifiedFisherSameAsSubmittedForLabel">
                    </tl-checkbox>
                    <tl-autocomplete fxFlex="100"
                                     formControlName="qualifiedFisherControl"
                                     label="{{ 'commercial-fishing.qualified-fisher' | tlTranslate }}"
                                     tooltipResourceName="commercial-fishing.qualified-fisher-helper"
                                     [options]="qualifiedFishers"
                                     [templateOptions]="true">
                    </tl-autocomplete>
                    <tl-input fxFlex="25"
                              formControlName="qualifiedFisherRegistrationNumberControl"
                              label="{{ 'commercial-fishing.qualified-fisher-registration-number' | tlTranslate }}"
                              tooltipResourceName="commercial-fishing.qualified-fisher-registration-number-helper"
                              [readonly]="true">
                    </tl-input>
                </div>

                <div *ngIf="isQualifiedFisherPhotoRequired" fxLayout="row">
                    <tl-picture-uploader fxFlex="100"
                                         formControlName="qualifiedFisherPhotoControl"
                                         [requestMethod]="photoRequestMethod"
                                         [options]="{ validations: { isRequired: true } }">
                    </tl-picture-uploader>
                </div>
            </div>
        </ng-template>
    </tl-expansion-panel>

    <!-- Данни за далян (ако е приложимо) -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData && (pageCode === pageCodes.PoundnetCommFish || pageCode === pageCodes.PoundnetCommFishLic)"
                        title="{{ 'commercial-fishing.pound-net-panel' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.pound-net-panel-helper"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1em" fxFlex="100">
            <div fxLayout="row" fxFlex="100" fxLayoutGap="1em">
                <tl-autocomplete fxFlex="70"
                                 formControlName="poundNetControl"
                                 label="{{ 'commercial-fishing.pound-net' | tlTranslate }}"
                                 tooltipResourceName="commercial-fishing.pound-net-helper"
                                 [groupedOptions]="poundNets"
                                 [templateOptions]="true"
                                 [getControlErrorLabelText]="getControlErrorLabelTextMethod">
                </tl-autocomplete>
            </div>
            <div fxLayout="row" fxFlex="100" fxLayoutGap="1em">
                <tl-input fxFlex="25"
                          formControlName="poundNetDepthControl"
                          label="{{ 'commercial-fishing.pound-net-depth-range' | tlTranslate }}"
                          tooltipResourceName="commercial-fishing.pound-net-depth-range-helper"
                          [readonly]="true">
                </tl-input>
                <tl-input fxFlex="25"
                          formControlName="poundNetStatusControl"
                          label="{{ 'commercial-fishing.pound-net-status-name' | tlTranslate }}"
                          tooltipResourceName="commercial-fishing.pound-net-status-name-helper"
                          [readonly]="true">
                </tl-input>
            </div>
            <tl-card *ngIf="pageCode === pageCodes.PoundnetCommFish"
                     [validityChecker]="form"
                     tooltipResourceName="commercial-fishing.pound-net-grounds-for-use-data-card-helper">
                <tl-card-title>{{ 'commercial-fishing.pound-net-grounds-for-use-data-card' | tlTranslate }}</tl-card-title>
                <tl-card-content fxFlexFill fxLayout="column">
                    <ground-for-use fxFlex="100"
                                    formControlName="poundNetGroundForUseControl"
                                    [groundForUseTypes]="groundForUseTypes">
                    </ground-for-use>
                </tl-card-content>
            </tl-card>
        </div>
    </tl-expansion-panel>

    <!-- Данни за заявената услуга -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        title="{{ 'commercial-fishing.details-panel' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.details-panel-helper"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="(pageCode === pageCodes.CatchQuataSpecies && form.errors?.atLeastOneQuotaOrganism !== true) || (pageCode !== pageCodes.CatchQuataSpecies && form.errors?.atLeastOneOrganism !== true)">
        <div fxLayout="column" fxLayoutGap="1em" fxFlex="100">
            <tl-radio-button-group formControlName="waterTypeControl"
                                   label="{{ 'commercial-fishing.water-type' | tlTranslate }}"
                                   tooltipResourceName="commercial-fishing.water-type-helper"
                                   [options]="waterTypes">
            </tl-radio-button-group>
            <div *ngIf="pageCode !== pageCodes.CatchQuataSpecies && isPermitLicense" fxLayout="column" fxFlex="100" fxLayoutGap="1em">
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                    <div fxFlex="60">
                        <tl-autocomplete fxFlex="100"
                                         [formControl]="aquaticOrganismTypesControl"
                                         [options]="aquaticOrganismTypes"
                                         [focusoutOnSelect]="true"
                                         label="{{ 'commercial-fishing.aquatic-organism-types' | tlTranslate }}"
                                         tooltipResourceName="commercial-fishing.aquatic-organism-types-helper">
                        </tl-autocomplete>
                    </div>
                    <div fxFLex="40" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                        <button *ngIf="!isReadonly && !viewMode && !isFishingGearsApplication"
                                fxFlex="60"
                                mat-raised-button
                                color="accent"
                                (click)="selectAllPermittedAquaticOrganisms()">
                            {{ 'commercial-fishing.select-all-permitted-aquatic-organisms' | tlTranslate }}
                        </button>
                        <button *ngIf="!isReadonly && !viewMode && !isFishingGearsApplication"
                                fxFlex="40"
                                mat-raised-button
                                color="accent"
                                (click)="deselectAllAquaticOrganisms()">
                            {{ 'commercial-fishing.deselect-all-permitted-aquatic-organisms' | tlTranslate }}
                        </button>
                    </div>
                </div>
                <div fxFlex="100" fxLayout="column">
                    <tl-data-table fxFlexFill
                                   [rows]="selectedAquaticOrganismTypes"
                                   [isRemote]="false"
                                   [isSoftDeletable]="false"
                                   [showAddButton]="false"
                                   [showInactiveRecords]="false"
                                   [recordsPerPage]="aquaticOrganismsPerPage">
                        <data-column [flexRate]="1"
                                     propertyName="displayName"
                                     columnName="{{ 'commercial-fishing.aquatic-organism-types-column' | tlTranslate }}">
                        </data-column>
                        <data-template-column [flexRate]="0.1">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <div fxLayout="row" fxLayoutAlign="end center">
                                    <tl-icon-button *ngIf="!isReadonly && !viewMode && !isFishingGearsApplication"
                                                    icon="delete"
                                                    iconClass="accent-color"
                                                    tooltipText="{{ 'commercial-fishing.remove-aquatic-organism-type' | tlTranslate }}"
                                                    (buttonClicked)="removeAquaticOrganismType(row)">
                                    </tl-icon-button>
                                </div>
                            </ng-template>
                        </data-template-column>
                    </tl-data-table>
                    <mat-error *ngIf="form.touched && form.errors?.atLeastOneOrganism">
                        {{ 'commercial-fishing.at-least-one-aquatic-organism-must-be-selected' | tlTranslate }} *
                    </mat-error>
                </div>
            </div>
            <!-- Водни организми при квотиран вид риба -->
            <div *ngIf="pageCode === pageCodes.CatchQuataSpecies" fxLayout="column" fxFlex="100" fxLayoutGap="1em">
                <div fxFlex="100" fxLayout="column" fxLayoutGap="1em">
                    <tl-data-table #quotaAquaticOrganismTypesTable
                                   class="full-width-template"
                                   [rows]="quotaAquaticOrganisms"
                                   [isRemote]="false"
                                   [isSoftDeletable]="false"
                                   [showAddButton]="!isReadonly && !viewMode && !isFishingGearsApplication"
                                   [showInactiveRecords]="false"
                                   (recordChanged)="quotaAquaticOrganismChanged($event)">
                        <div *ngIf="!isReadonly && !viewMode && !isFishingGearsApplication"
                             datatable-add-buttons
                             fxLayout="row"
                             fxLayoutGap="1em">
                            <button mat-raised-button color="accent"
                                    (click)="selectAllPermittedPorts()"
                                    style="margin-left:auto;">
                                {{ 'commercial-fishing.add-all-permitted-ports' | tlTranslate }}
                            </button>
                        </div>
                        <data-column [flexRate]="0.5"
                                     propertyName="aquaticOrganismId"
                                     [options]="quotaAquaticOrganismTypes"
                                     [displayOptions]="allAquaticOrganismTypes"
                                     [formGroup]="quotaAquaticOrganismsForm"
                                     columnName="{{ 'commercial-fishing.aquatic-organism-types-column' | tlTranslate }}"
                                     dataType="nomenclature">
                        </data-column>
                        <data-column [flexRate]="0.5"
                                     propertyName="portId"
                                     [options]="ports"
                                     [displayOptions]="allPorts"
                                     [formGroup]="quotaAquaticOrganismsForm"
                                     columnName="{{ 'commercial-fishing.port-of-unloading-column' | tlTranslate }}"
                                     dataType="nomenclature">
                        </data-column>
                        <data-column-inline [flexRate]="0.2" *ngIf="!isReadonly && !viewMode && !isFishingGearsApplication"></data-column-inline>
                    </tl-data-table>
                    <mat-error *ngIf="form.touched && form.errors?.atLeastOneQuotaOrganism">
                        * {{ 'commercial-fishing.at-least-one-quota-organism-must-be-selected' | tlTranslate }}
                    </mat-error>
                    <mat-error *ngIf="form.touched && form.errors?.quotaPortUnique">
                        * {{ 'commercial-fishing.unique-quota-fish-and-port-combination-error' | tlTranslate }}: ({{ form.errors!.quotaPortUnique.fishName }}, {{ form.errors!.quotaPortUnique.portName }})
                    </mat-error>
                </div>
                <div fxFlex="100" fxLayout="row">
                    <tl-input fxFlex="40"
                              formControlName="unloaderPhoneNumberControl"
                              label="{{ 'commercial-fishing.unloader-phone-number' | tlTranslate }}"
                              tooltipResourceName="commercial-fishing.unloader-phone-number-helper">
                    </tl-input>
                </div>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Риболовни уреди -->
    <tl-expansion-panel *ngIf="isPermitLicense && !showOnlyRegiXData"
                        title="{{ 'commercial-fishing.fishing-gears-panel' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.fishing-gears-panel-helper"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="(form.get('fishingGearsGroup')!.errors === null
                                                          || form.get('fishingGearsGroup')!.errors === undefined)
                                                         && (form.get('fishingGearsGroup')!.get('fishingGearsControl')!.errors === null
                                                             || form.get('fishingGearsGroup')!.get('fishingGearsControl')!.errors === undefined)">
        <div fxLayout="column" fxFlex="100" fxLayoutGap="1em">
            <div fxLayout="column" fxFlex="100" formGroupName="fishingGearsGroup">
                <fishing-gears formControlName="fishingGearsControl"
                               validityChecker
                               [isReadonly]="isReadonly || viewMode"
                               [isApplication]="isApplication"
                               [service]="service"
                               [maxNumberOfFishingGears]="maxNumberOfFishingGears"
                               [showInspectedGears]="isApplication"
                               [pageCode]="pageCode"
                               [ships]="ships"
                               [shipId]="shipId">
                </fishing-gears>
            </div>
            <mat-error *ngIf="form.touched && form.get('fishingGearsGroup')!.errors?.atLeastOneFishingGear">
                * {{ 'commercial-fishing.at-least-one-fishing-gear-must-be-selected' | tlTranslate }}
            </mat-error>
            <mat-error *ngIf="form.touched && form.get('fishingGearsGroup')!.errors?.duplicatedPingerNumbers">
                * {{ 'commercial-fishing.permit-license-has-duplicated-pinger-numbers' | tlTranslate }}: {{ form.get('fishingGearsGroup')!.errors!.duplicatedPingerNumbers | tlJoin : ';' }}
            </mat-error>
            <mat-error *ngIf="form.touched && form.get('fishingGearsGroup')!.errors?.duplicatedMarkNumbers">
                * {{ 'commercial-fishing.permit-license-has-duplicated-mark-numbers' | tlTranslate }}: {{ form.get('fishingGearsGroup')!.errors!.duplicatedMarkNumbers | tlJoin : ';' }}
            </mat-error>
        </div>
    </tl-expansion-panel>

    <!-- Информация за плащане -->
    <tl-expansion-panel *ngIf="(isApplication || isApplicationHistoryMode) && !showOnlyRegiXData && isPaid"
                        title="{{ 'commercial-fishing.payment-information-panel' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.payment-information-panel-helper"
                        [validityChecker]="form">
        <payment-information formControlName="applicationPaymentInformationControl"
                             validityChecker
                             [hideBasicInfo]="hideBasicPaymentInfo"
                             [isOnlineApplication]="isOnlineApplication">
        </payment-information>
    </tl-expansion-panel>

    <!-- Информация за начин на връчване -->
    <tl-expansion-panel *ngIf="isApplication && !showOnlyRegiXData && hasDelivery"
                        title="{{ 'commercial-fishing.delivery-data-panel' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.delivery-data-panel-helper"
                        fxFlexLayoutGap="1em"
                        [validityChecker]="form">
        <delivery-data formControlName="deliveryDataControl"
                       validityChecker
                       [pageCode]="pageCode">
        </delivery-data>
        <mat-error *ngIf="hasNoEDeliveryRegistrationError">
            * {{ 'commercial-fishing.has-no-e-delivery-registration-error' | tlTranslate }}
        </mat-error>
    </tl-expansion-panel>

    <!-- Информация за дневници при регистров запис на удостоверение -->
    <tl-expansion-panel *ngIf="!isApplication && isPermitLicense"
                        title="{{ 'commercial-fishing.log-books-panel' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.log-books-panel-helper"
                        [validityChecker]="form">
        <div fxFlexFill fxLayout="column">
            <log-books fxFlex="100"
                       formControlName="logBooksControl"
                       validityChecker
                       [isReadonly]="isReadonly || viewMode"
                       [getLogBookSimpleAuditMethod]="getLogBookAuditMethod"
                       [logBookGroup]="logBookGroup"
                       [hasRenewalValidator]="true"
                       [isOnline]="onlyOnlineLogBooks"
                       [isRegister]="id !== undefined && id !== null"
                       [ownerType]="logBookOwnerType"
                       [isForPermitLicense]="true"
                       [permitLicenseId]="permitLicenseRegisterId"
                       [service]="administrationService"
                       [showInactivePagesAndDocuments]="!isPublicApp"
                       [disableAddButtons]="isSuspended"
                       [hasRenewMoreThanMaxPagesPermission]="canRenewLogBooksWithMoreThanMaxPages"
                       [disabledAddBtnTooltipText]="disabledAddBtnTooltipText">
            </log-books>
        </div>
    </tl-expansion-panel>

    <!-- Издадени дубликати -->
    <tl-expansion-panel *ngIf="duplicates && duplicates.length > 0"
                        title="{{ 'commercial-fishing.duplicate-entries' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.duplicate-entries-helper">
        <duplicate-entries-table [entries]="duplicates">
        </duplicate-entries-table>
    </tl-expansion-panel>

    <!-- Файлове -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        title="{{ 'commercial-fishing.files-panel' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.files-panel-helper"
                        [validityChecker]="form">
        <file-uploader-form-array formControlName="filesControl"
                                  validityChecker
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(this.service)"
                                  [fileTypeFilterFn]="fileTypeFilterFn.bind(this)"
                                  [refreshFileTypes]="refreshFileTypes">
        </file-uploader-form-array>
    </tl-expansion-panel>

    <!-- Проверки -->
    <tl-expansion-panel *ngIf="showOnlyRegiXData || showRegiXData"
                        title="{{ 'commercial-fishing.regix-checks-results-panel' | tlTranslate }}"
                        tooltipResourceName="commercial-fishing.regix-checks-results-panel-helper">
        <div fxLayout="column" fxLayoutGap="1em">
            <regix-checks-results [regixChecksCollection]="regixChecks">
            </regix-checks-results>
        </div>
    </tl-expansion-panel>
</div>