<div [formGroup]="form"
     fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     fxLayoutAlign="space-between stretch">

    <tl-checkbox formControlName="personRegisteredControl"
                 [label]="label">
    </tl-checkbox>

    <tl-autocomplete *ngIf="isFromRegister"
                     formControlName="buyerControl"
                     [label]="title"
                     [options]="buyers"
                     tooltipResourceName="inspections.edit-inspection-buyer-helper">
    </tl-autocomplete>

    <ng-container *ngIf="!isFromRegister">
        <div fxLayout="column"
             fxLayoutGap="1em">
            <tl-checkbox formControlName="isLegalControl"
                         label="{{ 'inspections.buyer-is-legal' | tlTranslate }}">
            </tl-checkbox>

            <regix-data *ngIf="!isLegal"
                        formControlName="personControl"
                        [isPerson]="true"
                        [isIdReadOnly]="false"
                        [isForeigner]="false"
                        [includeForeigner]="true"
                        [showOnlyBasicData]="true"
                        (downloadDataBtnClicked)="downloadedPersonData($event)"
                        checkboxLabel="{{ 'catches-and-sales.log-book-page-person-has-bulgarian-address-registration' | tlTranslate }}">
            </regix-data>

            <regix-data *ngIf="isLegal"
                        formControlName="legalControl"
                        [isPerson]="false"
                        [isIdReadOnly]="false"
                        [isForeigner]="false"
                        [includeForeigner]="true"
                        [showOnlyBasicData]="true"
                        (downloadDataBtnClicked)="downloadedLegalData($event)"
                        checkboxLabel="{{ 'catches-and-sales.log-book-page-person-has-bulgarian-address-registration' | tlTranslate }}">
            </regix-data>
        </div>
    </ng-container>

    <div fxLayout="row"
         fxLayoutGap="1em"
         fxLayoutAlign="start center">
        <tl-input fxFlex="50"
                  formControlName="addressControl"
                  label="{{ 'inspections.address' | tlTranslate }}"
                  tooltipResourceName="inspections.address-helper">
        </tl-input>

        <tl-autocomplete fxFlex="50"
                         formControlName="countryControl"
                         label="{{ 'inspections.country' | tlTranslate }}"
                         [options]="countries"
                         tooltipResourceName="inspections.country-helper">
        </tl-autocomplete>
    </div>
</div>