<mat-toolbar color="accent" class="m-0">
    <mat-toolbar-row fxFlex fxLayout="row" class="flex-basis-Auto" fxLayoutAlign="space-between center">
        <span class="title dialog-title multi-line">{{ title }}</span>
        <div flFlex="row" fxLayoutGap="5px" fxLayout="row" fxLayoutAlign="space-between center">
            <tl-audit *ngIf="headerAuditBtn"
                      [auditInfo]="auditInfo"
                      (openAudit)="headerAuditBtnClicked()"
                      (openDetailedAudit)="headerDetailedAuditBtnClicked()">
            </tl-audit>
            <button *ngIf="showHeaderCloseBtn"
                    mat-icon-button
                    (click)="headerCloseDialog(headerCancelButton)"
                    matTooltip="{{ headerCloseButtonTooltip | tlTranslate: 'cap'  }}" matTooltipPosition="above" matTooltipHideDelay="700">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="p-24 m-0 mat-dialog-content"
                    style="padding-left: 0px !important; padding-right: 0px !important;">
    <template #placeHolder>
    </template>
</mat-dialog-content>

<mat-dialog-actions *ngIf="cancelBtn !== undefined
                           || cancelBtn !== null
                           || (leftSideActionsCollection && leftSideActionsCollection.length !== 0)
                           || (rightSideActionsCollection && rightSideActionsCollection.length !== 0)
                           || saveBtn !== undefined
                           || saveBtn !== null
                           || closeBtn !== undefined
                           || closeBtn !== null"
                    class="m-0 p-b-0" fxLayout="row" fxLayoutAlign="start stretch" fxFill>
    <div fxFlex="25" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="1em">
        <div>
            <button *ngIf="cancelBtn !== undefined && ((viewMode && cancelBtn.isVisibleInViewMode) || !viewMode) && !cancelBtn.hidden"
                    [id]="cancelBtn.id"
                    mat-raised-button
                    [ngClass]="cancelBtn.customClass"
                    [color]="cancelBtn.color"
                    (click)="cancelBtnClicked(cancelBtn)">
                {{ cancelBtn.translateValue | tlTranslate: 'cap' }}
            </button>
        </div>
        <div *ngFor="let leftButton of leftSideActionsCollection">
            <button *ngIf="((viewMode && leftButton.isVisibleInViewMode) || !viewMode) && !leftButton.hidden"
                    [id]="leftButton.id"
                    mat-raised-button
                    [ngClass]="leftButton.customClass"
                    [color]="leftButton.color"
                    (click)="closeDialog(leftButton)"
                    [disabled]="leftButton.disabled">
                <tl-icon *ngIf="leftButton.icon !== undefined"
                         [icon]="leftButton.icon.id"
                         [iconClass]="leftButton.icon.class"
                         [size]="leftButton.icon.size"></tl-icon>
                {{ leftButton.translateValue | tlTranslate: 'cap' }}
            </button>
        </div>
    </div>
    <div fxFlex="75" fxLayout="row wrap" fxLayoutAlign="end stretch" fxLayoutGap="1em">
        <div *ngFor="let rightButton of rightSideActionsCollection">
            <button *ngIf="((viewMode && rightButton.isVisibleInViewMode) || !viewMode) && !rightButton.hidden"
                    [id]="rightButton.id"
                    mat-raised-button
                    [color]="rightButton.color"
                    [ngClass]="rightButton.customClass"
                    (click)="closeDialog(rightButton)"
                    [disabled]="rightButton.disabled">
                <tl-icon *ngIf="rightButton.icon !== undefined"
                         [icon]="rightButton.icon.id"
                         [iconClass]="rightButton.icon.class"
                         [size]="rightButton.icon.size"></tl-icon>
                {{ rightButton.translateValue | tlTranslate: 'cap' }}
            </button>
        </div>
        <div *ngIf="closeBtn !== undefined && viewMode && !closeBtn.hidden">
            <button [id]="closeBtn.id"
                    mat-raised-button
                    [ngClass]="closeBtn.customClass"
                    [color]="closeBtn.color"
                    (click)="closeBtnClicked(closeBtn)">
                {{ closeBtn.translateValue | tlTranslate: 'cap' }}
            </button>
        </div>
        <div *ngIf="saveBtn !== undefined && ((viewMode && saveBtn.isVisibleInViewMode) || !viewMode) && !saveBtn.hidden">
            <button [id]="saveBtn.id"
                    mat-raised-button
                    [ngClass]="saveBtn.customClass"
                    [color]="saveBtn.color"
                    (click)="saveBtnClicked(saveBtn)">
                {{ saveBtn.translateValue | tlTranslate: 'cap' }}
            </button>
        </div>
    </div>
</mat-dialog-actions>