<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     validityCheckerGroup
     [formGroup]="form"
     [notifierGroup]="notifier"
     class="dialog-padding">
    <!-- Заявител -->
    <application-submitted-by *ngIf="isApplication"
                              formControlName="submittedByControl"
                              notifier
                              validityChecker
                              label="{{ 'statistical-forms.rework-requester' | tlTranslate }}"
                              [isIdReadOnly]="isEditing || isPublicApp"
                              [showOnlyBasicData]="true"
                              [expectedResults]="expectedResults.submittedBy">
        <div middle fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
            <tl-input fxFlex="25"
                      *ngIf="!showOnlyRegiXData"
                      formControlName="submittedByWorkPositionControl"
                      tooltipResourceName="statistical-forms.reword-requester-position-helper"
                      label="{{ 'statistical-forms.rework-requester-position' | tlTranslate }}">
            </tl-input>
            <div fxFlex="25"></div>
            <div fxFlex="25"></div>
            <div fxFlex="25"></div>
        </div>
    </application-submitted-by>

    <!-- Получател -->
    <application-submitted-for formControlName="submittedForControl"
                               notifier
                               validityChecker
                               relationLabel="{{ 'statistical-forms.rework-requester-role' | tlTranslate }}"
                               submittedForLabel="{{ 'statistical-forms.rework-receiver' | tlTranslate }}"
                               [pageCode]="pageCode"
                               [isIdReadOnly]="isEditing && isIdReadOnly"
                               [showOnlyBasicData]="true"
                               [showPersonal]="!isApplication"
                               [submittedByControl]="form.controls.submittedByControl"
                               [expectedResults]="expectedResults.submittedFor"
                               [hideRelation]="showOnlyRegiXData || !isApplication">
    </application-submitted-for>

    <!-- Основна информация -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        title="{{ 'statistical-forms.rework-basic-information-title' | tlTranslate }}"
                        tooltipResourceName="statistical-forms.rework-basic-information-title-helper"
                        [validityChecker]="form">
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1em">
            <tl-date-year fxFlex="33"
                          formControlName="yearControl"
                          tooltipResourceName="statistical-forms.rework-year-helper"
                          label="{{ 'statistical-forms.rework-year' | tlTranslate }}"
                          [max]="lastYear">
            </tl-date-year>
            <div fxFlex="33"></div>
            <div fxFlex="33"></div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
            <tl-input fxFlex="33"
                      formControlName="vetRegistrationNumControl"
                      tooltipResourceName="statistical-forms.rework-vet-registration-num-helper"
                      label="{{ 'statistical-forms.rework-vet-registration-num' | tlTranslate }}">
            </tl-input>
            <tl-input fxFlex="33"
                      formControlName="licenceNumControl"
                      tooltipResourceName="statistical-forms.rework-licence-num-helper"
                      label="{{ 'statistical-forms.rework-licence-num' | tlTranslate }}">
            </tl-input>
            <tl-date fxFlex="33"
                     formControlName="licenceDateControl"
                     tooltipResourceName="statistical-forms.rework-licence-date-helper"
                     label="{{ 'statistical-forms.rework-licence-date' | tlTranslate }}"
                     [max]="currentDate">
            </tl-date>
        </div>
    </tl-expansion-panel>

    <!--Информация за заети лица-->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        tooltipResourceName="statistical-forms.rework-information-employees-helper"
                        title="{{ 'statistical-forms.rework-information-employees' | tlTranslate }}"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="form.get('employeeStatsArray')!.valid">
        <div fxLayout="column" fxLayoutGap="1em">
            <div *ngFor="let control of form.get('employeeInfoArray')!.controls; index as i"
                 fxLayout="column"
                 fxLayoutGap="1em">
                <statistical-forms-employees-info-table [formControl]="control"
                                                        [cardLabel]="employeeInfoLabels[i]"
                                                        infoTypeColumnLabel="">
                </statistical-forms-employees-info-table>

                <mat-error *ngIf="form.get('employeeInfoArray')?.errors?.columnCountNotEqual[i] === true">
                    * {{ 'statistical-forms.rework-count-error' | tlTranslate }}
                </mat-error>
            </div>
        </div>

        <div *ngFor="let control of form.get('employeeStatsArray')!.controls; index as i"
             fxLayout="column"
             fxLayoutGap="1em">
            <tl-input fxFlex="100"
                      [formControl]="control"
                      [label]="employeeStatsLabels[i]"
                      tooltipResourceName="statistical-forms.rework-information-employee-stats-helper">
            </tl-input>
        </div>

        <div fxLayout="row">
            <tl-radio-button-group fxFlex="100"
                                   formControlName="isOwnerEmployeeControl"
                                   [options]="ownerEmployeeOptions"
                                   direction="row"
                                   gap="0.5em"
                                   tooltipResourceName="statistical-forms.rework-owner-employee-helper"
                                   label="{{ 'statistical-forms.rework-owner-employee' | tlTranslate }}">
            </tl-radio-button-group>
        </div>
    </tl-expansion-panel>

    <!-- Финансова информация -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        tooltipResourceName="statistical-forms.rework-financial-information-title-helper"
                        title="{{ 'statistical-forms.rework-financial-information-title' | tlTranslate }}"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="form.get('financialInfoArray')!.valid">
        <div fxFlexFill fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <tl-input fxFlex="33"
                          formControlName="totalRawMaterialTonsControl"
                          tooltipResourceName="statistical-forms.rework-total-raw-material-tons-helper"
                          label="{{ 'statistical-forms.rework-total-raw-material-tons' | tlTranslate }}">
                </tl-input>
                <tl-input fxFlex="33"
                          formControlName="totalReworkedProductTonsControl"
                          tooltipResourceName="statistical-forms.rework-total-reworked-product-tons-helper"
                          label="{{ 'statistical-forms.rework-total-reworked-product-tons' | tlTranslate }}">
                </tl-input>
                <tl-input *ngIf="hasTotalYearTurnover"
                          fxFlex="33"
                          formControlName="totalYearTurnoverControl"
                          tooltipResourceName="statistical-forms.rework-total-year-turnover-helper"
                          label="{{ 'statistical-forms.rework-total-year-turnover' | tlTranslate }}">
                </tl-input>
                <div *ngIf="!hasTotalYearTurnover" fxFlex="33"></div>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="1em" fxFlex="100">
                <div *ngFor="let control of form.get('financialInfoArray')!.controls; index as i" fxFlex="48" class="gap-bottom-1" fxLayout="column" fxLayoutGap="1em">
                    <item-list [formControl]="control"
                               [itemsLabel]="financialInfoGroupNames[i]"
                               [required]="true"
                               valuesLabel="{{ 'statistical-forms.rework-amount' | tlTranslate }}"
                               validityChecker>
                    </item-list>

                    <mat-error *ngIf="form.get('financialInfoArray')?.errors?.costsIsEmpty[i] === true">
                        * {{ 'statistical-forms.rework-costs-error' | tlTranslate }}
                    </mat-error>
                </div>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Тегло на суровините по видове и произход -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        title="{{ 'statistical-forms.rework-raw-material-title' | tlTranslate }}"
                        tooltipResourceName="statistical-forms.rework-raw-material-title-helper"
                        [validityChecker]="form">
        <tl-data-table fxFlexFill
                       #rawMaterialTable
                       [rows]="rawMaterials"
                       [isRemote]="false"
                       [isSoftDeletable]="true"
                       [showInactiveRecords]="false"
                       [showAddButton]="!viewMode && !isReadonly"
                       (activeRecordChanged)="rawMaterialsActiveRecordChanged()">
            <data-column [flexRate]="0.25"
                         propertyName="fishTypeId"
                         [formGroup]="rawMaterialGroup"
                         [options]="fishTypes"
                         [displayOptions]="allFishTypes"
                         dataType="nomenclature"
                         columnName="{{ 'statistical-forms.rework-raw-material-fish-type' | tlTranslate }}">
            </data-column>

            <data-column [flexRate]="0.25"
                         propertyName="tons"
                         [formGroup]="rawMaterialGroup"
                         columnName="{{ 'statistical-forms.rework-raw-material-tons' | tlTranslate }}">
            </data-column>

            <data-column [flexRate]="0.25"
                         propertyName="origin"
                         [formGroup]="rawMaterialGroup"
                         [options]="rawMaterialOrigin"
                         [displayOptions]="allRawMaterialOrigin"
                         dataType="nomenclature"
                         columnName="{{ 'statistical-forms.rework-raw-material-origin' | tlTranslate }}">
            </data-column>

            <data-column [flexRate]="0.25"
                         propertyName="countryZone"
                         [formGroup]="rawMaterialGroup"
                         columnName="{{ 'statistical-forms.rework-raw-material-country-zone' | tlTranslate }}">
            </data-column>

            <data-column-inline [flexRate]="0.1" *ngIf="!isReadonly"></data-column-inline>
        </tl-data-table>
    </tl-expansion-panel>

    <!-- Тегло на преработени продукти по видове -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        title="{{ 'statistical-forms.rework-product-title' | tlTranslate }}"
                        tooltipResourceName="statistical-forms.rework-product-title-helper"
                        [validityChecker]="form">
        <div fxLayout="column"
             fxLayoutGap="1em">
            <tl-data-table fxFlexFill
                           #productTable
                           [rows]="products"
                           [isRemote]="false"
                           [isSoftDeletable]="true"
                           [showInactiveRecords]="false"
                           [showAddButton]="!viewMode && !isReadonly"
                           (activeRecordChanged)="reworkProductActiveRecordChanged($event)">
                <data-template-column [flexRate]="0.3"
                                      columnName="{{ 'statistical-forms.rework-product-type' | tlTranslate }}">
                    <ng-template [formGroup]="productGroup"
                                 let-row="row"
                                 ngx-datatable-cell-template>
                        <tl-autocomplete *ngIf="row.editMode === true"
                                         formControlName="productTypeIdControl"
                                         [options]="productTypes"
                                         [displayOptions]="allProductTypes"
                                         [hasSelectedValueFromDropdownValidator]="false">
                        </tl-autocomplete>
                        <span *ngIf="row.editMode === false">
                            {{ row.data.productTypeName !== undefined ? row.data.productTypeName : row.data.productTypeId }}
                        </span>
                    </ng-template>
                </data-template-column>

                <data-column [flexRate]="0.5"
                             propertyName="tons"
                             [formGroup]="productGroup"
                             columnName="{{ 'statistical-forms.rework-product-tons' | tlTranslate }}">
                </data-column>

                <data-column-inline [flexRate]="0.1" *ngIf="!isReadonly"></data-column-inline>
            </tl-data-table>

            <mat-error *ngIf="form.errors?.productsError === true">
                * {{ 'statistical-forms.rework-form-products-error' | tlTranslate }}
            </mat-error>
        </div>
    </tl-expansion-panel>

    <!-- Файлове -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData && !isPublicApp"
                        title="{{ 'statistical-forms.rework-files' | tlTranslate }}"
                        tooltipResourceName="statistical-forms.rework-files-helper"
                        [validityChecker]="form">
        <file-uploader-form-array formControlName="filesControl"
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(service)"
                                  [fileTypeFilterFn]="fileTypeFilterFn.bind(this)"
                                  [refreshFileTypes]="refreshFileTypes">
        </file-uploader-form-array>
    </tl-expansion-panel>

    <!-- Проверки -->
    <tl-expansion-panel *ngIf="showOnlyRegiXData || showRegiXData"
                        title="{{ 'statistical-forms.rework-regix-checks-results' | tlTranslate }}"
                        tooltipResourceName="statistical-forms.rework-regix-checks-results">
        <div fxLayout="column" fxLayoutGap="1em">
            <regix-checks-results [regixChecksCollection]="regixChecks">
            </regix-checks-results>
        </div>
    </tl-expansion-panel>
</div>