<div fxLayout="column" fxLayoutGap="1em">
    <tl-data-table #violatedRegulationsTable
                   fxFlex="100"
                   [isRemote]="false"
                   [isSoftDeletable]="true"
                   [showInactiveRecords]="true"
                   [showAddButton]="!viewMode"
                   [rows]="violatedRegulations"
                   (recordChanged)="violatedRegulationsRecordChanged($event)">
        <data-column [flexRate]="0.1"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="article"
                     columnName="{{ 'auan-register.edit-violated-article' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.1"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="paragraph"
                     columnName="{{ 'auan-register.edit-violated-paragraph' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.1"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="section"
                     columnName="{{ 'auan-register.edit-violated-section' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.1"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="letter"
                     columnName="{{ 'auan-register.edit-violated-letter' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.2"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="type"
                     dataType="nomenclature"
                     [options]="violatedRegulationTypes"
                     columnName="{{ 'auan-register.edit-violated-type' | tlTranslate }}">
        </data-column>

        <data-column-inline *ngIf="!viewMode"
                            [flexRate]="0.1">
        </data-column-inline>
    </tl-data-table>

    <mat-error *ngIf="violatedRegulationsTouched && form.errors?.atLeastOneViolatedRegulationNeeded === true">
        * {{ 'auan-register.edit-auan-at-least-one-violated-regulation-needed' | tlTranslate }}
    </mat-error>
</div>