<div fxLayout="column"
     fxLayoutGap="1em">
    <tl-data-table #violatedRegulationsTable
                   fxFlex="100"
                   [isRemote]="false"
                   [isSoftDeletable]="true"
                   [showInactiveRecords]="showInactiveRecords"
                   [showAddButton]="!viewMode"
                   [rows]="violatedRegulations"
                   (recordChanged)="violatedRegulationsRecordChanged($event)"
                   (activeRecordChanged)="onEditRecord($event)">
        <data-column [flexRate]="0.2"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="article"
                     columnName="{{ 'auan-register.edit-violated-article' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.2"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="paragraph"
                     columnName="{{ 'auan-register.edit-violated-paragraph' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.2"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="section"
                     columnName="{{ 'auan-register.edit-violated-section' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.2"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="letter"
                     columnName="{{ 'auan-register.edit-violated-letter' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.3"
                     [formGroup]="violatedRegulationsForm"
                     propertyName="comments"
                     columnName="{{ 'auan-register.edit-violated-comments' | tlTranslate }}">
        </data-column>

        <data-template-column [flexRate]="0.3"
                              columnName="{{ 'auan-register.edit-violated-law-section' | tlTranslate }}">
            <ng-template let-row="row"
                         ngx-datatable-cell-template
                         [formGroup]="violatedRegulationsForm">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                    <span *ngIf="!row.editMode" class="text-ellipsis">
                        {{ row.data.lawText }}
                    </span>

                    <tl-input *ngIf="row.editMode === true"
                              fxFlex="80"
                              formControlName="lawTextControl"
                              [readonly]="true">
                    </tl-input>

                    <tl-icon-button *ngIf="row.editMode === true && (row.data.lawSectionId === null || row.data.lawSectionId === undefined)"
                                    icon="fa-plus-circle"
                                    iconClass="accent-color"
                                    size="1.5"
                                    (buttonClicked)="openLawSectionsDialog(row)"
                                    tooltipText="{{ 'auan-register.add-law-section' | tlTranslate }}">
                    </tl-icon-button>

                    <tl-icon-button *ngIf="row.data.lawSectionId !== null && row.data.lawSectionId !== undefined"
                                    icon="fa-file-signature"
                                    iconClass="accent-color"
                                    size="1.5"
                                    (buttonClicked)="openLawSectionsDialog(row)"
                                    [disabled]="!row.editMode"
                                    tooltipText="{{ row.data.lawText }}">
                    </tl-icon-button>
                </div>
            </ng-template>
        </data-template-column>

        <data-column-inline *ngIf="!viewMode"
                            [flexRate]="0.2">
        </data-column-inline>
    </tl-data-table>
</div>