.buy-ticket-label {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.buttons {
    padding: 2em 2em 1em 2em;
}

.card {
    width: 100%;
    padding: 0em 2em 1em 2em;
}

.no-tickets-label {
    font-size: 2em;
    font-weight: bold;
    margin-top: -4em;
}

.tickets-paginator {
    padding-right: 2em;
}