<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     validityCheckerGroup
     [formGroup]="editUserForm"
     class="dialog-padding">
    <tl-card tooltipResourceName="users-page.basic-information-helper"
             [validityChecker]="editUserForm"
             [validityCheckerExtraCondition]="editUserForm.errors?.invalidEgnLnc !== true 
                                           && editUserForm.get('usernameEmailGroup')?.errors?.emailExists !== true 
                                           && editUserForm.get('usernameEmailGroup.emailControl')?.errors?.email !== true">
        <tl-card-title>{{ 'users-page.basic-information-title' | tlTranslate }}</tl-card-title>
        <tl-card-content fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="row" fxLayoutGap="1em" fxFlex="100" fxLayoutAlign="space-between center">
                <regix-data fxFlex="100"
                            formControlName="identificationDataControl"
                            validityChecker
                            [isPerson]="true"
                            [isIdReadOnly]="!isAdd"
                            [isForeigner]="false"
                            [includeForeigner]="false"
                            [showOnlyBasicData]="true"
                            [hideSearchButton]="true">
                </regix-data>
            </div>
            <div fxLayout="row" fxFlex="100" *ngIf="editUserForm.errors?.invalidEgnLnc">
                <mat-error>
                    * {{ 'users-page.must-have-one-valid-egn-lnc-error' | tlTranslate }}
                </mat-error>
            </div>
            <div fxLayout="row" fxLayoutGap="1em" fxFlex="100" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutGap="1em" fxFlex="33" formGroupName="usernameEmailGroup" fxLayoutAlign="space-between center">
                    <tl-input fxFlex="100"
                              formControlName="emailControl"
                              label="{{ 'users-page.email' | tlTranslate }}"
                              tooltipResourceName="users-page.email-helper">
                    </tl-input>
                </div>
                <div fxLayout="row" fxLayoutGap="1em" fxFlex="66" fxLayoutAlign="space-between center">
                    <tl-input fxFlex="50"
                              formControlName="phoneNumberControl"
                              label="{{ 'users-page.phone-number' | tlTranslate }}"
                              tooltipResourceName="users-page.phone-number-helper">
                    </tl-input>

                    <tl-input fxFlex="50"
                              formControlName="positionControl"
                              label="{{ 'users-page.position' | tlTranslate }}"
                              tooltipResourceName="users-page.position-helper">
                    </tl-input>
                </div>
            </div>
            <div fxLayout="row" fxFlex="100" *ngIf="editUserForm.get('usernameEmailGroup')!.errors">
                <mat-error *ngIf="editUserForm.get('usernameEmailGroup')!.errors!.emailExists">
                    * {{ 'users-page.email-already-exists-error' | tlTranslate }}
                </mat-error>
            </div>
            <div fxLayout="row" fxLayoutGap="1em" fxFlex="100" fxLayoutAlign="space-between center">
                <tl-select fxFlex="33"
                           label="{{ 'users-page.territorial-unit' | tlTranslate }}"
                           formControlName="territorialUnitControl"
                           [options]="territoryUnits"
                           tooltipResourceName="users-page.territorial-unit-helper">
                </tl-select>

                <tl-select fxFlex="33"
                           label="{{ 'users-page.department' | tlTranslate }}"
                           formControlName="departmentControl"
                           [options]="departments"
                           tooltipResourceName="users-page.department-helper">
                </tl-select>

                <tl-select fxFlex="33"
                           label="{{ 'users-page.sector' | tlTranslate }}"
                           formControlName="sectorControl"
                           [options]="sectors"
                           tooltipResourceName="users-page.sector-helper">
                </tl-select>
            </div>
            <div fxLayout="row" fxLayoutGap="1em" fxFlex="100" fxLayoutAlign="space-between center">
                <tl-input *ngIf="isInternalUser"
                          fxFlex="33"
                          formControlName="titleControl"
                          label="{{ 'users-page.title' | tlTranslate }}"
                          tooltipResourceName="users-page.title-helper">
                </tl-input>

                <tl-slide-toggle fxFlex="33"
                                 label="{{ 'users-page.user-must-change-password' | tlTranslate }}"
                                 formControlName="userMustChangePasswordControl"
                                 tooltipResourceName="users-page.user-must-change-password-helper">
                </tl-slide-toggle>

                <tl-slide-toggle fxFlex="33"
                                 label="{{ 'users-page.unlock-user' | tlTranslate }}"
                                 formControlName="isLockedControl"
                                 tooltipResourceName="users-page.unlock-user-helper">
                </tl-slide-toggle>

                <div *ngIf="!isInternalUser" fxFlex="33"></div>
            </div>
        </tl-card-content>
    </tl-card>

    <tl-card tooltipResourceName="users-page.role-helper"
             [validityChecker]="editUserForm"
             [validityCheckerExtraCondition]="editUserForm.errors?.atLeastOneRoleNeeded !== true">
        <tl-card-title fxFlex="row">{{  'users-page.role' | tlTranslate }}</tl-card-title>
        <tl-card-content fxFlex="100"
                         fxLayout="column"
                         fxLayoutGap="1em">
            <tl-data-table #roleDataTable
                           fxFlexFill
                           fxLayoutGap="1em"
                           class="full-width-template"
                           [isRemote]="false"
                           [isSoftDeletable]="true"
                           [showInactiveRecords]="true"
                           [showAddButton]="!readOnly"
                           [rows]="userRoles"
                           (recordChanged)="userRoleChanged($event)">
                <data-column columnName="{{ 'users-page.role' | tlTranslate }}"
                             propertyName="id"
                             [formGroup]="userRoleForm"
                             [options]="roles"
                             dataType="nomenclature"
                             [getControlErrorLabelText]="getControlErrorLabelTextMethod">
                </data-column>
                <data-column columnName="{{ 'users-page.valid-from' | tlTranslate }}"
                             propertyName="accessValidFrom"
                             [formGroup]="userRoleForm"
                             dataType="datetime"
                             [maxValue]="userRoleForm.controls.accessValidToControl.value">
                </data-column>
                <data-column columnName="{{ 'users-page.valid-to' | tlTranslate }}"
                             propertyName="accessValidTo"
                             [formGroup]="userRoleForm"
                             dataType="datetime"
                             [minValue]="userRoleForm.controls.accessValidFromControl.value">
                </data-column>
                <data-column-inline [flexRate]="0.3" *ngIf="!readOnly"></data-column-inline>
            </tl-data-table>

            <mat-error *ngIf="userRolesTouched && editUserForm.errors?.atLeastOneRoleNeeded === true" fxFlex="100">
                * {{ 'users-page.at-least-one-role-needed-error' | tlTranslate }}
            </mat-error>
        </tl-card-content>
    </tl-card>

    <tl-card *ngIf="!isInternalUser"
             tooltipResourceName="users-page.related-organizations-helper"
             [validityChecker]="editUserForm">
        <tl-card-title fxFlex="row">{{ 'users-page.related-organizations' | tlTranslate }}</tl-card-title>
        <tl-card-content>
            <tl-data-table #legalDataTable fxFlexFill fxLayoutGap="1em" class="full-width-template"
                           [showAddButton]="!readOnly"
                           [showInactiveRecords]="canRestoreRecords"
                           [isRemote]="false"
                           [isSoftDeletable]="true"
                           [rows]="userLegals"
                           (recordChanged)="userLegalsChanged($event)">
                <data-column columnName="{{ 'users-page.legal-name' | tlTranslate }}"
                             propertyName="legalId"
                             [formGroup]="userLegalForm"
                             [options]="legals"
                             dataType="nomenclature">
                </data-column>
                <data-column columnName="{{ 'users-page.role' | tlTranslate }}"
                             propertyName="roleId"
                             [formGroup]="userLegalForm"
                             [options]="roles"
                             dataType="nomenclature">
                </data-column>
                <data-template-column columnName="{{ 'users-page.status' | tlTranslate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div *ngIf="row.data.status !== undefined">
                            <div *ngIf="row.data.status === legalStatusEnum.Blocked">
                                <tl-icon icon="highlight_off" iconClass="accent-color"></tl-icon>
                                {{'users-page.blocked' | tlTranslate }}
                            </div>
                            <div *ngIf="row.data.status === legalStatusEnum.Approved">
                                <tl-icon icon="done_outline" iconClass="accent-color"></tl-icon>
                                {{'users-page.approved' | tlTranslate }}
                            </div>
                            <div *ngIf="row.data.status === legalStatusEnum.Requested">
                                <tl-icon icon="autorenew" iconClass="accent-color"></tl-icon>
                                {{'users-page.requested' | tlTranslate }}
                            </div>
                        </div>
                    </ng-template>
                </data-template-column>
                <data-template-column *ngIf="!readOnly" [flexRate]="0.4" flexGrow="0.5" columnName="{{'users-page.status-header' | tlTranslate}}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="center" *ngIf="row.data.status === legalStatusEnum.Requested">
                            <tl-icon-button icon="done_outline" (buttonClicked)="allowLegal(row.data.legalId)" iconClass="accent-color"
                                            tooltipText="{{ 'users-page.allow-access' | tlTranslate }}"></tl-icon-button>
                            <tl-icon-button icon="highlight_off" (buttonClicked)="denyLegal(row.data.legalId)" iconClass="accent-color"
                                            tooltipText="{{ 'users-page.deny-access' | tlTranslate }}"></tl-icon-button>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center" *ngIf="row.data.status !== legalStatusEnum.Requested">
                            <tl-icon-button *ngIf="row.data.status === legalStatusEnum.Blocked" icon="done_outline" iconClass="accent-color"
                                            (buttonClicked)="allowLegal(row.data.legalId)" tooltipText="{{ 'users-page.allow-access' | tlTranslate }}"></tl-icon-button>
                            <tl-icon-button *ngIf="row.data.status === legalStatusEnum.Approved" icon="highlight_off" iconClass="accent-color"
                                            (buttonClicked)="denyLegal(row.data.legalId)" tooltipText="{{ 'users-page.deny-access' | tlTranslate }}"></tl-icon-button>
                        </div>
                    </ng-template>
                </data-template-column>
                <data-column-inline [flexRate]="0.3" *ngIf="!readOnly"></data-column-inline>
            </tl-data-table>
        </tl-card-content>
    </tl-card>
    <edit-access *ngIf="isInternalUser"
                 formControlName="mobileDevicesControl"
                 [userFullName]="userFullName"
                 [matCardTitleLabel]="mobileDevicesMatCardTitleLabel"
                 [readOnly]="readOnly">
    </edit-access>
</div>