<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start stretch" fxFill>
    <search-panel class="full-width" [translateService]="translationService">
        <div [formGroup]="filterFormGroup" fxFlexFill fxLayout="column" fxLayoutAlign="start start">
            <div fxLayoutGap="1em" fxLayout="row" fxFlexFill fxLayoutAlign="space-between start">
                <tl-autocomplete fxFlex="33"
                                 formControlName="shipFilterControl"
                                 label="{{ 'catch-quotas.ship' | tlTranslate }}"
                                 tooltipResourceName="catch-quotas.ship-helper"
                                 [autoMatchTextToOption]="true"
                                 [options]="ships">
                </tl-autocomplete>

                <tl-date-year fxFlex="33"
                              formControlName="yearFilterControl"
                              label="{{ 'catch-quotas.year' | tlTranslate }}"
                              tooltipResourceName="catch-quotas.year-helper">
                </tl-date-year>

                <tl-autocomplete fxFlex="33" label="{{ 'catch-quotas.fishes' | tlTranslate }}"
                                 formControlName="fishesFilterControl"
                                 [options]="fishes"
                                 [autoMatchTextToOption]="true"
                                 tooltipResourceName="catch-quotas.fishes-helper">
                </tl-autocomplete>
            </div>
            <div fxLayoutGap="1em" fxLayout="row" fxFlexFill fxLayoutAlign="space-between start">
                <tl-input fxFlex="33"
                          formControlName="assocFilterControl"
                          label="{{ 'catch-quotas.association' | tlTranslate }}"
                          tooltipResourceName="catch-quotas.association-helper">
                </tl-input>

                <tl-input fxFlex="33"
                          formControlName="cfrFilterControl"
                          label="{{ 'catch-quotas.cfr' | tlTranslate }}"
                          tooltipResourceName="catch-quotas.cfr-helper">
                </tl-input>

                <tl-input fxFlex="33"
                          formControlName="externalMarkFilterControl"
                          label="{{ 'catch-quotas.external-mark' | tlTranslate }}"
                          tooltipResourceName="catch-quotas.external-mark-helper">
                </tl-input>
            </div>
        </div>
    </search-panel>

    <mat-card>
        <tl-data-table [showAddButton]="canAddRecords"
                       [showInactiveRecords]="canRestoreRecords"
                       [hasExcelExport]="true"
                       (addButtonClicked)="addEditEntry()">
            <row-detail>
                <ng-template let-row="row" ngx-datatable-row-detail-template>
                    <tl-card>
                        <tl-card-title>{{ 'catch-quotas.ship-quotas-list-card-title' | tlTranslate }}</tl-card-title>
                        <tl-card-content>
                            <tl-data-table [isRemote]="false"
                                           [isSoftDeletable]="false"
                                           [showInactiveRecords]="false"
                                           [showAddButton]="false"
                                           [rows]="row.changeHistoryRecords">
                                <data-column [flexRate]="0.2"
                                             propertyName="timestamp"
                                             columnName="{{ 'catch-quotas.change-date' | tlTranslate }}"
                                             dataType="date">
                                </data-column>

                                <data-column [flexRate]="0.2"
                                             propertyName="fromShipQuotaName"
                                             columnName="{{ 'catch-quotas.ship-quota-transfer' | tlTranslate }}">
                                </data-column>

                                <data-template-column [flexRate]="0.2"
                                                      propertyName="addRemoveQuota"
                                                      columnName="{{ 'catch-quotas.added-removed-quota' | tlTranslate }}">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <div fxLayout="row" fxLayoutAlign="start center">
                                            <span *ngIf="row.data.addRemoveQuota > 0" class="change-padding accent-color">(+{{ row.data.addRemoveQuota.toFixed(2) }})</span>
                                            <span *ngIf="row.data.addRemoveQuota <= 0" class="change-padding error-color">({{ row.data.addRemoveQuota.toFixed(2) }})</span>
                                        </div>
                                    </ng-template>
                                </data-template-column>

                                <data-column [flexRate]="0.2"
                                             propertyName="newQuotaValueKg"
                                             columnName="{{ 'catch-quotas.quota-size' | tlTranslate }}">
                                </data-column>

                                <data-column [flexRate]="0.4"
                                             propertyName="basis"
                                             columnName="{{ 'catch-quotas.basis' | tlTranslate }}">
                                </data-column>
                            </tl-data-table>
                        </tl-card-content>
                    </tl-card>
                </ng-template>
            </row-detail>

            <data-column columnName="{{ 'catch-quotas.association' | tlTranslate }}"
                         propertyName="associationName"
                         [flexRate]="0.2">
            </data-column>

            <data-column columnName="{{ 'catch-quotas.ship' | tlTranslate }}"
                         propertyName="shipName"
                         [flexRate]="0.2">
            </data-column>

            <data-column columnName="{{ 'catch-quotas.cfr' | tlTranslate }}"
                         propertyName="shipCFR"
                         [flexRate]="0.3">
            </data-column>

            <data-column columnName="{{ 'catch-quotas.external-marking' | tlTranslate }}"
                         propertyName="shipExtMarking"
                         [flexRate]="0.2">
            </data-column>

            <data-column columnName="{{ 'catch-quotas.year' | tlTranslate }}"
                         propertyName="year"
                         [flexRate]="0.2">
            </data-column>

            <data-column columnName="{{ 'catch-quotas.fishes' | tlTranslate }}"
                         propertyName="fish"
                         [flexRate]="0.4">
            </data-column>

            <data-column columnName="{{ 'catch-quotas.quota-size' | tlTranslate }}"
                         propertyName="quotaSize"
                         [flexRate]="0.2">
            </data-column>

            <data-column columnName="{{ 'catch-quotas.unload-by-kg' | tlTranslate }}"
                         propertyName="unloadedByCurrentDateKg"
                         [flexRate]="0.2">
            </data-column>

            <data-column columnName="{{ 'catch-quotas.confiscated-quantity' | tlTranslate }}"
                         propertyName="confiscatedQuantity"
                         [flexRate]="0.2">
            </data-column>

            <data-column columnName="{{ 'catch-quotas.leftover' | tlTranslate }}"
                         propertyName="leftover"
                         [flexRate]="0.2">
            </data-column>

            <data-template-column [cellClass]="'justify-center min-w-50'" [flexRate]="0.4">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div fxLayout="row wrap" fxLayoutAlign="end center">
                        <tl-icon-button icon="visibility"
                                        (buttonClicked)="addEditEntry(row, true)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'catch-quotas.view-entry-tooltip' | tlTranslate }}">
                        </tl-icon-button>

                        <tl-icon-button *ngIf="row.isActive && canEditRecords"
                                        icon="edit"
                                        (buttonClicked)="addEditEntry(row, false)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'catch-quotas.edit-entry-tooltip' | tlTranslate }}">
                        </tl-icon-button>

                        <tl-icon-button *ngIf="row.isActive && canDeleteRecords"
                                        icon="delete"
                                        (buttonClicked)="deleteEntry(row)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'catch-quotas.delete-entry-tooltip' | tlTranslate }}">
                        </tl-icon-button>

                        <tl-icon-button *ngIf="!row.isActive && canRestoreRecords"
                                        icon="restore"
                                        (buttonClicked)="restoreEntry(row)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'catch-quotas.restore-entry-tooltip' | tlTranslate }}">
                        </tl-icon-button>

                        <tl-icon-button *ngIf="row.isActive && canTransferRecords"
                                        icon="fa-external-link-alt"
                                        (buttonClicked)="transferQuota(row)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'catch-quotas.transfer-quota-tooltip' | tlTranslate }}">
                        </tl-icon-button>
                    </div>
                </ng-template>
            </data-template-column>
        </tl-data-table>
    </mat-card>
</div>
