<mat-form-field style="width: 100%;" [appearance]="appearance">
    <mat-label>{{ label }}</mat-label>
    <input matInput
           *ngIf="ngControl?.control !== null && ngControl?.control !== undefined; else inputWithoutFormControl"
           [type]="type"
           [formControl]="ngControl.control"
           [required]="fieldIsRequired"
           [readonly]="readonly"
           (focusout)="onFocusOut($event)" />
    <ng-template #inputWithoutFormControl>
        <input matInput [type]="type" [value]="value" [required]="fieldIsRequired" [readonly]="readonly" />
    </ng-template>
    <div matSuffix>
        <ng-content></ng-content>
        <tl-help [tooltipResource]="tooltipResourceName"></tl-help>
    </div>
    <mat-error *ngIf="errors.length > 0">
        <tl-error [errors]="errors" [useMultipleLines]="multilineError"></tl-error>
    </mat-error>
</mat-form-field>