<div fxFlexFill
     fxLayout="row"
     fxLayoutAlign="center center"
     [formGroup]="form"
     class="dialog-padding">

    <div fxLayout="column" fxLayoutGap="1em" fxFlex="90">
        <tl-radio-button-group formControlName="typeControl"
                               [options]="types">
        </tl-radio-button-group>

        <tl-autocomplete *ngIf="!isThirdParty"
                         formControlName="auanControl"
                         [options]="auans"
                         label="{{ 'penal-decrees.picker-auan-num' | tlTranslate }}"
                         tooltipResourceName="penal-decrees.picker-auan-num-helper">
        </tl-autocomplete>

        <tl-checkbox formControlName="isThirdPartyControl"
                     label="{{ 'penal-decrees.picker-is-third-party-auan' | tlTranslate }}"
                     tooltipResourceName="penal-decrees.picker-is-third-party-auan-helper">
        </tl-checkbox>
    </div>
</div>
