<tl-data-table [rows]="rows"
               [isRemote]="isRemote"
               [isSoftDeletable]="isSoftDeletable"
               [showInactiveRecords]="showInactiveRecords"
               [showAddButton]="showAddButton"
               [recordsPerPage]="recordsPerPage"
               (activeRecordChanged)="editAquacultureLogBookPage($event, !$event.isActive
                                                                         || $event.status === logBookPageStatusesEnum.Canceled
                                                                         || $event.isLogBookFinished
                                                                         || !canEditAquacultureLogBookRecords)">
    <row-detail *ngIf="canReadInspections">
        <ng-template let-row="row" ngx-datatable-row-detail-template>
            <div fxFlexFill fxLayout="column" fxLayoutGap="1em">
                <tl-card *ngIf="row.data.hasInspections">
                    <tl-card-title>{{ 'catches-and-sales.inspected-pages' | tlTranslate }}</tl-card-title>
                    <tl-card-content fxFlexFill>
                        <inspections-register [logBookPageId]="row.data.id"
                                              [logBookType]="logBookTypesEnum.Aquaculture">
                        </inspections-register>
                    </tl-card-content>
                </tl-card>

                <div fxFlexFill *ngIf="!row.data.hasInspections">
                    <div fxFlex="100" fxLayout="row">
                        <h2>
                            {{ 'catches-and-sales.no-inspections-attached-to-aquaculture-page' | tlTranslate }}
                        </h2>
                    </div>
                </div>
            </div>
        </ng-template>
    </row-detail>

    <data-template-column propertyName="PageNumber"
                          [flexRate]="0.2"
                          [cellClass]="'justify-center'"
                          columnName="{{ 'catches-and-sales.аquaculture-page' | tlTranslate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="multi-line break-all-words">{{ row.data.pageNumber }}</span>
        </ng-template>
    </data-template-column>

    <data-template-column propertyName="StatusName"
                          [flexRate]="0.2"
                          [cellClass]="'justify-center'"
                          columnName="{{ 'catches-and-sales.aquaculture-page-status' | tlTranslate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                <span>{{ row.data.statusName }}</span>
                <tl-icon *ngIf="row.data.status === logBookPageStatusesEnum.Canceled && row.data.cancellationReason && row.data.cancellationReason.length !== 0"
                         icon="ic-fluent-warning-24-filled"
                         iconClass="warn-orange-color"
                         [matTooltip]="row.data.cancellationReason"
                         matTooltipPosition="above"
                         matTooltipShowDelay="250"
                         [size]="icIconSize">
                </tl-icon>
            </div>
        </ng-template>
    </data-template-column>

    <data-column propertyName="fillingDate"
                 [flexRate]="0.2"
                 dataType="date"
                 columnName="{{ 'catches-and-sales.аquaculture-filling-date' | tlTranslate }}">
    </data-column>

    <data-column propertyName="buyerName"
                 [flexRate]="0.4"
                 columnName="{{ 'catches-and-sales.aquaculture-buyer-name' | tlTranslate }}">
    </data-column>

    <data-column propertyName="productionInformation"
                 [flexRate]="0.4"
                 columnName="{{ 'catches-and-sales.aquaculture-production-information' | tlTranslate }}">
    </data-column>

    <data-template-column *ngIf="showActionButtons" [flexRate]="0.2" [cellClass]="'justify-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div fxLayout="row wrap" fxLayoutAlign="end center">
                <tl-icon-button *ngIf="(!row.data.isLogBookFinished || allowEditAfterFinished)
                                       && canCancelAquacultureLogBookRecords
                                       && row.data.status !== logBookPageStatusesEnum.Canceled"
                                icon="ic-cancel"
                                [size]="icIconSize"
                                (buttonClicked)="onAnnulAquacultureLogBookPageBtnClicked(row.data)"
                                iconClass="accent-color"
                                tooltipText="{{ 'catches-and-sales.anull-aquaculture-log-book-page' | tlTranslate }}">
                </tl-icon-button>

                <tl-icon-button *ngIf="(!row.data.isLogBookFinishedOrSuspended || allowEditAfterFinished)
                                       && row.data.status === logBookPageStatusesEnum.Canceled
                                       && canCancelAquacultureLogBookRecords"
                                icon="restore"
                                iconClass="accent-color"
                                tooltipText="{{ 'catches-and-sales.restore-annulled-aquaculture-log-book-page' | tlTranslate }}"
                                (buttonClicked)="onRestoreAnnulledAquacultureLogBookPageBtnClicked(row.data)">
                </tl-icon-button>

                <tl-icon-button *ngIf="row.data.status !== logBookPageStatusesEnum.Missing"
                                icon="visibility"
                                (buttonClicked)="editAquacultureLogBookPage(row.data, true)"
                                iconClass="accent-color"
                                tooltipText="{{ 'catches-and-sales.view-aquaculture-log-book-page' | tlTranslate }}">
                </tl-icon-button>

                <tl-icon-button *ngIf="(!row.data.isLogBookFinished || allowEditAfterFinished)
                                    && canEditAquacultureLogBookRecords
                                    && row.data.status !== logBookPageStatusesEnum.Canceled"
                                icon="edit"
                                (buttonClicked)="editAquacultureLogBookPage(row.data, false)"
                                iconClass="accent-color"
                                tooltipText="{{ 'catches-and-sales.edit-aquaculture-log-book-page' | tlTranslate }}">
                </tl-icon-button>
            </div>
        </ng-template>
    </data-template-column>
</tl-data-table>