<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     validityCheckerGroup
     [formGroup]="form"
     class="dialog-padding">

    <!-- Основни данни -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-decree-basic-data' | tlTranslate }}"
                        tooltipResourceName="penal-decrees.edit-decree-basic-data-helper"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                <tl-input fxFlex="25"
                          formControlName="decreeNumControl"
                          [getControlErrorLabelText]="decreeNumErrorLabelTextMethod"
                          label="{{ 'penal-decrees.edit-warning-num' | tlTranslate }}"
                          tooltipResourceName="penal-decrees.edit-decree-num-helper">
                </tl-input>

                <tl-date-time fxFlex="25"
                              formControlName="issueDateControl"
                              [showHint]="true"
                              [disabled]="viewMode"
                              [max]="maxIssueDate"
                              [min]="minIssueDate"
                              hint="{{ 'common.date-time-control-format-hint' | tlTranslate }}"
                              label="{{ 'penal-decrees.edit-decree-issue-date' | tlTranslate }}"
                              tooltipResourceName="penal-decrees.edit-decree-issue-date-helper">
                </tl-date-time>

                <tl-autocomplete fxFlex="50"
                                 formControlName="drafterControl"
                                 [options]="users"
                                 [autoMatchTextToOption]="true"
                                 [templateOptions]="true"
                                 label="{{ 'penal-decrees.edit-drafter' | tlTranslate }}"
                                 tooltipResourceName="penal-decree.edit-drafter-helper">
                </tl-autocomplete>
            </div>

            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                <tl-autocomplete fxFlex="25"
                                 formControlName="territoryUnitControl"
                                 [options]="territoryUnits"
                                 [readonly]="!isThirdParty && hasTerritoryUnit"
                                 label="{{ 'penal-decrees.edit-territory-unit' | tlTranslate }}"
                                 tooltipResourceName="penal-decrees.edit-territory-unit-helper">
                </tl-autocomplete>

                <tl-date fxFlex="25"
                         formControlName="effectiveDateControl"
                         label="{{ 'penal-decrees.edit-decree-effective-date' | tlTranslate }}"
                         tooltipResourceName="penal-decrees.edit-decree-effective-date-helper">
                </tl-date>

                <tl-input fxFlex="50"
                          formControlName="issuerPositionControl"
                          label="{{ 'penal-decrees.edit-drafter-position' | tlTranslate }}"
                          tooltipResourceName="penal-decrees.edit-issuer-position-helper">
                </tl-input>
            </div>

            <div *ngIf="form.get('issueDateControl')?.errors?.cannotAddAfterHours" fxFlex="100" fxLayout="row">
                <mat-error>
                    * {{ 'penal-decrees.cannot-add-warning-after-hours-error' | tlTranslate }} {{ canAddAfterHours }} {{ 'penal-decrees.cannot-add-after-hours-passed-error' | tlTranslate }}.
                </mat-error>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Информация за АУАН -->
    <tl-expansion-panel title="{{ (isThirdParty ? 'penal-decrees.edit-external-auan' : 'penal-decrees.edit-decree-auan') | tlTranslate }}"
                        tooltipResourceName="penal-decrees.edit-decree-auan-helper"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="form.controls.auanControl.errors?.auanNumExists !== true">
        <div fxLayout="column" fxLayoutGap="1em" fxFlex="100">
            <mat-error *ngIf="form.controls.auanControl?.touched && form.controls.auanControl.errors?.auanNumExists === true">
                * {{ 'penal-decrees.auan-num-already-exist-error' | tlTranslate }}
            </mat-error>

            <decree-auan-basic-info formControlName="auanControl"
                                    validityChecker
                                    [isAdding]="isThirdParty"
                                    [isFromRegister]="!isThirdParty">
            </decree-auan-basic-info>
        </div>
    </tl-expansion-panel>

    <!-- Установих, че -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-constatation-comments' | tlTranslate }}"
                        tooltipResourceName="penal-decrees.edit-constatation-comments-helper"
                        [validityChecker]="form">
        <div fxLayout="row" fxLayoutGap="1em">
            <div fxLayout="column" fxLayoutGap="1em" fxFlex="100">
                <tl-textarea formControlName="constatationCommentsControl"
                             tooltipResourceName="penal-decree.edit-auan-constatation-comments-helper"
                             label="{{ 'penal-decrees.edit-auan-constatation-comments' | tlTranslate }}">
                </tl-textarea>

                <tl-textarea formControlName="evidenceCommentsControl"
                             tooltipResourceName="penal-decree.edit-evidence-comments-helper"
                             label="{{ 'penal-decrees.edit-evidence-comments' | tlTranslate }}">
                </tl-textarea>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Законови разпоредби от АУАН -->
    <tl-expansion-panel title="{{ (isThirdParty ? 'penal-decrees.edit-external-auan-violated-regulations-panel' : 'penal-decrees.edit-auan-violated-regulations-panel') | tlTranslate }}"
                        tooltipResourceName="penal-decrees.edit-auan-violated-regulations-helper"
                        [validityCheckerExtraCondition]="form.errors?.atLeastOneViolatedRegulationNeeded !== true"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1em" fxFlex="100">
            <auan-violated-regulations formControlName="auanViolatedRegulationsControl"
                                       [viewMode]="viewMode">
            </auan-violated-regulations>

            <mat-error *ngIf="violatedRegulationsTouched && form.errors?.atLeastOneViolatedRegulationNeeded === true">
                * {{ 'penal-decrees.at-least-one-auan-violated-regulation-needed' | tlTranslate }}
            </mat-error>
        </div>
    </tl-expansion-panel>

    <!-- Описание на обстоятелствата, които сочат за маловажен случай -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-minor-circumstances' | tlTranslate }}"
                        tooltipResourceName="penal-decrees.edit-minor-circumstances-helper"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1em">
            <tl-textarea formControlName="minorCircumstancesDescriptionControl"
                         label="{{ 'penal-decrees.edit-minor-circumstances-description' | tlTranslate }}"
                         tooltipResourceName="penal-decrees.edit-minor-circumstances-description-helper">
            </tl-textarea>
        </div>
    </tl-expansion-panel>

    <!-- Санкции -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-decree-seized-description' | tlTranslate }}"
                        tooltipResourceName="penal-decrees.edit-warning-sanctions-helper"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="column" fxLayoutGap="1em">
                <!-- Иззети уреди -->
                <tl-card [validityChecker]="form"
                         tooltipResourceName="penal-decree.edit-decree-sized-fishing-gears-helper">
                    <tl-card-title>{{ 'penal-decrees.edit-decree-sized-fishing-gear' | tlTranslate }}</tl-card-title>
                    <tl-card-content>
                        <decree-sized-fishing-gear formControlName="seizedFishingGearControl"
                                                   [viewMode]="viewMode">
                        </decree-sized-fishing-gear>
                    </tl-card-content>
                </tl-card>

                <!-- Иззета риба -->
                <tl-card [validityChecker]="form"
                         tooltipResourceName="penal-decrees.edit-decree-sized-fishes-helper">
                    <tl-card-title>{{ 'penal-decrees.edit-decree-sized-fishes' | tlTranslate }}</tl-card-title>
                    <tl-card-content>
                        <decree-sized-fish formControlName="seizedFishControl"
                                           [viewMode]="viewMode">
                        </decree-sized-fish>
                    </tl-card-content>
                </tl-card>

                <!-- Иззети приспособления -->
                <tl-card [validityChecker]="form"
                         tooltipResourceName="penal-decrees.edit-decree-appliance-helper">
                    <tl-card-title>{{ 'penal-decrees.edit-decree-appliance' | tlTranslate }}</tl-card-title>
                    <tl-card-content>
                        <decree-sized-fish formControlName="seizedApplianceControl"
                                           [viewMode]="viewMode"
                                           [isAppliance]="true">
                        </decree-sized-fish>
                    </tl-card-content>
                </tl-card>
            </div>

            <div fxLayout="column" fxLayoutGap="1em">
                <tl-slide-toggle formControlName="isRecurrentViolationControl"
                                 label="{{ 'penal-decrees.edit-decree-is-recurent-violation' | tlTranslate }}"
                                 tooltipResourceName="penal-decrees.edit-decree-is-recurent-violation-helper">
                </tl-slide-toggle>

                <tl-textarea formControlName="commentsControl"
                             label="{{ 'penal-decrees.edit-decree-comments' | tlTranslate }}"
                             tooltipResourceName="penal-decrees.edit-decree-comments-helper">
                </tl-textarea>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Подлежи на обжалване пред -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-appeal-data' | tlTranslate }}"
                        tooltipResourceName="penal-decree.edit-appeal-data-helper"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1.5em">
            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                <tl-autocomplete fxFlex="40"
                                 formControlName="courtControl"
                                 [options]="courts"
                                 label="{{ 'penal-decrees.edit-court' | tlTranslate }}"
                                 tooltipResourceName="penal-decree.edit-court-helper">
                </tl-autocomplete>
            </div>

            <div *ngIf="drafter" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
                <div fxFlex="30" fxLayout="column" fxLayout.lt-sm="row" fxLayoutGap="0.4em">
                    <b>{{ 'penal-decrees.edit-appeal-drafter' | tlTranslate }}:</b>
                    <span>{{ drafter.displayName }}</span>
                </div>

                <div fxFlex="20" fxLayout="column" fxLayout.lt-sm="row" fxLayoutGap="0.4em">
                    <b>{{ 'penal-decrees.edit-appeal-drafter-position' | tlTranslate }}:</b>
                    <span>{{ drafter.issuerPosition }}</span>
                </div>

                <div fxFlex="20" fxLayout="column" fxLayout.lt-sm="row" fxLayoutGap="0.4em">
                    <b>{{ 'penal-decrees.edit-appeal-department' | tlTranslate }}:</b>
                    <span>{{ drafter.departmentName }}</span>
                </div>

                <div fxFlex="30" fxLayout="column" fxLayout.lt-sm="row" fxLayoutGap="0.4em">
                    <b>{{ 'penal-decrees.edit-appeal-department-address' | tlTranslate }}:</b>
                    <span>{{ drafter.departmentAddress }}</span>
                </div>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Връчване -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-decree-delivery-data' | tlTranslate }}"
                        tooltipResourceName="penal-decrees.edit-decree-delivery-helper"
                        [validityCheckerExtraCondition]="form.controls.deliveryControl.errors?.hasNoEDeliveryRegistrationError !== true"
                        [validityChecker]="form">
        <decree-delivery-data formControlName="deliveryControl"
                              validityChecker
                              [viewMode]="viewMode">
        </decree-delivery-data>

        <mat-error *ngIf="form.controls.deliveryControl.errors?.hasNoEDeliveryRegistrationError === true">
            * {{ 'penal-decrees.has-no-e-delivery-registration-error' | tlTranslate }}
        </mat-error>
    </tl-expansion-panel>

    <!-- Файлове -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-decree-files' | tlTranslate }}"
                        tooltipResourceName="penal-decrees.edit-decree-files-helper"
                        [validityChecker]="form">
        <file-uploader-form-array formControlName="filesControl"
                                  validityChecker
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(this.service)">
        </file-uploader-form-array>
    </tl-expansion-panel>
</div>