<ngx-datatable-column [name]="columnName"
                      [prop]="propertyName"
                      [sortable]="isSortable"
                      [resizeable]="isResizable"
                      [flexGrow]="flexRate"
                      [cellClass]="'datatable-cell-style'"
                      [headerClass]="'multi-line'"
                      [frozenLeft]="attachedLeft"
                      [frozenRight]="attachedRight">
    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <ng-container *ngIf="!isRowNumber">
            <ng-container *ngIf="!_isEditable || !row.editMode">
                <ng-container *ngIf="_dataType=='string'">
                    {{ complexProperty ? value(row.data) : row.data[propertyName] }}
                </ng-container>
                <ng-container *ngIf="_dataType=='boolean'">
                    <mat-checkbox [checked]="complexProperty ? value(row.data) : row.data[propertyName]" disabled>
                    </mat-checkbox>
                </ng-container>
                <ng-container *ngIf="_dataType=='date'">
                    {{ (complexProperty ? value(row.data) : row.data[propertyName]) | date: 'dd.MM.yyyy' }}
                </ng-container>
                <ng-container *ngIf="_dataType=='datetime'">
                    {{ (complexProperty ? value(row.data) : row.data[propertyName]) | date: 'dd.MM.yyyy HH:mm' }}
                </ng-container>
                <ng-container *ngIf="_dataType=='nomenclature'">
                    {{ (complexProperty ? value(row.data) : row.data[propertyName]) | nomenclatureDisplay: (displayOptions ? displayOptions : _collection) }}
                </ng-container>
                <ng-container *ngIf="_dataType=='calculated'">
                    {{ complexProperty ? value(row.data) : row.data[propertyName] }}
                </ng-container>
                <ng-container *ngIf="_dataType=='coordinates'">
                    {{ (complexProperty ? value(row.data) : row.data[propertyName]) | tlCoordinates }}
                </ng-container>
                <ng-container *ngIf="_dataType=='prefixstring'">
                    {{ (complexProperty ? value(row.data) : row.data[propertyName]) | tlPrefixInputDisplay  }}
                </ng-container>
            </ng-container>
            <ng-container *ngIf="_isEditable && row.editMode" [formGroup]="_formGroup">
                <ng-container *ngIf="_dataType=='string' || dataType=='number'">
                    <tl-input [formControlName]="_formControlName" [getControlErrorLabelText]="_getControlErrorLabelTextMethod"></tl-input>
                </ng-container>
                <ng-container *ngIf="_dataType=='date'">
                    <tl-date [formControlName]="_formControlName" [min]="minValue" [max]="maxValue" [getControlErrorLabelText]="_getControlErrorLabelTextMethod"></tl-date>
                </ng-container>
                <ng-container *ngIf="_dataType=='datetime'">
                    <tl-date-time [formControlName]="_formControlName" [min]="minValue" [max]="maxValue" [getControlErrorLabelText]="_getControlErrorLabelTextMethod"></tl-date-time>
                </ng-container>
                <ng-container *ngIf="_dataType=='boolean'">
                    <tl-checkbox [formControlName]="_formControlName" [getControlErrorLabelText]="_getControlErrorLabelTextMethod"></tl-checkbox>
                </ng-container>
                <ng-container *ngIf="_dataType=='nomenclature'">
                    <tl-autocomplete [formControlName]="_hiddenFormControlName"
                                     [options]="_collection"
                                     [templateOptions]="_templateOptions"
                                     [codeInTemplateOptions]="_codeInTemplateOptions"
                                     [hasSelectedValueFromDropdownValidator]="_hasSelectedValueFromDropdownValidator"
                                     [getControlErrorLabelText]="_getControlErrorLabelTextMethod">
                    </tl-autocomplete>
                </ng-container>
                <ng-container *ngIf="_dataType=='calculated'">
                    <tl-input [formControlName]="_formControlName" [readonly]="true" [getControlErrorLabelText]="_getControlErrorLabelTextMethod"></tl-input>
                </ng-container>
                <ng-container *ngIf="_dataType=='coordinates'">
                    <tl-coordinates [formControlName]="_formControlName" [getControlErrorLabelText]="_getControlErrorLabelTextMethod"></tl-coordinates>
                </ng-container>
                <ng-container *ngIf="_dataType=='prefixstring'">
                    <tl-prefix-input [formControlName]="_formControlName" 
                                     [getControlErrorLabelText]="_getControlErrorLabelTextMethod"
                                     [validators]="prefixControlValidators">
                    </tl-prefix-input>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="isRowNumber">
            {{ (rowIndex + 1) }}
        </ng-container>
    </ng-template>
</ngx-datatable-column>