<div class="dialog-padding" fxLayoutGap="1em" [formGroup]="changeUserDataForm" validityCheckerGroup>
    <tl-expansion-panel title="{{ 'my-profile.basic-information' | tlTranslate }}"
                        fxLayoutGap="1em"
                        [validityChecker]="changeUserDataForm"
                        [validityCheckerExtraCondition]="changeUserDataForm.errors?.emailExists !== true">
        <regix-data formControlName="basicDataControl"
                    [isPerson]="true"
                    [isEmailRequired]="true"
                    [showGender]="true"
                    [hideSearchButton]="true"
                    checkboxLabel="{{ 'my-profile.has-bulgarian-address-registration' | tlTranslate }}">
        </regix-data>

        <mat-error *ngIf="hasEmailExistsError && changeUserDataForm.errors?.emailExists === true">
            * {{ 'my-profile.email-already-exists-error' | tlTranslate }}
        </mat-error>

        <mat-error *ngIf="hasEgnLncExistsError && changeUserDataForm.errors?.invalidEgnLnc === true">
            * {{ 'my-profile.egn-lnc-invalid-error' | tlTranslate }}
        </mat-error>

        <!--Постоянен адрес-->
        <address-registration formControlName="addressesControl"
                              addressLabel="{{ 'common.permanent-address' | tlTranslate : 'cap' }}"
                              secondAddressLabel="{{ 'common.correspondence-address' | tlTranslate : 'cap' }}"
                              checkboxLabel="{{ 'my-profile.permanent-address-same-as-correspondence' | tlTranslate }}">
        </address-registration>
    </tl-expansion-panel>

    <tl-expansion-panel title="{{ 'my-profile.territory-unit' | tlTranslate }}"
                        [validityChecker]="changeUserDataForm">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" fxLayoutGap="1em">
            <tl-select fxFlex="50"
                       label="{{ 'my-profile.territory-unit' | tlTranslate }}"
                       formControlName="territoryUnitControl"
                       [options]="territoryUnits"
                       tooltipResourceName="my-profile.territorial-unit-helper">
            </tl-select>

            <div fxFlex="50"></div>
        </div>
    </tl-expansion-panel>

    <!--Данни за сдружения-->
    <tl-expansion-panel title="{{ 'my-profile.associations' | tlTranslate }}"
                        [validityChecker]="changeUserDataForm"
                        [validityCheckerExtraCondition]="changeUserDataForm.errors?.missingProperties !== true">
        <div fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <tl-data-table #legalDataTable
                               fxFlexFill
                               fxLayoutGap="1em"
                               class="full-width-template"
                               [showAddButton]="false"
                               [isRemote]="false"
                               [isSoftDeletable]="true"
                               [showInactiveRecords]="true"
                               [rows]="userLegals">
                    <data-column columnName="{{ 'my-profile.legal-name' | tlTranslate }}"
                                 propertyName="name">
                    </data-column>

                    <data-column columnName="{{ 'my-profile.role' | tlTranslate }}"
                                 propertyName="role">
                    </data-column>

                    <data-template-column columnName="{{ 'my-profile.status' | tlTranslate }}" propertyName="StatusName">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div *ngIf="row.data.status !== undefined">
                                <div *ngIf="row.data.status === legalStatusEnum.Blocked">
                                    <tl-icon icon="highlight_off" iconClass="accent-color"></tl-icon>
                                    {{ 'my-profile.blocked' | tlTranslate }}
                                </div>
                                <div *ngIf="row.data.status === legalStatusEnum.Approved">
                                    <tl-icon icon="done_outline" iconClass="accent-color"></tl-icon>
                                    {{ 'my-profile.approved' | tlTranslate }}
                                </div>
                                <div *ngIf="row.data.status === legalStatusEnum.Requested">
                                    <tl-icon icon="autorenew" iconClass="accent-color"></tl-icon>
                                    {{ 'my-profile.requested' | tlTranslate }}
                                </div>
                            </div>
                        </ng-template>
                    </data-template-column>

                    <data-template-column [flexRate]="0.3" [cellClass]="'justify-center'">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div fxLayout="row wrap" fxLayoutAlign="end center">
                                <tl-icon *ngIf="isTouched && row.data.hasMissingProperties === true"
                                         icon="ic-exclamation"
                                         iconClass="error-color"
                                         [size]="icIconSize">
                                </tl-icon>

                                <tl-icon-button icon="visibility"
                                                (buttonClicked)="editUserLegal(row.data, true)"
                                                iconClass="accent-color"
                                                tooltipText="{{ 'my-profile.view-user-legal' | tlTranslate }}">
                                </tl-icon-button>

                                <tl-icon-button *ngIf="row.data.isActive"
                                                icon="edit"
                                                (buttonClicked)="editUserLegal(row.data)"
                                                iconClass="accent-color"
                                                tooltipText="{{ 'my-profile.edit-user-legal' | tlTranslate }}">
                                </tl-icon-button>

                                <tl-icon-button *ngIf="row.data.isActive"
                                                icon="delete"
                                                (buttonClicked)="deleteUserLegal(row)"
                                                iconClass="accent-color"
                                                tooltipText="{{ 'my-profile.delete-user-legal' | tlTranslate }}">
                                </tl-icon-button>

                                <tl-icon-button *ngIf="!row.data.isActive"
                                                icon="restore"
                                                (buttonClicked)="undoDeleteUserLegal(row)"
                                                iconClass="accent-color"
                                                tooltipText="{{ 'my-profile.restore-user-legal' | tlTranslate }}">
                                </tl-icon-button>
                            </div>
                        </ng-template>
                    </data-template-column>
                </tl-data-table>
            </div>

            <mat-error *ngIf="isTouched && changeUserDataForm.errors?.missingProperties === true">
                * {{ 'my-profile.user-legal-missing-properties-error' | tlTranslate }}
            </mat-error>
        </div>
    </tl-expansion-panel>

    <!--Данни за парола-->
    <tl-card *ngIf="userMustChangePassword" [validityChecker]="changeUserDataForm">
        <tl-card-title>{{ 'change-password.change-password-title' | tlTranslate }}</tl-card-title>
        <tl-card-content fxLayout="column" fxLayoutGap="2em">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <tl-input *ngIf="passwordIcon == 'fa-eye'; else textTypePass"
                          fxFlex="100"
                          type="password"
                          formControlName="passwordControl"
                          label="{{ 'my-profile.password' | tlTranslate }}"
                          [multilineError]="true">
                    <tl-icon-button icon="{{passwordIcon}}"
                                    iconClass="accent-color"
                                    (buttonClicked)="showOrHidePassword('password')">
                    </tl-icon-button>
                </tl-input>
                <ng-template #textTypePass>
                    <tl-input fxFlex="100"
                              type="text"
                              formControlName="passwordControl"
                              label="{{ 'my-profile.password' | tlTranslate }}"
                              [multilineError]="true">
                        <tl-icon-button icon="{{passwordIcon}}"
                                        iconClass="accent-color"
                                        (buttonClicked)="showOrHidePassword('password')">
                        </tl-icon-button>
                    </tl-input>
                </ng-template>

                <tl-input *ngIf="passwordConfirmationIcon == 'fa-eye'; else textTypePassConf"
                          fxFlex="100"
                          type="password"
                          formControlName="passwordConfirmationControl"
                          label="{{ 'my-profile.verify-password' | tlTranslate }}"
                          [multilineError]="true">
                    <tl-icon-button icon="{{passwordConfirmationIcon}}"
                                    iconClass="accent-color"
                                    (buttonClicked)="showOrHidePassword('passwordConfirmation')">
                    </tl-icon-button>
                </tl-input>
                <ng-template #textTypePassConf>
                    <tl-input fxFlex="100"
                              type="text"
                              formControlName="passwordConfirmationControl"
                              label="{{ 'my-profile.verify-password' | tlTranslate }}"
                              [multilineError]="true">
                        <tl-icon-button icon="{{passwordConfirmationIcon}}"
                                        iconClass="accent-color"
                                        (buttonClicked)="showOrHidePassword('passwordConfirmation')">
                        </tl-icon-button>
                    </tl-input>
                </ng-template>
            </div>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" fxLayoutGap="1em">
            </div>
        </tl-card-content>
    </tl-card>
</div>
