<ngx-datatable-column [name]="columnName"
                      [prop]="propertyName"
                      [sortable]="isSortable"
                      [flexGrow]="flexRate"
                      [resizeable]="isResizable"
                      [cellTemplate]="cellTemplate"
                      [cellClass]="cellClass"
                      [headerClass]="headerClass"
                      [frozenLeft]="attachedLeft"
                      [frozenRight]="attachedRight">
    <ng-content></ng-content>
</ngx-datatable-column>