<div fxFlexFill fxLayout="column" fxLayoutGap="1em">
    <tl-data-table #seizedFishTable
                   fxFlex="100"
                   [isRemote]="false"
                   [isSoftDeletable]="true"
                   [showInactiveRecords]="true"
                   [inlineEditing]="true"
                   [showAddButton]="!viewMode"
                   [rows]="seizedFish"
                   (recordChanged)="seizedFishRecordChanged($event)"
                   (activeRecordChanged)="onEditRecord($event)">
        <data-column *ngIf="isAppliance === false"
                     [flexRate]="0.5"
                     [formGroup]="seizedFishForm"
                     propertyName="fishTypeId"
                     dataType="nomenclature"
                     [options]="fishTypes"
                     [getControlErrorLabelText]="getControlErrorLabelTextMethod"
                     columnName="{{ 'penal-decrees.edit-sized-fish-type' | tlTranslate }}">
        </data-column>

        <data-column *ngIf="isAppliance"
                     [flexRate]="0.5"
                     [formGroup]="seizedFishForm"
                     propertyName="applianceId"
                     dataType="nomenclature"
                     [options]="appliances"
                     columnName="{{ 'penal-decrees.edit-confiscated-fish-appliance' | tlTranslate }}">
        </data-column>

        <data-column *ngIf="!isAppliance"
                     [flexRate]="0.2"
                     [formGroup]="seizedFishForm"
                     propertyName="weight"
                     columnName="{{ 'penal-decrees.edit-sized-fish-weight' | tlTranslate }}">
        </data-column>

        <data-column *ngIf="isAppliance"
                     [flexRate]="0.2"
                     [formGroup]="seizedFishForm"
                     propertyName="length"
                     columnName="{{ 'penal-decrees.edit-sized-fish-length' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.2"
                     [formGroup]="seizedFishForm"
                     propertyName="count"
                     columnName="{{ 'penal-decrees.edit-sized-fish-count' | tlTranslate }}">
        </data-column>

        <data-column *ngIf="!isAppliance"
                     [flexRate]="0.3"
                     [formGroup]="seizedFishForm"
                     propertyName="turbotSizeGroupId"
                     dataType="nomenclature"
                     [options]="turbotSizeGroups"
                     columnName="{{ 'auan-register.edit-confiscated-fish-turbot-size' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.4"
                     [formGroup]="seizedFishForm"
                     propertyName="confiscationActionId"
                     dataType="nomenclature"
                     [options]="confiscatedFishActions"
                     columnName="{{ 'penal-decrees.edit-sized-fish-action' | tlTranslate }}">
        </data-column>

        <data-column *ngIf="!isAuan"
                     [flexRate]="0.3"
                     [formGroup]="seizedFishForm"
                     propertyName="territoryUnitId"
                     dataType="nomenclature"
                     [options]="territoryUnits"
                     columnName="{{ 'penal-decrees.edit-sized-fish-storrage-territory-unit' | tlTranslate }}">
        </data-column>

        <data-column [flexRate]="0.5"
                     [formGroup]="seizedFishForm"
                     propertyName="comments"
                     columnName="{{ 'penal-decrees.edit-sized-fish-comments' | tlTranslate }}">
        </data-column>

        <data-template-column *ngIf="isAuan" [flexRate]="0.5" columnName="{{ 'auan-register.edit-violated-law-section' | tlTranslate }}">
            <ng-template let-row="row" ngx-datatable-cell-template [formGroup]="seizedFishForm">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span *ngIf="!row.editMode" class="text-ellipsis">
                        {{ row.data.lawText }}
                    </span>

                    <tl-input *ngIf="row.editMode === true"
                              fxFlex="80"
                              formControlName="lawTextControl"
                              [readonly]="true">
                    </tl-input>

                    <tl-icon-button *ngIf="row.editMode === true
                                           && (row.data.lawSectionId === null || row.data.lawSectionId === undefined)
                                           && !(seizedFishForm.controls.lawTextControl.touched 
                                           && seizedFishForm.controls.lawTextControl.errors?.lawSectionError)"
                                    icon="fa-plus-circle"
                                    iconClass="accent-color"
                                    size="1.5"
                                    (buttonClicked)="openLawSectionsDialog(row)"
                                    tooltipText="{{ 'auan-register.add-law-section' | tlTranslate }}">
                    </tl-icon-button>

                    <tl-icon-button *ngIf="row.editMode === true
                                           && (row.data.lawSectionId === null || row.data.lawSectionId === undefined)
                                           && (seizedFishForm.controls.lawTextControl.touched 
                                           && seizedFishForm.controls.lawTextControl.errors?.lawSectionError === true)"
                                    icon="fa-plus-circle"
                                    iconClass="error-color"
                                    size="1.5"
                                    (buttonClicked)="openLawSectionsDialog(row)"
                                    tooltipText="{{ 'auan-register.add-law-section' | tlTranslate }}">
                    </tl-icon-button>

                    <tl-icon-button *ngIf="row.data.lawSectionId !== null && row.data.lawSectionId !== undefined"
                                    icon="fa-file-signature"
                                    iconClass="accent-color"
                                    size="1.5"
                                    (buttonClicked)="openLawSectionsDialog(row)"
                                    [disabled]="!row.editMode"
                                    tooltipText="{{ row.data.lawText }}">
                    </tl-icon-button>
                </div>
            </ng-template>
        </data-template-column>

        <data-column-inline *ngIf="!viewMode"
                            [flexRate]="0.2">
        </data-column-inline>
    </tl-data-table>
</div>