<div fxLayout="column"
     fxLayoutGap="1em"
     validityCheckerGroup
     [formGroup]="form"
     fxLayoutAlign="start stretch">
    <!-- Данни за риболовния кораб -->
    <inspected-ship-with-personnel formControlName="shipControl"
                                   [hasMap]="hasMap"
                                   [hasPort]="hasPort"
                                   [toggles]="shipToggles"
                                   [ships]="ships"
                                   [countries]="countries"
                                   [ports]="ports"
                                   [vesselTypes]="vesselTypes"
                                   [shipLabel]="shipLabel"
                                   [shipObservationCategory]="shipObservationCategory"
                                   validityChecker
                                   (shipSelected)="onShipSelected($event)">
    </inspected-ship-with-personnel>

    <!-- Инспекция на кораб -->
    <tl-expansion-panel [title]="checksLabel"
                        [validityChecker]="form">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <inspection-toggle-list formControlName="togglesControl"
                                    [toggles]="checkToggles">
            </inspection-toggle-list>

            <div fxLayout="column"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start stretch">
                <inspection-toggle formControlName="opMembershipControl"
                                   [toggle]="opMembership"
                                   [options]="opMembership?.checkType === inspectionCheckTypesEnum.BOOL ? boolOptions : tripleOptions">
                </inspection-toggle>

                <tl-autocomplete formControlName="opMembershipAssociationControl"
                                 [options]="associations"
                                 label="{{ 'inspections.op-membership-association' | tlTranslate }}"
                                 tooltipResourceName="inspections.op-membership-association-helper">
                </tl-autocomplete>
            </div>

            <div fxLayout="column"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start stretch">
                <inspection-toggle formControlName="preliminaryNoticeControl"
                                   [toggle]="preliminaryNotice"
                                   [options]="preliminaryNotice?.checkType === inspectionCheckTypesEnum.BOOL ? boolOptions : tripleOptions">
                </inspection-toggle>

                <div fxLayout="row"
                     fxLayoutGap="1em"
                     fxLayoutAlign="start stretch">
                    <tl-input fxFlex="50"
                              formControlName="preliminaryNoticeNumberControl"
                              label="{{ 'inspections.preliminary-notice-number' | tlTranslate }}"
                              tooltipResourceName="inspections.preliminary-notice-number-helper">
                    </tl-input>

                    <tl-input fxFlex="50"
                              formControlName="preliminaryNoticePurposeControl"
                              label="{{ 'inspections.preliminary-notice-purpose' | tlTranslate }}"
                              tooltipResourceName="inspections.preliminary-notice-purpose-helper">
                    </tl-input>
                </div>
            </div>

            <inspected-permits-table formControlName="permitsControl">
            </inspected-permits-table>

            <inspected-permit-licenses-table formControlName="permitLicensesControl"
                                             (permitOptionPicked)="onPermitIdsChanged($event)">
            </inspected-permit-licenses-table>

            <inspected-log-books-table formControlName="logBooksControl"
                                       (logBookPageIdChanged)="onLogBookPageIdChanged($event)">
            </inspected-log-books-table>

            <tl-textarea formControlName="checkObservationControl"
                         [minRows]="3"
                         label="{{ 'inspections.violation' | tlTranslate }}"
                         tooltipResourceName="inspections.violation-helper">
            </tl-textarea>
        </div>
    </tl-expansion-panel>

    <!-- Инспекция на улова -->
    <tl-expansion-panel [title]="catchLabel"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="form.errors?.atLeastOneCatchError !== true">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <inspected-catches-table formControlName="catchesControl"
                                     [hasUnloadedQuantity]="hasUnloadedQuantity"
                                     [ships]="ships"
                                     [fishes]="fishes"
                                     [types]="catchTypes"
                                     [catchZones]="catchZones"
                                     [fishSex]="fishSex"
                                     [turbotSizeGroups]="turbotSizeGroups">
            </inspected-catches-table>

            <mat-error *ngIf="form.controls.catchesControl?.touched && form.errors?.atLeastOneCatchError === true">
                * {{ 'inspections.market-catch-at-least-one-catch-error' | tlTranslate }}
            </mat-error>

            <inspection-toggle-list formControlName="catchTogglesControl"
                                    [toggles]="catchToggles">
            </inspection-toggle-list>

            <tl-textarea formControlName="catchObservationControl"
                         [minRows]="3"
                         label="{{ 'inspections.violation' | tlTranslate }}"
                         tooltipResourceName="inspections.violation-helper">
            </tl-textarea>
        </div>
    </tl-expansion-panel>

    <!-- Инспекция на уредите -->
    <tl-expansion-panel *ngIf="hasFishingGears"
                        [title]="fishingGearLabel"
                        [validityChecker]="form">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <inspected-fishing-gears-table formControlName="fishingGearsControl"
                                           [permitIds]="permitIds"
                                           [viewMode]="viewMode"
                                           [showGenerateBtn]="true"
                                           [hasAttachedAppliances]="true"
                                           (generateFishingGearsFromShipClicked)="generateFishingGearsFromShip()">
            </inspected-fishing-gears-table>

            <inspection-toggle-list formControlName="fishingGearTogglesControl"
                                    [toggles]="fishingGearToggles">
            </inspection-toggle-list>

            <tl-textarea formControlName="fishingGearObservationControl"
                         [minRows]="3"
                         label="{{ 'inspections.violation' | tlTranslate }}"
                         tooltipResourceName="inspections.violation-helper">
            </tl-textarea>
        </div>
    </tl-expansion-panel>
</div>