<div class="mt-8">
    <div *ngIf="authenticationMethodSet; else noMethodSet">
        <div>{{ codeSendMsg }}</div>
        <span>{{ prompt }}</span>
        <tl-input [label]="label"
                  [formControl]="authCodeControl"
                  [getControlErrorLabelText]="showInvalidError.bind(this)">
        </tl-input>
        <button class="fuse-mat-button-large w-full mt-3"
                mat-flat-button
                [color]="'primary'"
                (tlDebounceClick)="verifyPIN()">
            {{ 'auth.authentication-verify-button' | tlTranslate }}
        </button>
        <div class="inline-flex items-end justify-between w-full mt-3">
            <a class="text-md font-medium text-primary-500 hover:underline cursor-pointer"
               (tlDebounceClick)="showMethods()">
                {{ 'auth.other-auth-methods' | tlTranslate }}
            </a>
        </div>
        <div *ngIf="authenticationUsed !== authenticationOptionsEnum.AUTHENTICATOR"
             class="inline-flex w-full mt-3">
            <span>{{ notReceived }}?&nbsp;</span>
            <a class="text-md font-medium text-primary-500 hover:underline cursor-pointer"
               (tlDebounceClick)="reSendMessage()">
                {{ 'auth.send-again' | tlTranslate }}
            </a>
        </div>
    </div>
    <ng-template #noMethodSet>
        <div fxFlex
             fxLayout="column"
             fxLayoutGap="2em">
            <div fxLayout="row">
                <div fxFlex
                     fxLayout="column"
                     fxLayoutGap="1em">

                    <span>{{ 'auth.choose-auth-method' | tlTranslate }}</span>
                    <tl-radio-button-group [formControl]="authTypeControl"
                                           [options]="authenticationOptions"
                                           gap="1em">
                    </tl-radio-button-group>
                </div>
            </div>
            <div fxLayout="row"
                 fxLayoutAlign="end end">
                <button class="fuse-mat-button-large"
                        mat-flat-button
                        [color]="'primary'"
                        (tlDebounceClick)="setMethod()">
                    {{ chooseBtnLabel }}
                </button>
            </div>
        </div>
    </ng-template>
</div>
