<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     fxLayoutAlign="space-between stretch"
     validityCheckerGroup
     [formGroup]="form"
     [notifierGroup]="notifier"
     class="dialog-padding">
    <!-- Заявител -->
    <application-submitted-by formControlName="submittedByControl"
                              notifier
                              validityChecker
                              label="{{ 'ships-register.coc-requester' | tlTranslate }}"
                              [isIdReadOnly]="isEditing || isPublicApp"
                              [middleNameRequired]="true"
                              [expectedResults]="expectedResults.submittedBy">
    </application-submitted-by>

    <!-- Получател -->
    <application-submitted-for formControlName="submittedForControl"
                               notifier
                               validityChecker
                               relationLabel="{{ 'ships-register.coc-requester-role' | tlTranslate }}"
                               submittedForLabel="{{ 'ships-register.coc-receiver' | tlTranslate }}"
                               [pageCode]="pageCode"
                               [hideRelation]="showOnlyRegiXData"
                               [isIdReadOnly]="isEditing"
                               [showCustodianOfProperty]="false"
                               [middleNameRequired]="true"
                               [submittedByControl]="form.controls.submittedByControl"
                               [expectedResults]="expectedResults.submittedFor">
    </application-submitted-for>

    <!-- Кораб -->
    <tl-expansion-panel title="{{ 'ships-register.coc-ship' | tlTranslate }}"
                        tooltipResourceName="ships-register.coc-ship-helper"
                        [validityChecker]="form">
        <tl-autocomplete fxFlex="50"
                         formControlName="shipControl"
                         [options]="ships"
                         [getControlErrorLabelText]="shipControlErrorLabelTextMethod"
                         tooltipResourceName="ships-register.coc-ship-from-register-helper"
                         label="{{ 'ships-register.coc-ship-from-register' | tlTranslate }}">
        </tl-autocomplete>
    </tl-expansion-panel>

    <!-- Промени -->
    <tl-expansion-panel title="{{ 'ships-register.coc-changes' | tlTranslate }}"
                        tooltipResourceName="ships-register.coc-changes-helper"
                        [validityChecker]="form">
        <change-of-circumstances formControlName="changesControl"
                                 [pageCode]="pageCode"
                                 [disableDelete]="showOnlyRegiXData"
                                 [showOnlyRegiXData]="showOnlyRegiXData">
        </change-of-circumstances>
    </tl-expansion-panel>

    <!-- Информация за плащане -->
    <tl-expansion-panel *ngIf="isPaid && !showOnlyRegiXData"
                        title="{{ 'ships-register.coc-payment-information' | tlTranslate }}"
                        tooltipResourceName="ships-register.coc-payment-information-helper">
        <payment-information formControlName="applicationPaymentInformationControl"
                             [hideBasicInfo]="hideBasicPaymentInfo" 
                             [isOnlineApplication]="isOnlineApplication">
        </payment-information>
    </tl-expansion-panel>

    <!-- Информация за начин на връчване -->
    <tl-expansion-panel *ngIf="hasDelivery && !showOnlyRegiXData"
                        title="{{ 'ships-register.coc-delivery-data' | tlTranslate }}"
                        tooltipResourceName="ships-register.coc-delivery-data-helper"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="hasNoEDeliveryRegistrationError !== true">
        <delivery-data formControlName="deliveryDataControl"
                       [pageCode]="pageCode">
        </delivery-data>
        <mat-error *ngIf="hasNoEDeliveryRegistrationError">
            * {{ 'ships-register.coc-has-no-e-delivery-registration-error' | tlTranslate }}
        </mat-error>
    </tl-expansion-panel>

    <!-- Файлове -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        title="{{ 'ships-register.coc-files' | tlTranslate }}"
                        tooltipResourceName="ships-register.coc-files-helper"
                        [validityChecker]="form">
        <file-uploader-form-array formControlName="filesControl"
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(this.service)"
                                  [fileTypeFilterFn]="fileTypeFilterFn.bind(this)"
                                  [refreshFileTypes]="refreshFileTypes">
        </file-uploader-form-array>
    </tl-expansion-panel>

    <!-- Проверки -->
    <tl-expansion-panel *ngIf="showOnlyRegiXData || showRegiXData"
                        title="{{ 'ships-register.coc-regix-checks-results' | tlTranslate }}"
                        tooltipResourceName="ships-register.coc-regix-checks-results-helper">
        <div fxLayout="column" fxLayoutGap="1em">
            <regix-checks-results [regixChecksCollection]="regixChecks"></regix-checks-results>
        </div>
    </tl-expansion-panel>
</div>