<tl-card>
    <tl-card-title>{{ 'penal-decrees.statuses' | tlTranslate }}</tl-card-title>

    <tl-card-content>
        <tl-data-table #decreeStatusesTable
                       fxFlex="100"
                       [rows]="rows"
                       [isRemote]="false"
                       [isSoftDeletable]="true"
                       [showInactiveRecords]="true"
                       [showAddButton]="showAddButton"
                       [recordsPerPage]="recordsPerPage"
                       (addButtonClicked)="editPenalDecreeStatus(undefined, false)">
            <data-column columnName="{{ 'penal-decrees.edit-status-date' | tlTranslate }}"
                         [flexRate]="0.2"
                         propertyName="dateOfChange"
                         dataType="date">
            </data-column>

            <data-column [flexRate]="0.3"
                         propertyName="statusName"
                         columnName="{{ 'penal-decrees.edit-status-name' | tlTranslate }}">
            </data-column>

            <data-column [flexRate]="0.3"
                         propertyName="details"
                         columnName="{{ 'penal-decrees.edit-status-details' | tlTranslate }}">
            </data-column>

            <data-template-column [flexRate]="0.3" [cellClass]="'justify-center'">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div fxLayout="row wrap" fxLayoutAlign="end center">
                        <tl-icon-button icon="visibility"
                                        (buttonClicked)="editPenalDecreeStatus(row.data, true)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'penal-decrees.view-status' | tlTranslate }}">
                        </tl-icon-button>
                        <tl-icon-button *ngIf="row.data.isActive && canEditPenalDecreeStatuses"
                                        icon="edit"
                                        (buttonClicked)="editPenalDecreeStatus(row.data, false)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'penal-decrees.edit-status' | tlTranslate }}">
                        </tl-icon-button>
                        <tl-icon-button *ngIf="row.data.isActive && canDeletePenalDecreeStatuses"
                                        icon="delete"
                                        (buttonClicked)="deletePenalDecreeStatus(row.data)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'penal-decrees.delete-status' | tlTranslate }}">
                        </tl-icon-button>
                        <tl-icon-button *ngIf="!row.data.isActive && canRestorePenalDecreeStatuses"
                                        icon="restore"
                                        (buttonClicked)=" undoDeletePenalDecreeStatus(row.data)"
                                        iconClass="accent-color"
                                        tooltipText="{{ 'penal-decrees.restore-status' | tlTranslate }}">
                        </tl-icon-button>
                    </div>
                </ng-template>
            </data-template-column>
        </tl-data-table>
    </tl-card-content>
</tl-card>