<div [formGroup]="form"
     fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     fxLayoutAlign="space-between stretch">
    <tl-card tooltipResourceName="inspections.inspected-person-helper">
        <tl-card-title>
            {{ title }}
            <span *ngIf="isArray">{{ 'inspections.edit-person-no' | tlTranslate }}{{ orderNum + 1 }}</span>
        </tl-card-title>

        <tl-card-content>
            <div fxFlexFill fxLayout="column" fxLayoutGap="1em" fxFlex="100" fxLayoutAlign="space-between stretch">
                <div *ngIf="isArray" fxFlex="100" fxLayout="row" fxLayoutAlign="end start">
                    <tl-icon-button icon="delete"
                                    iconClass="accent-color"
                                    (buttonClicked)="deletePanel()"
                                    [disabled]="isDisabled">
                    </tl-icon-button>
                </div>

                <regix-data formControlName="personControl"
                            [isIdentityRequired]="false"
                            [isPerson]="true"
                            [isIdReadOnly]="false"
                            [isForeigner]="false"
                            [includeForeigner]="true"
                            [showOnlyBasicData]="true"
                            (downloadDataBtnClicked)="downloadedPersonData($event)"
                            checkboxLabel="{{ 'catches-and-sales.log-book-page-person-has-bulgarian-address-registration' | tlTranslate }}">
                </regix-data>

                <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
                    <tl-input fxFlex="50"
                              formControlName="addressControl"
                              label="{{ 'inspections.address' | tlTranslate }}"
                              tooltipResourceName="inspections.address-helper">
                    </tl-input>

                    <tl-autocomplete fxFlex="50"
                                     formControlName="countryControl"
                                     [options]="countries"
                                     label="{{ 'inspections.country' | tlTranslate }}"
                                     tooltipResourceName="inspections.country-helper">
                    </tl-autocomplete>
                </div>
            </div>
        </tl-card-content>
    </tl-card>
</div>
