<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     validityCheckerGroup
     [formGroup]="form"
     class="dialog-padding">
    <!-- Основни данни -->
    <tl-expansion-panel title="{{ 'inspections.general-info' | tlTranslate }}"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="reportNumAlreadyExistsError !== true || isInspectionLockedError !== true">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <inspection-general-info formControlName="generalInfoControl"
                                     [institutions]="institutions"
                                     [canEditNumber]="canEditNumber"
                                     [reportNumAlreadyExists]="reportNumAlreadyExistsError"
                                     [isReportLocked]="isInspectionLockedError">
            </inspection-general-info>

            <patrol-vehicles-table formControlName="patrolVehiclesControl"
                                   [isWaterVehicle]="true">
            </patrol-vehicles-table>
        </div>
    </tl-expansion-panel>

    <!-- Данни за риболовния кораб -->
    <inspected-ship-sections formControlName="shipSectionsControl"
                             [hasMap]="true"
                             [toggles]="toggles"
                             [associations]="associations"
                             [ships]="ships"
                             [fishes]="fishes"
                             [catchTypes]="catchTypes"
                             [catchZones]="catchZones"
                             [fishSex]="fishSex"
                             [countries]="countries"
                             [ports]="ports"
                             [vesselTypes]="vesselTypes"
                             [turbotSizeGroups]="turbotSizeGroups"
                             validityChecker>
    </inspected-ship-sections>

    <!-- Допълнителна информация -->
    <inspection-additional-info formControlName="additionalInfoControl"
                                validityChecker>
        <tl-textarea formControlName="captainCommentControl"
                     [minRows]="3"
                     label="{{ 'inspections.captain-comment' | tlTranslate }}">
        </tl-textarea>
    </inspection-additional-info>

    <!-- Файлове -->
    <tl-expansion-panel title="{{ 'inspections.edit-inspection-files' | tlTranslate }}"
                        [validityChecker]="form">
        <file-uploader-form-array formControlName="filesControl"
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(this.service)">
        </file-uploader-form-array>
    </tl-expansion-panel>
</div>