<div fxLayout="column"
     fxLayoutGap="1em"
     validityCheckerGroup
     [formGroup]="form">
    <tl-radio-button-group *ngIf="!isFromRegister"
                           fxFlex="100"
                           formControlName="isInspectedEntityPersonControl"
                           [options]="inspectedEntityOptions"
                           [readonly]="isFromRegister"
                           direction="row"
                           gap="1em"
                           tooltipResourceName="auan-register.edit-is-inspected-entity-person-helper">
    </tl-radio-button-group>

    <div *ngIf="inspectedEntity !== undefined && inspectedEntity !== null">
        <!-- Физическо лице -->
        <div *ngIf="inspectedEntity.isPerson === true">
            <regix-data formControlName="personControl"
                        validityChecker
                        [isPerson]="true"
                        [readonly]="isFromRegister"
                        [hideDocument]="true"
                        [isIdReadOnly]="isIdReadOnly"
                        [includeForeigner]="true"
                        [middleNameRequired]="true"
                        (downloadDataBtnClicked)="downloadedPersonData($event)"
                        checkboxLabel="{{ 'auan-register.has-bulgarian-address-registration' | tlTranslate }}">
            </regix-data>

            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
                <tl-input fxFlex="25"
                          [readonly]="isFromRegister"
                          formControlName="personWorkPlaceControl"
                          label="{{ 'auan-register.edit-inspected-entity-work-place' | tlTranslate }}">
                </tl-input>

                <tl-input fxFlex="25"
                          [readonly]="isFromRegister"
                          formControlName="personWorkPositionControl"
                          label="{{ 'auan-register.edit-inspected-entity-work-position' | tlTranslate }}">
                </tl-input>

                <div fxFlex="50"></div>
            </div>

            <address-registration formControlName="personAddressesControl"
                                  validityChecker
                                  [readonly]="isFromRegister"
                                  addressLabel="{{ 'common.permanent-address' | tlTranslate : 'cap' }}"
                                  secondAddressLabel="{{ 'common.correspondence-address' | tlTranslate : 'cap' }}"
                                  checkboxLabel="{{ 'auan-register.permanent-address-same-as-correspondence' | tlTranslate }}">
            </address-registration>
        </div>

        <!-- Юридическо лице -->
        <div *ngIf="inspectedEntity.isPerson === false">
            <regix-data formControlName="legalControl"
                        validityChecker
                        [isPerson]="false"
                        [readonly]="isFromRegister"
                        [isIdReadOnly]="isIdReadOnly"
                        [showCustodianOfProperty]="false"
                        (downloadDataBtnClicked)="downloadedLegalData($event)"
                        checkboxLabel="{{ 'auan-regster.has-bulgarian-address-registration' | tlTranslate }}">
            </regix-data>

            <address-registration formControlName="legalAddressesControl"
                                  validityChecker
                                  addressLabel="{{ 'common.company-headquarters-address' | tlTranslate : 'cap' }}"
                                  [readonly]="isFromRegister"
                                  [addressType]="companyHeadquartersType">
            </address-registration>
        </div>
    </div>

    <mat-hint fxFlex="100" fxLayout="column" *ngIf="hasInspexctedEntityInfo" class="warn-orange-color">
        {{ 'auan-register.inspected-entity-control-activity-for-last-year' | tlTranslate }}:
        <div *ngFor="let value of inspectedInfoTexts" fxLayout="column" fxFlex="100">
            {{ value }}
        </div>
    </mat-hint>
</div>
