.menu-panel {
    max-width: 500px !important;
    min-width: 200px !important;
    min-height: 200px;
}

.message-wraper {
    padding-top: 10px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.message {
    padding: 5px 10px !important;
}

    .message:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

.message-title {
    font-family: system-ui;
    font-size: small;
}

.message-subtitle {
    font-family: cursive;
}

.message-text {
    font-style: italic;
    font-size: larger;
}

.message-unread {
    font-weight: bold;
    font-size: larger;
}

.message-link {
    cursor: pointer;
}
