<div *ngIf="notification" class="message-wrapper">
    <mat-card fxFill class="message" (click)="markAsRead($event)">
        <mat-card-content fxFill fxLayout="row" fxLayoutAlign="start stretch">
            <div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
                <!-- Title -->
                <div fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                    <tl-icon fxFlex="nogrow" 
                             [icon]="notification.isRead ? 'fa-envelope-open': 'fa-envelope'" 
                             [iconClass]="notification.isRead ? 'accent-color' : 'error-color'"
                             size="1">
                    </tl-icon>

                    <span fxFlex fxFlexOffset="5" class="message-title">{{ notification.title }}</span>
                </div>

                <!-- Content -->
                <div fxFlex="70" fxLayout="row" fxLayoutAlign="center stretch">
                    <div *ngIf="notification.icon" fxFlex="nogrow">
                        <tl-icon size="2" [icon]="notification.icon"></tl-icon>
                    </div>

                    <div fxFlexOffset="5" fxFlex fxLayout="row" fxLayoutAlign="center stretch">
                        <div fxLayout="column" fxLayoutAlign="space-between stretch">
                            <!-- Subtitle -->
                            <div *ngIf="notification.subtitle" fxFlex="nogrow" class="message-subtitle">
                                {{ notification.subtitle }}
                            </div>

                            <!-- Text -->
                            <div fxFlex class="message-text" 
                                 [innerHTML]="notification.text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <div *ngIf="notification.url || (notification.pageCode && notification.tableId)" fxFlexOffset="5" fxFlex="nogrow">
                <a class="message-link" (click)="navigate()">
                    <tl-icon icon="fa-reply"
                             size="2">
                    </tl-icon>
                </a>
            </div>
        </mat-card-content>
    </mat-card>
</div>