<div fxLayout="row" fxLayoutGap="1em">
    <tl-card fxFlexFill>
        <tl-card-content fxFlexFill>
            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                <tl-icon-button fxFlex="15"
                                [size]="2.5"
                                [icon]="icon"
                                iconClass="accent-color"
                                (buttonClicked)="onRedirect()"
                                [tooltipText]="tooltipText">
                </tl-icon-button>

                <div [style.font-size.em]="1.1" class="overflow" fxFlex="85">
                    <a [href]="url" target="_blank" rel="noopener noreferrer" *ngIf="!shouldDownload">{{ title }}</a>
                    <a [href]="url" target="_blank" rel="noopener noreferrer" [download]="title" *ngIf="shouldDownload">{{ title }}</a>
                </div>
            </div>
        </tl-card-content>
    </tl-card>
</div>