.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #choose-association-label {
        font-size: 2em;
        font-weight: bold;
    }

    #no-associations-label {
        font-size: 1.3em;
        font-weight: bold;
        text-align: justify;
    }

    .associations-list {
        button {
            min-height: 2.3em;
            width: 20em;
            font-size: 1.3em;
        }
    }
}
