<div fxLayout="column" fxLayoutGap="1ем" fxFill>
    <!-- Филтри -->
    <search-panel>
        <div fxLayout="row" fxLayoutGap="1em" [formGroup]="filtersFormGroup">
            <tl-input fxFlex="25"
                      label="{{ 'news-management.filter-title' | tlTranslate }}"
                      formControlName="titleControl"
                      tooltipResourceName="news-management.filter-title-helper">
            </tl-input>

            <tl-input fxFlex="25"
                      label="{{ 'news-management.filter-content' | tlTranslate }}"
                      formControlName="contentControl"
                      tooltipResourceName="news-management.filter-content-helper">
            </tl-input>

            <tl-date-range fxFlex="25"
                           formControlName="dateRangeControl"
                           label="{{ 'news-management.filter-date-from' | tlTranslate }}"
                           tooltipResourceName="news-management.filter-date-helper">
            </tl-date-range>

            <tl-select fxFlex="25"
                       label="{{ 'news-management.filter-is-published' | tlTranslate }}"
                       formControlName="isPublishedControl"
                       [options]="statusCategories"
                       tooltipResourceName="news-management.filter-is-published-helper">
            </tl-select>
        </div>
    </search-panel>

    <!-- Таблица -->
    <tl-card tooltipResourceName="news-management.table-news-helper">
        <tl-card-content>
            <tl-data-table [showAddButton]="canAddNews"
                           [showInactiveRecords]="canRestoreNews"
                           (addButtonClicked)="openEditDialog()"
                           (activeRecordChanged)="openEditDialog($event.id, !$event.isActive || !canEditNews)">
                <data-column [flexRate]="0.4"
                             propertyName="title"
                             columnName="{{ 'news-management.table-news-title' | tlTranslate }}">
                </data-column>

                <data-column [flexRate]="0.2"
                             propertyName="publishStart"
                             dataType="date"
                             columnName="{{ 'news-management.table-date-of-publication' | tlTranslate }}">
                </data-column>

                <data-template-column [flexRate]="0.1"
                                      propertyName="IsPublished"
                                      columnName="{{ 'news-management.table-news-is-published' | tlTranslate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <tl-icon *ngIf="row.data.isPublished"
                                     icon="done_outline"
                                     iconClass="success-color">
                            </tl-icon>

                            <tl-icon *ngIf="!row.data.isPublished"
                                     icon="highlight_off"
                                     iconClass="error-color">
                            </tl-icon>
                        </div>
                    </ng-template>
                </data-template-column>

                <data-column [flexRate]="0.2"
                             propertyName="createdBy"
                             columnName="{{ 'news-management.table-created-by' | tlTranslate }}">
                </data-column>

                <data-template-column [flexRate]="0.1"
                                      propertyName="HasNotificationsSent"
                                      columnName="{{ 'news-management.table-notifications' | tlTranslate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <tl-icon *ngIf="row.data.hasNotificationsSent"
                                     icon="done_outline"
                                     iconClass="success-color">
                            </tl-icon>

                            <tl-icon *ngIf="!row.data.hasNotificationsSent"
                                     icon="history"
                                     iconClass="secondary-color">
                            </tl-icon>
                        </div>
                    </ng-template>
                </data-template-column>

                <data-template-column [flexRate]="0.3">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div fxLayout="row wrap" fxLayoutAlign="end center">
                            <tl-icon-button icon="visibility"
                                            (buttonClicked)="openEditDialog(row.data.id, true)"
                                            iconClass="accent-color">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="row.data.isActive && canEditNews"
                                            icon="edit"
                                            (buttonClicked)="openEditDialog(row.data.id, false)"
                                            iconClass="accent-color">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="row.data.isActive && canDeleteNews"
                                            icon="delete"
                                            (buttonClicked)="deleteNews(row.data)"
                                            iconClass="accent-color">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="!row.data.isActive && canRestoreNews"
                                            icon="restore"
                                            (buttonClicked)="undoDeletedNews(row.data)"
                                            iconClass="accent-color">
                            </tl-icon-button>
                        </div>
                    </ng-template>
                </data-template-column>
            </tl-data-table>
        </tl-card-content>
    </tl-card>
</div>