<ic-icon *ngIf="_type=='IC_ICON'" 
         [icon]="_icon" 
         [size]="_size" 
         [class]="_iconClass" 
         [style.color]="iconColor"
         [matTooltip]="_tooltipText"
         matTooltipPosition="above"
         matTooltipHideDelay="250"
         [matBadgeColor]="badgeColor"
         [matBadge]="matBadge"
         [matBadgeDescription]="badgeDescription"
         [matBadgePosition]="badgePosition"
         [matBadgeSize]="badgeSize"
         [matBadgeHidden]="badgeHidden">
</ic-icon>
<mat-icon *ngIf="_type=='MAT_ICON'" 
          [class]="_iconClass" 
          [style.font-size.em]="_size" 
          [style.color]="iconColor" 
          style="display:inline!important;"
          [matTooltip]="_tooltipText"
          matTooltipPosition="above"
          matTooltipHideDelay="250"
          [matBadgeColor]="badgeColor"
          [matBadge]="matBadge"
          [matBadgeDescription]="badgeDescription"
          [matBadgePosition]="badgePosition"
          [matBadgeSize]="badgeSize"
          [matBadgeHidden]="badgeHidden">
    {{_icon}}
</mat-icon>
<fa-icon *ngIf="_type=='FA_ICON'" 
         [icon]="iconObj" 
         [class]="_iconClass"
         [style.font-size.em]="_size" 
         [style.color]="iconColor"
         [matTooltip]="_tooltipText"
         matTooltipPosition="above"
         matTooltipHideDelay="250"
         [matBadgeColor]="badgeColor"
         [matBadge]="matBadge"
         [matBadgeDescription]="badgeDescription"
         [matBadgePosition]="badgePosition"
         [matBadgeSize]="badgeSize"
         [matBadgeHidden]="badgeHidden">
</fa-icon>