<tl-card tooltipResourceName="inspections.inspected-subject-helper">
    <tl-card-title>{{ title }}</tl-card-title>

    <tl-card-content>
        <div [formGroup]="form" fxLayout="column" fxLayoutGap="1em" fxFlexFill fxLayoutAlign="space-between stretch">
            <ng-container>
                <tl-radio-button-group fxFlexFill
                                       formControlName="personTypeControl"
                                       direction="row"
                                       gap="1em"
                                       [options]="personTypes">
                </tl-radio-button-group>

                <div fxFlexFill fxLayout="column" fxLayoutGap="1em">
                    <ng-container *ngIf="form.controls.personTypeControl.value?.value === logBookPagePersonTypesEnum.Person">
                        <regix-data formControlName="personControl"
                                    [isPerson]="true"
                                    [isIdReadOnly]="false"
                                    [isForeigner]="false"
                                    [includeForeigner]="true"
                                    [showOnlyBasicData]="true"
                                    (downloadDataBtnClicked)="downloadedPersonData($event)"
                                    checkboxLabel="{{ 'catches-and-sales.log-book-page-person-has-bulgarian-address-registration' | tlTranslate }}">
                        </regix-data>
                    </ng-container>

                    <ng-container *ngIf="form.controls.personTypeControl.value?.value === logBookPagePersonTypesEnum.LegalPerson">
                        <regix-data formControlName="legalControl"
                                    [isPerson]="false"
                                    [showCustodianOfProperty]="false"
                                    [isForeigner]="true"
                                    [isIdReadOnly]="false"
                                    [showOnlyBasicData]="true"
                                    (downloadDataBtnClicked)="downloadedLegalData($event)"
                                    checkboxLabel="{{ 'catches-and-sales.log-book-page-person-has-bulgarian-address-registration' | tlTranslate }}">
                        </regix-data>
                    </ng-container>
                </div>
            </ng-container>

            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
                <tl-input fxFlex="50"
                          formControlName="addressControl"
                          label="{{ 'inspections.address' | tlTranslate }}"
                          tooltipResourceName="inspections.address-helper">
                </tl-input>

                <tl-autocomplete fxFlex="50"
                                 formControlName="countryControl"
                                 label="{{ 'inspections.country' | tlTranslate }}"
                                 [options]="countries"
                                 tooltipResourceName="inspections.country-helper">
                </tl-autocomplete>
            </div>
        </div>
    </tl-card-content>
</tl-card>