<div fxLayout="column" fxLayoutGoup="5px" fxLayoutAlign="start stretch" fxFill>
    <search-panel [translateService]="translationService">
        <div [formGroup]="errorLogFormGroup" fxLayout="column" fxLayoutAlign="start start">
            <div fxLayoutGap="1em" fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">
                <tl-date-range fxFlex="25"
                               formControlName="errorLogDateRangeControl"
                               label="{{ 'error-log.log-date' | tlTranslate }}"
                               tooltipResourceName="error-log.log-date-helper">
                </tl-date-range>

                <tl-autocomplete fxFlex="25"
                                 formControlName="usernameControl"
                                 [options]="usernames"
                                 label="{{ 'error-log.username' | tlTranslate }}"
                                 tooltipResourceName="error-log.username-helper">
                </tl-autocomplete>

                <tl-input fxFlex="25"
                          formControlName="classControl"
                          label="{{ 'error-log.class' | tlTranslate }}"
                          tooltipResourceName="error-log.class-helper">
                </tl-input>

                <tl-select fxFlex="25"
                           label="{{ 'error-log.severity' | tlTranslate }}"
                           formControlName="severityControl"
                           [options]="severityTypes"
                           [isMultiple]="true"
                           tooltipResourceName="error-log.severity-helper">
                </tl-select>
            </div>
        </div>
    </search-panel>

    <tl-card tooltipResourceName="error-log.error-log-table-helper">
        <tl-card-content>
            <tl-data-table [showAddButton]="false"
                           [showInactiveRecords]="false">
                <data-column propertyName="logDate"
                             [flexRate]="0.2"
                             columnName="{{ 'error-log.log-date' | tlTranslate }}"
                             dataType="datetime">
                </data-column>
                <data-column propertyName="username"
                             [flexRate]="0.2"
                             columnName="{{ 'error-log.username' | tlTranslate }}">
                </data-column>
                <data-column propertyName="severity"
                             [flexRate]="0.2"
                             columnName="{{ 'error-log.severity' | tlTranslate }}">
                </data-column>
                <data-template-column [flexRate]="0.3"
                                      columnName="{{ 'error-log.client' | tlTranslate }}"
                                      propertyName="client">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span class="break-all-words">
                                {{ value }}
                            </span>
                        </div>
                    </ng-template>
                </data-template-column>
                <data-template-column [flexRate]="0.5"
                                      columnName="{{ 'error-log.class' | tlTranslate }}"
                                      propertyName="class">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span class="break-all-words">
                                {{ value }}
                            </span>
                        </div>
                    </ng-template>
                </data-template-column>
                <data-column propertyName="method"
                             [flexRate]="0.3"
                             columnName="{{ 'error-log.method' | tlTranslate }}">
                </data-column>
                <data-template-column [flexRate]="0.3"
                                      columnName="{{ 'error-log.exception-source' | tlTranslate }}"
                                      propertyName="exceptionSource">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span class="break-all-words">
                                {{ value }}
                            </span>
                        </div>
                    </ng-template>
                </data-template-column>
                <data-template-column [flexRate]="0.4"
                                      columnName="{{ 'error-log.message' | tlTranslate }}"
                                      propertyName="message">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <span class="text-ellipsis">
                                {{ value }}
                            </span>
                            <tl-popover-button *ngIf="value !== null && value !== undefined && value.length > 0" iconClass="accent-color" icon="info">
                                <span fxLayout="row" class="scroll">{{ value }}</span>
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <button mat-raised-button
                                            color="accent"
                                            [cdkCopyToClipboard]="copyMessageToClipboard(row)"
                                            matTooltip="{{ 'error-log.copy-message-tooltip' | tlTranslate }}"
                                            (cdkCopyToClipboardCopied)="messageCopied($event)">
                                        <tl-icon type="IC_ICON" icon="ic-copy" size="1.33em"></tl-icon>
                                        {{ 'error-log.copy-message' | tlTranslate }}
                                    </button>
                                </div>
                            </tl-popover-button>
                        </div>
                    </ng-template>
                </data-template-column>
                <data-template-column [flexRate]="0.4"
                                      columnName="{{ 'error-log.stack-trace' | tlTranslate }}"
                                      propertyName="stackTrace">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <span class="text-ellipsis">
                                {{ value }}
                            </span>
                            <tl-popover-button *ngIf="value !== null && value !== undefined && value.length > 0" iconClass="accent-color" icon="info">
                                <span fxLayout="row" class="scroll">{{ value }}</span>
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <button mat-raised-button
                                            color="accent"
                                            [cdkCopyToClipboard]="copyStackTraceToClipboard(row)"
                                            matTooltip="{{ 'error-log.copy-stack-trace-tooltip' | tlTranslate }}"
                                            (cdkCopyToClipboardCopied)="stackTraceCopied($event)">
                                        <tl-icon type="IC_ICON" icon="ic-copy" size="1.33em"></tl-icon>
                                        {{ 'error-log.copy-stack-trace' | tlTranslate }}
                                    </button>
                                </div>
                            </tl-popover-button>
                        </div>
                    </ng-template>
                </data-template-column>
            </tl-data-table>
        </tl-card-content>
    </tl-card>
</div>