<div [formGroup]="form" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start stretch">
    <tl-radio-button-group *ngIf="!showOnlyRegiXData"
                           fxFlex="100"
                           formControlName="actionControl"
                           [options]="actions">
    </tl-radio-button-group>

    <transfer-fishing-capacity-table *ngIf="form.controls.actionControl.value?.value === remainderActions.Transfer"
                                     formControlName="holdersControl"
                                     [showOnlyRegiXData]="showOnlyRegiXData"
                                     [isDraft]="isDraft"
                                     [isEditing]="isEditing"
                                     [service]="service"
                                     [maxGrossTonnage]="maxGrossTonnage"
                                     [maxPower]="maxPower"
                                     [expectedResults]="expectedResults?.holders">
    </transfer-fishing-capacity-table>

    <mat-hint *ngIf="form.controls.actionControl.value?.value === remainderActions.Certificate && newCertificateData">
        * {{ newCertificateText }}
    </mat-hint>
</div>