<tl-card fxLayout="row" fxLayoutAlign="space-between center">
    <tl-card-title>
        <tl-icon icon="fa-ticket-alt" size="1" iconClass="accent-color"></tl-icon>
        {{ ticket.type }}
    </tl-card-title>

    <tl-card-subtitle *ngIf="ticket.period !== null && ticket.period !== undefined">
        {{ ticket.period }}
    </tl-card-subtitle>

    <tl-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <div>{{ ticket.person }}</div>

                <div><b>{{ 'recreational-fishing.my-ticket-status' | tlTranslate }}:</b> {{ ticket.status }}</div>

                <div><b>{{ 'recreational-fishing.my-ticket-valid-to' | tlTranslate }}:</b> {{ ticket.validTo | date: 'mediumDate' }}</div>
            </div>

            <div fxLayout="column" fxLayoutAlign="center end">
                <!-- Анулиране -->
                <div *ngIf="ticket.ticketStatus === statuses.CANCELED; else notAnnuled">
                    <tl-icon icon="fa-times"
                             size="2.5"
                             iconClass="error-color"
                             matTooltip="{{ 'recreational-fishing.ticket-annuled' | tlTranslate }}"
                             [matTooltipShowDelay]="300">
                    </tl-icon>
                </div>

                <ng-template #notAnnuled>
                    <!-- Платен и активен -->
                    <div *ngIf="(ticket.paymentStatus === paymentStatuses.PaidOK || ticket.paymentStatus === paymentStatuses.NotNeeded)
                        && (ticket.ticketStatus === statuses.REQUESTED || ticket.ticketStatus === statuses.ISSUED || ticket.ticketStatus === statuses.APPROVED)">
                        <tl-icon icon="fa-check"
                                 size="2"
                                 iconClass="success-color"
                                 matTooltip="{{ 'recreational-fishing.remaining' | tlTranslate }} {{ ticket.daysRemaining }} {{ 'recreational-fishing.days' | tlTranslate }}"
                                 [matTooltipShowDelay]="300">
                        </tl-icon>
                    </div>

                    <!-- Платен и изтекъл -->
                    <div *ngIf="(ticket.paymentStatus === paymentStatuses.PaidOK || ticket.paymentStatus === paymentStatuses.NotNeeded) && ticket.ticketStatus === statuses.EXPIRED">
                        <tl-icon icon="fa-times"
                                 size="2.5"
                                 iconClass="error-color"
                                 matTooltip="{{ 'recreational-fishing.invalid-for' | tlTranslate }} {{ -ticket.daysRemaining }} {{ 'recreational-fishing.days' | tlTranslate }}"
                                 [matTooltipShowDelay]="300">
                        </tl-icon>
                    </div>

                    <!-- Неплатен -->
                    <div *ngIf="ticket.paymentStatus === paymentStatuses.Unpaid || ticket.paymentStatus === paymentStatuses.PaymentFail">
                        <tl-icon icon="fa-times"
                                 size="2.5"
                                 iconClass="error-color"
                                 matTooltip="{{ 'recreational-fishing.ticket-unpaid' | tlTranslate }}"
                                 [matTooltipShowDelay]="300">
                        </tl-icon>
                    </div>
                </ng-template>
            </div>
        </div>
    </tl-card-content>
</tl-card>