<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     validityCheckerGroup
     [formGroup]="form"
     class="dialog-padding">
    <div *ngIf="isRegistered"
         fxLayout="column"
         fxLayoutGap="1em"
         fxLayoutAlign="start stretch">

        <div fxLayout="row"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <div fxFlex="50"
                 fxLayout="column"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start stretch">
                <tl-expansion-panel title="{{ 'inspections.registered-fishing-gear' | tlTranslate }}"
                                    [validityChecker]="form">
                    <edit-fishing-gear formControlName="permittedGearControl"
                                       [canSelectMarks]="!readOnly"
                                       [filterTypes]="false"
                                       [showNetsInFleet]="false"
                                       (selectedMark)="onMarkSelected($event)">
                    </edit-fishing-gear>
                </tl-expansion-panel>
            </div>

            <tl-expansion-panel *ngIf="canEditInspectedGear"
                                fxFlex="50"
                                title="{{ 'inspections.inspected-fishing-gear' | tlTranslate }}"
                                [validityChecker]="form">
                <edit-fishing-gear formControlName="inspectedGearControl"
                                   [isInspected]="true"
                                   [isNewInspectedGear]="isAddInspectedGear"
                                   [filterTypes]="false"
                                   [showNetsInFleet]="false"
                                   [listenToService]="true">
                </edit-fishing-gear>
            </tl-expansion-panel>
        </div>

        <inspection-toggle formControlName="optionsControl"
                           [options]="options"
                           [toggle]="toggle">
        </inspection-toggle>

        <inspection-toggle *ngIf="hasAttachedAppliances"
                           formControlName="appliancesOptionsControl"
                           [options]="options"
                           [toggle]="appliancesToggle">
        </inspection-toggle>
    </div>

    <div *ngIf="!isRegistered"
         fxLayout="column"
         fxLayoutGap="1em"
         fxLayoutAlign="start stretch">
        <tl-expansion-panel title="{{ 'inspections.inspected-fishing-gear' | tlTranslate }}"
                            [validityChecker]="form">
            <edit-fishing-gear formControlName="inspectedGearControl"
                               [isInspected]="true"
                               [isNewInspectedGear]="isAddInspectedGear"
                               [filterTypes]="filterTypes"
                               [pageCode]="pageCode"
                               [listenToService]="true"
                               [showNetsInFleet]="false"
                               (selectedMark)="onMarkSelected($event)">
            </edit-fishing-gear>
        </tl-expansion-panel>

        <inspection-toggle *ngIf="hasAttachedAppliances"
                           formControlName="appliancesOptionsControl"
                           [options]="options"
                           [toggle]="appliancesToggle">
        </inspection-toggle>
    </div>
</div>