<div fxLayout="column" fxLayoutGap="1em">
    <div fxFlex="100" fxLayout="column">
        <div fxFlex="100" fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="start center" class="gray-accent">
            <div *ngIf="showIsChecked" [fxFlex]="checkboxLabelFlex" fxLayoutAlign="start center">
                <span class="bold-text italic-text">{{ 'payment-tariffs.include-checkbox' | tlTranslate }}</span>
            </div>
            <div [fxFlex]="showIsChecked ? nameLabelFlex : nameLabelNoCheckboxFlex" fxLayoutAlign="start center">
                <span class="bold-text italic-text">{{ 'payment-tariffs.tariff-name' | tlTranslate }}</span>
            </div>
            <div [fxFlex]="quantityLabelFlex" fxLayoutAlign="center center">
                <span class="bold-text italic-text">{{ 'payment-tariffs.quantity' | tlTranslate }}</span>
            </div>
            <div [fxFlex]="unitPriceLabelFlex" fxLayoutAlign="center center">
                <span class="bold-text italic-text">{{ 'payment-tariffs.unit-price' | tlTranslate }}</span>
            </div>
            <div [fxFlex]="priceLabelFlex" fxLayoutAlign="end center">
                <span class="bold-text italic-text">{{ 'payment-tariffs.price' | tlTranslate }}</span>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxLayout="column" fxLayoutGap="1em">
        <payment-tariff *ngFor="let paymentTariffControl of formArray.controls"
                        [formControl]="paymentTariffControl"
                        [showIsChecked]="showIsChecked">
        </payment-tariff>
    </div>
    <mat-divider fxFlex="100"></mat-divider>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" class="gray-accent">
        <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
            <span class="bold-text italic-text">{{ 'payment-tariffs.total-price' | tlTranslate }}</span>
        </div>
        <div fxFlex="40" fxLayout="row" fxLayoutAlign="end center">
            <span class="bold-text">{{ paymentSummary.totalPrice | currency: 'BGN' : 'symbol' : '0.2-2' : 'bg-BG' }}</span>
        </div>
    </div>
    <mat-divider fxFlex="100"></mat-divider>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" class="gray-accent">
        <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
            <span class="bold-text italic-text">{{ 'payment-tariffs.total-paid-price' | tlTranslate }}</span>
        </div>
        <div fxFlex="40" fxLayout="row" fxLayoutAlign="end center">
            <span class="bold-text">{{ paymentSummary.totalPaidPrice | currency: 'BGN' : 'symbol' : '0.2-2' : 'bg-BG' }}</span>
        </div>
    </div>
</div>