<div fxLayout="column" fxLayoutGap="1em">
    <div fxFlex="100" fxLayout="column">
        <div fxFlex="100" fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="start center" class="gray-accent">
            <div fxFlex="40" fxLayoutAlign="start center">
                <span class="bold-text italic-text">{{ 'payment-tariffs.tariff-name' | tlTranslate }}</span>
            </div>
            <div fxFlex="20" fxLayoutAlign="center center">
                <span class="bold-text italic-text">{{ 'payment-tariffs.quantity' | tlTranslate }}</span>
            </div>
            <div fxFlex="20" fxLayoutAlign="center center">
                <span class="bold-text italic-text">{{ 'payment-tariffs.unit-price' | tlTranslate }}</span>
            </div>
            <div fxFlex="20" fxLayoutAlign="end center">
                <span class="bold-text italic-text">{{ 'payment-tariffs.price' | tlTranslate }}</span>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxLayout="column" fxLayoutGap="1em">
        <payment-tariff *ngFor="let paymentTariff of paymentSummary.tariffs"
                        [paymentTariff]="paymentTariff">
        </payment-tariff>
    </div>
    <mat-divider fxFlex="100"></mat-divider>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" class="gray-accent">
        <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
            <span class="bold-text italic-text">{{ 'payment-tariffs.total-price' | tlTranslate }}</span>
        </div>
        <div fxFlex="40" fxLayoutAlign="end center">
            <span class="bold-text">{{ paymentSummary.totalPrice | currency: 'BGN' : 'symbol' : '0.2-2' : 'bg-BG' }}</span>
        </div>
    </div>
</div>