<div [formGroup]="form"
     fxLayout="column"
     fxLayoutGap="1em"
     fxLayoutAlign="space-between stretch"
     class="dialog-padding">
    <regix-data formControlName="personControl"
                [isPerson]="true"
                [isIdReadOnly]="isEditing"
                [hideDocument]="true"
                [isEmailRequired]="true"
                [expectedResults]="expectedResults.person"
                (downloadDataBtnClicked)="downloadedPersonData($event)">
    </regix-data>

    <tl-slide-toggle *ngIf="showConfirmEmailControl" 
                     formControlName="isEmailConfirmedControl"
                     label="{{ 'legal-entities-page.is-email-confirmed' | tlTranslate }}">
    </tl-slide-toggle>
</div>