<div fxLayout="column"
     fxLayoutGap="1em"
     validityCheckerGroup
     [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="1em">
        <tl-input fxFlex="20"
                  formControlName="auanNumControl"
                  [readonly]="!isAdding"
                  label="{{ (isFromRegister ? 'penal-decrees.edit-auan-num' : 'penal-decrees.edit-external-decree-num') | tlTranslate }}">
        </tl-input>

        <tl-date fxFlex="20"
                 formControlName="auanDraftDateControl"
                 [max]="today"
                 [readonly]="!isAdding"
                 label="{{ (isFromRegister ? 'penal-decrees.edit-auan-draft-date' : 'penal-decrees.edit-external-auan-date') | tlTranslate }}">
        </tl-date>

        <tl-input *ngIf="isFromRegister"
                  fxFlex="20"
                  [readonly]="true"
                  formControlName="auanDrafterControl"
                  label="{{ 'penal-decrees.edit-auan-drafter' | tlTranslate }}">
        </tl-input>

        <tl-input *ngIf="isFromRegister"
                  fxFlex="40"
                  [readonly]="!isAdding"
                  formControlName="auanLocationDescriptionControl"
                  label="{{ 'penal-decrees.edit-auan-location-description' | tlTranslate }}">
        </tl-input>

        <tl-input *ngIf="showExternalControls"
                  fxFlex="20"
                  [readonly]="!isAdding"
                  formControlName="drafterNameControl"
                  label="{{ 'penal-decrees.edit-drafter-name' | tlTranslate }}">
        </tl-input>

        <tl-input *ngIf="showExternalControls"
                  fxFlex="40"
                  [readonly]="!isAdding"
                  formControlName="locationDescriptionControl"
                  label="{{ 'penal-decrees.edit-location-description' | tlTranslate }}">
        </tl-input>
    </div>

    <tl-card [validityChecker]="form">
        <tl-card-title>{{ 'auan-register.edit-auan-inspected-person' | tlTranslate }}</tl-card-title>
        <tl-card-content fxLayout="column" fxLayoutGap="1em">
            <inspected-entity-basic-info formControlName="auanInspectedEntityControl"
                                         validityChecker
                                         [isFromRegister]="!isAdding"
                                         [isIdReadOnly]="!isAdding">
            </inspected-entity-basic-info>
        </tl-card-content>
    </tl-card>
</div>
