<public-page>

    <public-page-header>{{ 'auth.sign-in' | tlTranslate }}</public-page-header>
    <!-- Sign in form -->
    <form [formGroup]="signInForm" #signInNgForm="ngForm">
        <!-- Email field -->
        <tl-username label="{{ 'auth.username' | tlTranslate }}"
                     formControlName="username"
                     [autocomplete]="'username'"
                     appearance="outline">
        </tl-username>
        <!-- Password field -->
        <tl-password-input label="{{ 'auth.password' | tlTranslate }}"
                           formControlName="password"
                           [autocomplete]="'current-password'"
                           appearance="outline">
        </tl-password-input>
        <!-- Actions -->
        <div class="actions">
            <tl-checkbox label="{{ 'auth.remember-me' | tlTranslate }}"
                         color="primary"
                         formControlName="rememberMe">
            </tl-checkbox>
            <div class="action-links">
                <a [routerLink]="['/account/forgot-password']">
                    {{ 'auth.forgotten-password' | tlTranslate }}
                </a>
                <a *ngIf="isPublic"
                   [routerLink]="['/registration']">
                    {{ 'auth.missing-account' | tlTranslate }}
                </a>
            </div>
        </div>
        <!-- Submit buttons -->
        <div class="buttons-wrapper">
            <button class="fuse-mat-button-large"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (tlDebounceClick)="signIn()">
                {{ 'auth.sign-in' | tlTranslate }}
            </button>
            <button class="fuse-mat-button-large"
                    mat-flat-button
                    [color]="'accent'"
                    [disabled]="signInForm.disabled"
                    (tlDebounceClick)="goToEAuth()">
                {{ 'auth.e-auth-login' | tlTranslate }}
            </button>
        </div>
    </form>

</public-page>
