<tl-detail-page *ngIf="passwordValidatorsLoaded">
    <tl-detail-header>
        {{ 'auth.change-password' | tlTranslate:'cap' }}
    </tl-detail-header>
    <tl-detail-actions fxLayoutGap="1em">
        <button mat-raised-button
                color="accent"
                (tlDebounceClick)="save()">
            {{ 'common.save' | tlTranslate }}
        </button>
        <button *ngIf="!mustChangePassword"
                mat-raised-button
                color="primary"
                (tlDebounceClick)="cancel()">
            {{ 'common.cancel' | tlTranslate }}
        </button>
    </tl-detail-actions>
    <tl-detail-content [formGroup]="form">
        <div fxLayout="column"
             fxLayoutGap="1em">
            <label class="font-extrabold"
                   *ngIf="mustChangePassword"> {{ 'auth.must-change-password' | tlTranslate:'cap' }}</label>
            <div fxLayout="row wrap"
                 fxLayoutGap="1em 0em grid"
                 fxFlexFill
                 fxLayoutAlign="space-between center">
                <tl-password-input fxFlex="33"
                                   fxFlex.lt-md="50"
                                   fxFlex.lt-sm="100"
                                   label="{{ 'auth.old-password' | tlTranslate }}"
                                   formControlName="oldPasswordControl"
                                   [getControlErrorLabelText]="getErrorLabelText.bind(this)">
                </tl-password-input>
                <tl-password-input fxFlex="33"
                                   fxFlex.lt-md="50"
                                   fxFlex.lt-sm="100"
                                   label="{{ 'auth.new-password' | tlTranslate }}"
                                   formControlName="passwordControl"
                                   [getControlErrorLabelText]="getErrorLabelText.bind(this)">
                </tl-password-input>
                <tl-password-input fxFlex="33"
                                   fxFlex.lt-md="50"
                                   fxFlex.lt-sm="100"
                                   label="{{ 'auth.new-password-confirm' | tlTranslate }}"
                                   formControlName="passwordConfirmControl"
                                   [getControlErrorLabelText]="getErrorLabelText.bind(this)">
                </tl-password-input>
            </div>
        </div>
    </tl-detail-content>
</tl-detail-page>