<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     validityCheckerGroup
     [formGroup]="form"
     class="dialog-padding">

    <!-- Основни данни -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-decree-basic-data' | tlTranslate }}"
                        tooltipResourceName="penal-decree.edit-decree-basic-data-helper"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                <tl-input fxFlex="25"
                          formControlName="decreeNumControl"
                          label="{{ 'penal-decrees.edit-decree-num' | tlTranslate }}"
                          tooltipResourceName="penal-decree.edit-decree-num-helper">
                </tl-input>

                <tl-date fxFlex="25"
                         formControlName="issueDateControl"
                         [max]="today"
                         label="{{ 'penal-decrees.edit-decree-issue-date' | tlTranslate }}"
                         tooltipResourceName="penal-decree.edit-decree-issue-date-helper">
                </tl-date>

                <tl-autocomplete fxFlex="50"
                                 formControlName="drafterControl"
                                 [options]="users"
                                 label="{{ 'penal-decrees.edit-drafter' | tlTranslate }}"
                                 tooltipResourceName="penal-decree.edit-drafter-helper">
                </tl-autocomplete>
            </div>

            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                <tl-autocomplete fxFlex="25"
                                 formControlName="territoryUnitControl"
                                 [options]="territoryUnits"
                                 label="{{ 'penal-decrees.edit-territory-unit' | tlTranslate }}"
                                 tooltipResourceName="penal-decrees.edit-territory-unit-helper">
                </tl-autocomplete>

                <tl-date fxFlex="25"
                         formControlName="effectiveDateControl"
                         label="{{ 'penal-decrees.edit-decree-effective-date' | tlTranslate }}"
                         tooltipResourceName="penal-decree.edit-decree-effective-date-helper">
                </tl-date>

                <tl-input fxFlex="50"
                          formControlName="issuerPositionControl"
                          label="{{ 'penal-decrees.edit-issuer-position' | tlTranslate }}"
                          tooltipResourceName="penal-decree.edit-issuer-position-helper">
                </tl-input>
            </div>

            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
                <tl-autocomplete fxFlex="25"
                                 formControlName="courtControl"
                                 [options]="courts"
                                 label="{{ 'penal-decrees.edit-court' | tlTranslate }}"
                                 tooltipResourceName="penal-decree.edit-court-helper">
                </tl-autocomplete>


                <tl-autocomplete fxFlex="25"
                                 formControlName="sectorControl"
                                 [options]="sectors"
                                 label="{{ 'penal-decrees.edit-sector' | tlTranslate }}"
                                 tooltipResourceName="penal-decree.edit-sector-helper">
                </tl-autocomplete>

                <div fxFlex="50"></div>
            </div>
        </div>
</tl-expansion-panel>

    <!-- Информация за АУАН -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-decree-auan' | tlTranslate }}"
                        tooltipResourceName="penal-decree.edit-decree-auan-helper"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="form.controls.auanControl.errors?.auanNumExists !== true">
        <div fxLayout="column" fxLayoutGap="1em" fxFlex="100">
            <mat-error *ngIf="form.controls.auanControl?.touched && form.controls.auanControl.errors?.auanNumExists === true">
                * {{ 'penal-decrees.auan-num-already-exist-error' | tlTranslate }}
            </mat-error>

            <decree-auan-basic-info formControlName="auanControl"
                                    [isAdding]="isThirdParty">
            </decree-auan-basic-info>

            <div fxLayout="row" fxLayoutGap="1em">
                <div fxLayout="column" fxLayoutGap="1em" fxFlex="100">
                    <tl-textarea formControlName="constatationCommentsControl"
                                 tooltipResourceName="penal-decree.edit-auan-constatation-comments-helper"
                                 label="{{ 'penal-decrees.edit-auan-constatation-comments' | tlTranslate }}">
                    </tl-textarea>
                </div>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Законови разпоредби от АУАН -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-auan-violated-regulations' | tlTranslate }}"
                        tooltipResourceName="penal-decree.edit-auan-violated-regulations-helper"
                        [validityCheckerExtraCondition]="form.errors?.atLeastOneViolatedRegulationNeeded !== true"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1em" fxFlex="100">
            <auan-violated-regulations formControlName="auanViolatedRegulationsControl"
                                       [viewMode]="viewMode">
            </auan-violated-regulations>

            <mat-error *ngIf="violatedRegulationsTouched && form.errors?.atLeastOneViolatedRegulationNeeded === true">
                * {{ 'penal-decrees.at-least-one-violated-regulation-needed' | tlTranslate }}
            </mat-error>
        </div>
    </tl-expansion-panel>

    <!-- Законови разпоредби -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-violated-regulations' | tlTranslate }}"
                        tooltipResourceName="penal-decree.edit-violated-regulations-helper"
                        [validityChecker]="form">
        <auan-violated-regulations formControlName="violatedRegulationsControl"
                                   [viewMode]="viewMode">
        </auan-violated-regulations>
    </tl-expansion-panel>

    <!-- Санкции -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-decree-sanctions' | tlTranslate }}"
                        tooltipResourceName="penal-decree.edit-decree-sanctions-helper"
                        [validityChecker]="form">
        <div fxLayout="column" fxLayoutGap="1em">

            <!-- Вид санкция -->
            <div *ngFor="let sanction of sanctionTypes" fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
                    <tl-checkbox [formControlName]="sanction.code + 'Control'">
                    </tl-checkbox>
                    <span>{{ sanction.displayName }}</span>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="1em">
                <tl-input fxFlex="25"
                          formControlName="fineAmountControl"
                          label="{{ 'penal-decrees.edit-agreement-fine' | tlTranslate }}"
                          tooltipResourceName="penal-decrees.edit-agreement-fine-helper">
                </tl-input>
            </div>

            <div fxLayout="row" fxLayoutGap="1em">
                <tl-textarea fxFlex="100"
                             formControlName="sanctionDescriptionControl"
                             label="{{ 'penal-decrees.edit-sanction-description' | tlTranslate }}"
                             tooltipResourceName="penal-decree.edit-sanction-description-helper">
                </tl-textarea>
            </div>

            <!-- Иззети уреди -->
            <tl-card [validityChecker]="form"
                     tooltipResourceName="penal-decree.edit-decree-sized-fishing-gears-helper">
                <tl-card-title>{{ 'penal-decrees.edit-decree-sized-fishing-gear' | tlTranslate }}</tl-card-title>
                <tl-card-content>
                    <decree-sized-fishing-gear formControlName="seizedFishingGearControl"
                                               [viewMode]="viewMode">
                    </decree-sized-fishing-gear>
                </tl-card-content>
            </tl-card>

            <!-- Иззета риба -->
            <tl-card [validityChecker]="form"
                     tooltipResourceName="penal-decree.edit-decree-sized-fishes-helper">
                <tl-card-title>{{ 'penal-decrees.edit-decree-sized-fishes' | tlTranslate }}</tl-card-title>
                <tl-card-content>
                    <decree-sized-fish formControlName="seizedFishControl"
                                       [viewMode]="viewMode">
                    </decree-sized-fish>
                </tl-card-content>
            </tl-card>

            <!-- Иззети приспособления -->
            <tl-card [validityChecker]="form"
                     tooltipResourceName="penal-decree.edit-decree-appliance-helper">
                <tl-card-title>{{ 'penal-decrees.edit-decree-appliance' | tlTranslate }}</tl-card-title>
                <tl-card-content>
                    <decree-sized-fish formControlName="seizedApplianceControl"
                                       [viewMode]="viewMode"
                                       [isAppliance]="true">
                    </decree-sized-fish>
                </tl-card-content>
            </tl-card>

            <div fxLayout="column" fxLayoutGap="1em">
                <tl-slide-toggle formControlName="isRecurrentViolationControl"
                                 label="{{ 'penal-decrees.edit-decree-is-recurent-violation' | tlTranslate }}"
                                 tooltipResourceName="penal-decree.edit-decree-is-recurent-violation-helper">
                </tl-slide-toggle>

                <tl-textarea formControlName="commentsControl"
                             label="{{ 'penal-decrees.edit-decree-comments' | tlTranslate }}"
                             tooltipResourceName="penal-decree.edit-decree-comments-helper">
                </tl-textarea>
            </div>
        </div>
    </tl-expansion-panel>

    <!-- Размер на обезщетението -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-fish-compensations' | tlTranslate }}"
                        [validityChecker]="form"
                        tooltipResourceName="penal-decrees.edit-fish-compensations-helper">
        <div fxLayout="column" fxLayoutGap="1em">
            <tl-card [validityChecker]="form"
                     tooltipResourceName="penal-decrees.edit-fish-compensations-violated-regulations-helper">
                <tl-card-title>{{ 'penal-decrees.edit-fish-compensations-violated-regulations' | tlTranslate }}</tl-card-title>
                <tl-card-content>
                    <auan-violated-regulations formControlName="fishCompensationViolatedRegulationsControl"
                                               [viewMode]="viewMode">
                    </auan-violated-regulations>
                </tl-card-content>
            </tl-card>

            <tl-card [validityChecker]="form"
                     tooltipResourceName="penal-decrees.edit-fish-compensations-table-helper">
                <tl-card-title>{{ 'penal-decrees.edit-fish-compensations-table' | tlTranslate }}</tl-card-title>
                <tl-card-content>
                    <div fxFlexFill fxLayout="column" fxLayoutGap="1em">
                        <tl-data-table #fishCompensationsTable
                                       fxFlex="100"
                                       [isRemote]="false"
                                       [isSoftDeletable]="true"
                                       [showInactiveRecords]="true"
                                       [showAddButton]="!viewMode"
                                       [rows]="fishCompensations">
                            <data-column [flexRate]="0.2"
                                         [formGroup]="fishCompensationForm"
                                         propertyName="fishId"
                                         dataType="nomenclature"
                                         [options]="fishes"
                                         columnName="{{ 'penal-decrees.edit-fish-compensations-type' | tlTranslate }}">
                            </data-column>

                            <data-column [flexRate]="0.1"
                                         [formGroup]="fishCompensationForm"
                                         propertyName="weight"
                                         columnName="{{ 'penal-decrees.edit-fish-compensations-weight' | tlTranslate }}">
                            </data-column>

                            <data-column [flexRate]="0.1"
                                         [formGroup]="fishCompensationForm"
                                         propertyName="count"
                                         columnName="{{ 'penal-decrees.edit-fish-compensations-count' | tlTranslate }}">
                            </data-column>

                            <data-column [flexRate]="0.1"
                                         [formGroup]="fishCompensationForm"
                                         propertyName="unitPrice"
                                         columnName="{{ 'penal-decrees.edit-fish-compensations-unit-price' | tlTranslate }}">
                            </data-column>

                            <data-column [flexRate]="0.1"
                                         [formGroup]="fishCompensationForm"
                                         propertyName="totalPrice"
                                         columnName="{{ 'penal-decrees.edit-fish-compensations-total-price' | tlTranslate }}">
                            </data-column>

                            <data-column-inline *ngIf="!viewMode"
                                                [flexRate]="0.1">
                            </data-column-inline>
                        </tl-data-table>

                        <mat-error *ngIf="fishCompensationFormTouched && fishCompensationForm.errors?.fishCountValidationError === true">
                            {{ 'penal-decrees.fish-compensations-count-validation' | tlTranslate }}
                        </mat-error>
                    </div>
                </tl-card-content>
            </tl-card>
        </div>
    </tl-expansion-panel>

    <!-- Връчване -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-decree-delivery-data' | tlTranslate }}"
                        tooltipResourceName="penal-decree.edit-decree-delivery-data-helper"
                        [validityCheckerExtraCondition]="form.controls.deliveryControl.errors?.hasNoEDeliveryRegistrationError !== true"
                        [validityChecker]="form">
        <decree-delivery-data formControlName="deliveryControl"
                              [viewMode]="viewMode">
        </decree-delivery-data>

        <mat-error *ngIf="form.controls.deliveryControl.errors?.hasNoEDeliveryRegistrationError === true">
            * {{ 'penal-decrees.has-no-e-delivery-registration-error' | tlTranslate }}
        </mat-error>
    </tl-expansion-panel>

    <!-- Статус на наказателното постановление -->
    <tl-expansion-panel *ngIf="!isAdding" title="{{ 'penal-decrees.edit-decree-status' | tlTranslate }}"
                        tooltipResourceName="penal-decree.edit-decree-status-helper"
                        [validityChecker]="form">
        <decree-statuses-table fxFlex="100"
                               formControlName="statusesControl"
                               [viewMode]="viewMode"
                               [service]="service"
                               [decreeType]="decreeType">
        </decree-statuses-table>
    </tl-expansion-panel>

    <!-- Файлове -->
    <tl-expansion-panel title="{{ 'penal-decrees.edit-decree-files' | tlTranslate }}"
                        tooltipResourceName="penal-decree.edit-decree-files-helper"
                        [validityChecker]="form">
        <file-uploader-form-array formControlName="filesControl"
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(this.service)">
        </file-uploader-form-array>
    </tl-expansion-panel>
</div>
