<div [formGroup]="form"
     fxLayout="column"
     fxLayoutGap="1em"
     fxLayoutAlign="start stretch">
    <div fxLayout="column"
         fxLayoutGap="1em"
         fxLayoutAlign="start stretch">
        <tl-checkbox formControlName="shipRegisteredControl"
                     label="{{ 'inspections.ship-registered' | tlTranslate }}">
        </tl-checkbox>

        <tl-autocomplete *ngIf="isFromRegister"
                         formControlName="shipControl"
                         label="{{ 'inspections.ship' | tlTranslate }}"
                         [options]="ships">
        </tl-autocomplete>

        <div *ngIf="!isFromRegister"
             fxLayout="row"
             fxLayoutGap="1em"
             fxLayoutAlign="space-between center">
            <tl-input fxFlex="33"
                      formControlName="nameControl"
                      label="{{ 'inspections.ship-name' | tlTranslate }}">
            </tl-input>

            <tl-input fxFlex="33"
                      formControlName="externalMarkControl"
                      label="{{ 'inspections.external-mark' | tlTranslate }}">
            </tl-input>

            <tl-input fxFlex="33"
                      formControlName="cfrControl"
                      label="{{ 'inspections.cfr' | tlTranslate }}">
            </tl-input>

        </div>

        <div fxLayout="row"
             fxLayoutGap="1em"
             fxLayoutAlign="space-between center">
            <tl-autocomplete fxFlex="20"
                             formControlName="flagControl"
                             label="{{ 'inspections.flag' | tlTranslate }}"
                             [options]="countries">
            </tl-autocomplete>

            <tl-input fxFlex="20"
                      formControlName="uviControl"
                      label="{{ 'inspections.uvi' | tlTranslate }}">
            </tl-input>

            <tl-input fxFlex="20"
                      formControlName="callsignControl"
                      label="{{ 'inspections.callsign' | tlTranslate }}">
            </tl-input>

            <tl-autocomplete fxFlex="20"
                             formControlName="shipTypeControl"
                             label="{{ 'inspections.ship-type' | tlTranslate }}"
                             [options]="vesselTypes">
            </tl-autocomplete>

            <tl-input fxFlex="20"
                      formControlName="mmsiControl"
                      label="{{ 'inspections.mmsi' | tlTranslate }}">
            </tl-input>
        </div>
    </div>

    <inspection-map-viewer *ngIf="hasMap"
                           formControlName="shipMapControl">
    </inspection-map-viewer>
</div>