<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start stretch" fxFill>
    <search-panel>
        <div [formGroup]="formGroup">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <tl-select fxFlex="33"
                           formControlName="actionTypeControl"
                           label="{{ 'system-log.action-type-id' | tlTranslate }}"
                           [options]="actionTypeCategories"
                           tooltipResourceName="system-log.action-type-helper">
                </tl-select>

                <tl-date-range fxFlex="33"
                               formControlName="dateRangeControl"
                               label="{{ 'system-log.date' | tlTranslate }}"
                               tooltipResourceName="system-log.date-helper">
                </tl-date-range>

                <tl-autocomplete fxFlex="33"
                                 formControlName="userControl"
                                 label="{{ 'system-log.user-id' | tlTranslate }}"
                                 [options]="users"
                                 [hasSelectedValueFromDropdownValidator]="false"
                                 tooltipResourceName="system-log.user-helper">
                </tl-autocomplete>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <tl-input fxFlex="33"
                          formControlName="applicationControl"
                          label="{{ 'system-log.application' | tlTranslate }}"
                          tooltipResourceName="system-log.application-helper">
                </tl-input>

                <tl-input fxFlex="33"
                          formControlName="actionControl"
                          label="{{ 'system-log.action' | tlTranslate }}"
                          tooltipResourceName="system-log.action-helper">
                </tl-input>

                <tl-input fxFlex="33"
                          formControlName="tableNameControl"
                          label="{{ 'system-log.table-name' | tlTranslate }}"
                          tooltipResourceName="system-log.table-name-helper">
                </tl-input>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                <tl-input fxFlex="33"
                          formControlName="tableIdControl"
                          label="{{ 'system-log.table-id' | tlTranslate }}"
                          tooltipResourceName="system-log.table-id-helper">
                </tl-input>

                <tl-input fxFlex="33"
                          formControlName="oldValueControl"
                          label="{{ 'system-log.audit-old-value' | tlTranslate }}"
                          tooltipResourceName="system-log.old-value-helper">
                </tl-input>

                <tl-input fxFlex="33"
                          formControlName="newValueControl"
                          label="{{ 'system-log.audit-new-value' | tlTranslate }}"
                          tooltipResourceName="system-log.new-value-helper">
                </tl-input>
            </div>

            <div fxLayout="row" fxLayoutGap="1em">
                <tl-slide-toggle fxFlex="33"
                                 formControlName="showRelatedLogsControl"
                                 label="{{ 'system-log.show-related-logs' | tlTranslate }}"
                                 tooltipResourceName="system-log.show-related-logs-helper">
                </tl-slide-toggle>
            </div>
        </div>
    </search-panel>

    <tl-card tooltipResourceName="system-log.system-log-table-helper">
        <tl-card-content>
            <tl-data-table [showAddButton]="false"
                           [showInactiveRecords]="false">
                <row-detail>
                    <ng-template let-row="row" ngx-datatable-row-detail-template>
                        <tl-card tooltipResourceName="system-log.table-related-logs-helper">
                            <tl-card-title>{{ 'system-log.table-related-logs' | tlTranslate }}</tl-card-title>
                            <tl-card-content>
                                <tl-data-table [isRemote]="false"
                                               [showAddButton]="false"
                                               [showInactiveRecords]="false"
                                               [rows]="row.data.systemLogs"
                                               [recordsPerPage]="10">
                                    <data-column [flexRate]="0.25"
                                                 columnName="{{ 'system-log.table-unique-number' | tlTranslate }}"
                                                 propertyName="id">
                                    </data-column>

                                    <data-column [flexRate]="0.45"
                                                 columnName="{{ 'system-log.table-date-time' | tlTranslate }}"
                                                 propertyName="logDate"
                                                 dataType="datetime">
                                    </data-column>

                                    <data-column [flexRate]="0.4"
                                                 columnName="{{ 'system-log.table-action-type' | tlTranslate }}"
                                                 propertyName="actionType">
                                    </data-column>

                                    <data-template-column [flexRate]="0.5"
                                                          columnName="{{ 'system-log.table-application' | tlTranslate }}"
                                                          propertyName="application">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="break-all-words">
                                                    {{ row.data.application }}
                                                </span>
                                            </div>
                                        </ng-template>
                                    </data-template-column>

                                    <data-column [flexRate]="0.3"
                                                 columnName="{{ 'system-log.table-module' | tlTranslate }}"
                                                 propertyName="module">
                                    </data-column>

                                    <data-template-column [flexRate]="0.6"
                                                          columnName="{{ 'system-log.table-action' | tlTranslate }}"
                                                          propertyName="action">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="break-all-words">
                                                    {{ row.data.action }}
                                                </span>
                                            </div>
                                        </ng-template>
                                    </data-template-column>

                                    <data-template-column [flexRate]="0.6"
                                                          columnName="{{ 'system-log.table-name' | tlTranslate }}"
                                                          propertyName="tableName">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="break-all-words">
                                                    {{ row.data.tableName }}
                                                </span>
                                            </div>
                                        </ng-template>
                                    </data-template-column>

                                    <data-column [flexRate]="0.3"
                                                 columnName="{{ 'system-log.table-id' | tlTranslate }}"
                                                 propertyName="tableId">
                                    </data-column>

                                    <data-column [flexRate]="0.5"
                                                 columnName="{{ 'system-log.table-user' | tlTranslate }}"
                                                 propertyName="username">
                                    </data-column>

                                    <data-column [flexRate]="0.4"
                                                 columnName="{{ 'system-log.table-ip' | tlTranslate }}"
                                                 propertyName="ipAddress">
                                    </data-column>

                                    <data-column [flexRate]="0.5"
                                                 columnName="{{ 'system-log.table-browser' | tlTranslate }}"
                                                 propertyName="browserInfo">
                                    </data-column>

                                    <data-template-column [flexRate]="0.3">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div fxLayout="row wrap" fxLayoutAlign="end center">
                                                <tl-icon-button icon="visibility"
                                                                (buttonClicked)="openDialog(row.data)"
                                                                iconClass="accent-color">
                                                </tl-icon-button>
                                            </div>
                                        </ng-template>
                                    </data-template-column>
                                </tl-data-table>
                            </tl-card-content>
                        </tl-card>
                    </ng-template>
                </row-detail>

                <data-column [flexRate]="0.3"
                             columnName="{{ 'system-log.table-date-time' | tlTranslate }}"
                             propertyName="logDate"
                             dataType="datetime">
                </data-column>

                <data-template-column [flexRate]="0.5"
                                      columnName="{{ 'system-log.table-application' | tlTranslate }}"
                                      propertyName="application">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span class="break-all-words">
                                {{ row.data.application }}
                            </span>
                        </div>
                    </ng-template>
                </data-template-column>

                <data-column [flexRate]="0.2"
                             columnName="{{ 'system-log.table-module' | tlTranslate }}"
                             propertyName="module">
                </data-column>

                <data-column [flexRate]="0.4"
                             columnName="{{ 'system-log.table-action' | tlTranslate }}"
                             propertyName="action">
                </data-column>

                <data-column [flexRate]="0.5"
                             columnName="{{ 'system-log.table-user' | tlTranslate }}"
                             propertyName="username">
                </data-column>

                <data-column [flexRate]="0.6"
                             columnName="{{ 'system-log.table-browser' | tlTranslate }}"
                             propertyName="browserInfo">
                </data-column>
            </tl-data-table>
        </tl-card-content>
    </tl-card>
</div>
