<user-registration-layout fxFlexFill>
    <div fxFlexFill fxLayoutGap="1em" fxLayout="column">
        <h1>{{ 'change-password.change-password-title' | tlTranslate }}</h1>
        <form [formGroup]="changePasswordForm" novalidate fxLayout="column" fxLayoutGap="1em" fxFlex="100">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                <tl-input fxFlex="70"
                          fxFlex.lt-lg="100"
                          appearance="outline"
                          class="center-elements"
                          type="password"
                          formControlName="password"
                          label="{{ 'change-password.new-password' | tlTranslate }}"
                          tooltipResourceName="{{ 'change-password.new-password-helper' | tlTranslate }}"
                          [getControlErrorLabelText]="getControlErrorLabelText.bind(this)"></tl-input>
            </div>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
                <tl-input fxFlex="70"
                          fxFlex.lt-lg="100"
                          appearance="outline"
                          type="password"
                          formControlName="passwordConfirmation"
                          label="{{ 'change-password.new-password-confirm' | tlTranslate }}"
                          [getControlErrorLabelText]="getControlErrorLabelText.bind(this)"></tl-input>
            </div>
        </form>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
            <button fxFlex="25" fxFlex.lt-lg="33" fxFlex.lt-sm="100" class="multi-line" mat-raised-button color="accent" (click)="changePassword()">
                {{ 'change-password.change-password-button' | tlTranslate }}
            </button>
        </div>
    </div>
</user-registration-layout>