<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     [formGroup]="form"
     class="dialog-padding">
    <div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start stretch">
        <tl-checkbox formControlName="inspectorRegisteredControl"
                     label="{{ 'inspections.inspector-registered' | tlTranslate }}">
        </tl-checkbox>

        <tl-autocomplete *ngIf="isFromRegister"
                         formControlName="inspectorControl"
                         label="{{ 'inspections.inspector' | tlTranslate }}"
                         [options]="inspectors"
                         tooltipResourceName="inspections.inspector-helper">
        </tl-autocomplete>

        <div *ngIf="!isFromRegister" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start stretch">
            <div fxLayout="row"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start center">
                <tl-input fxFlex="50"
                          formControlName="firstNameControl"
                          label="{{ 'inspections.first-name' | tlTranslate }}"
                          tooltipResourceName="inspections.first-name-helper">
                </tl-input>

                <tl-input fxFlex="50"
                          formControlName="middleNameControl"
                          label="{{ 'inspections.middle-name' | tlTranslate }}"
                          tooltipResourceName="inspections.middle-name-helper">
                </tl-input>
            </div>

            <div fxLayout="row"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start center">
                <tl-input fxFlex="50"
                          formControlName="lastNameControl"
                          label="{{ 'inspections.last-name' | tlTranslate }}"
                          tooltipResourceName="inspections.last-name-helper">
                </tl-input>

                <tl-input fxFlex="50"
                          formControlName="cardNumControl"
                          label="{{ 'inspections.card-num' | tlTranslate }}"
                          tooltipResourceName="inspections.card-num-helper">
                </tl-input>
            </div>
        </div>

        <tl-autocomplete formControlName="countryControl"
                         label="{{ 'inspections.country' | tlTranslate }}"
                         [options]="countries"
                         tooltipResourceName="inspections.country-helper">
        </tl-autocomplete>

        <tl-autocomplete formControlName="institutionControl"
                         label="{{ 'inspections.institution' | tlTranslate }}"
                         [options]="institutions"
                         tooltipResourceName="inspections.institution-helper">
        </tl-autocomplete>

        <tl-checkbox *ngIf="isFromRegister"
                     formControlName="headOfInspectionControl"
                     label="{{ 'inspections.head-of-inspection' | tlTranslate }}">
        </tl-checkbox>

        <tl-checkbox formControlName="inspectorIdentifiedControl"
                     label="{{ 'inspections.inspector-identified' | tlTranslate }}">
        </tl-checkbox>

        <mat-error *ngIf="form.touched && inspectorExists">
            * {{ 'inspections.inspector-already-exists-error' | tlTranslate }}
        </mat-error>
    </div>
</div>