<div class="public-page-wrapper">
    <div class="public-page-main">
        <div class="public-page-content">
            <div class="public-page-content-wrapper">
                <ng-content></ng-content>
            </div>
        </div>
        <auth-side-panel class="public-page-side-panel"></auth-side-panel>
    </div>
    <div class="public-page-footer">
        <img src="assets/images/eu-flag.png">
        <p>
            {{ 'common.footer' | tlTranslate }}
        </p>
        <img src="assets/images/program.png">
    </div>
</div>
