mat-form-field.p-b-0 .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

mat-form-field.zero-border .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border: 0px !important;
}

.pointer {
    cursor: pointer !important;
}

.transparent-btn-icon {
    background: none !important;
    border: none !important;
}

.full-width {
    width: 100%;
}

.height-a {
    height: auto;
}

.m-r-10 {
    margin-right: 10px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-5 {
    margin-top: 5px;
}

.f-20 {
    font-size: 20px;
}

.h-20 {
    height: 20px;
}

.w-fit-content {
    width: fit-content;
}

.m-l-5 {
    margin-left: 5px;
}

.c-pointer {
    cursor: pointer;
}

.h-fit-content {
    height: fit-content;
}

.m-r-5 {
    margin-right: 5px;
}

.max-w-10 {
    max-width: 10em;
}

.max-w-15 {
    max-width: 15em;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
