<div [formGroup]="form"
     fxLayout="column"
     fxLayoutGap="1em"
     fxLayoutAlign="start stretch">
    <div fxLayout="row"
         fxLayoutGap="1em"
         fxLayoutAlign="start center">
        <tl-input fxFlex="25"
                  [prefixText]="numPrefix"
                  formControlName="reportNumberControl"
                  label="{{ 'inspections.report-number' | tlTranslate }}"
                  tooltipResourceName="inspections.report-number-helper">
        </tl-input>

        <tl-date-time fxFlex="25"
                      [max]="today"
                      [disabled]="isDisabled"
                      [showHint]="true"
                      formControlName="inspectionStartDateControl"
                      label="{{ startDateLabel }}"
                      hint="{{ 'common.date-time-control-format-hint' | tlTranslate }}"
                      tooltipResourceName="inspections.report-start-date-helper">
        </tl-date-time>

        <tl-date-time fxFlex="25"
                      [disabled]="isDisabled"
                      [showHint]="true"
                      formControlName="inspectionEndDateControl"
                      [getControlErrorLabelText]="getControlErrorLabelTextMethod"
                      label="{{ endDateLabel }}"
                      hint="{{ 'common.date-time-control-format-hint' | tlTranslate }}"
                      tooltipResourceName="inspections.report-end-date-helper">
        </tl-date-time>

        <tl-checkbox *ngIf="hasEmergencySignal"
                     fxFlex="25"
                     formControlName="emergencySignalControl"
                     label="{{ 'inspections.is-emergency' | tlTranslate }}"
                     tooltipResourceName="inspections.is-emergency-helper">
        </tl-checkbox>
    </div>

    <mat-error *ngIf="reportNumAlreadyExists === true">
        * {{ 'inspections.report-num-already-exists-error' | tlTranslate }}
    </mat-error>

    <mat-error *ngIf="isReportLocked" class="warn-orange-color">
        * {{ 'inspections.cannot-edit-inspection-locked-error' | tlTranslate }} {{ lockInspectionHours }} {{ 'inspections.hours-have-passed-error' | tlTranslate }}
    </mat-error>

    <div *ngIf="form.get('inspectionStartDateControl')?.errors?.cannotAddAfterHours" fxFlex="100" fxLayout="row">
        <mat-error>
            * {{ 'inspections.cannot-add-inspection-after-hours-error' | tlTranslate }} {{ canAddInspectionAfterHours }} {{ 'inspections.cannot-add-inspection-after-hours-passed-error' | tlTranslate }}.
        </mat-error>
    </div>

    <inspectors-table formControlName="inspectorsControl"
                      [institutions]="institutions"
                      (headInspectorChanged)="onReportNumChanged($event)">
    </inspectors-table>
</div>