<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     fxLayoutAlign="space-between stretch"
     validityCheckerGroup
     [formGroup]="form"
     [notifierGroup]="notifier"
     class="dialog-padding">
    <!-- Заявител -->
    <application-submitted-by formControlName="submittedByControl"
                              notifier
                              validityChecker
                              label="{{ 'aquacultures.coc-requester' | tlTranslate }}"
                              [isIdReadOnly]="isEditing || isPublicApp"
                              [hideDocument]="true"
                              [expectedResults]="expectedResults.submittedBy">
    </application-submitted-by>

    <!-- Получател -->
    <application-submitted-for formControlName="submittedForControl"
                               notifier
                               validityChecker
                               relationLabel="{{ 'aquacultures.coc-requester-role' | tlTranslate }}"
                               submittedForLabel="{{ 'aquacultures.coc-receiver' | tlTranslate }}"
                               [pageCode]="pageCode"
                               [hideRelation]="showOnlyRegiXData"
                               [isIdReadOnly]="isEditing"
                               [submittedByControl]="form.controls.submittedByControl"
                               [expectedResults]="expectedResults.submittedFor">
    </application-submitted-for>

    <!-- Аквакултурно стопанство -->
    <tl-expansion-panel title="{{ 'aquacultures.coc-aquaculture' | tlTranslate }}"
                        tooltipResourceName="aquacultures.coc-aquaculture-helper"
                        [validityChecker]="form">
        <tl-autocomplete fxFlex="50"
                         formControlName="aquacultureControl"
                         [options]="aquacultures"
                         [templateOptions]="true"
                         tooltipResourceName="aquacultures.coc-aquaculture-from-register-helper"
                         label="{{ 'aquacultures.coc-aquaculture-from-register' | tlTranslate }}">
        </tl-autocomplete>
    </tl-expansion-panel>

    <!-- Промени -->
    <tl-expansion-panel title="{{ 'aquacultures.coc-changes' | tlTranslate }}"
                        tooltipResourceName="aquacultures.coc-changes-helper"
                        [validityChecker]="form">
        <change-of-circumstances formControlName="changesControl"
                                 [pageCode]="pageCode"
                                 [disableDelete]="showOnlyRegiXData"
                                 [showOnlyRegiXData]="showOnlyRegiXData">
        </change-of-circumstances>
    </tl-expansion-panel>

    <!-- Информация за плащане -->
    <tl-expansion-panel *ngIf="isPaid && !showOnlyRegiXData && paymentInformation !== undefined && paymentInformation !== null"
                        title="{{ 'aquacultures.coc-payment-information' | tlTranslate }}"
                        tooltipResourceName="aquacultures.coc-payment-information-helper">
        <payment-information [paymentData]="paymentInformation" [hideBasicInfo]="hideBasicPaymentInfo"></payment-information>
    </tl-expansion-panel>

    <!-- Информация за начин на връчване -->
    <tl-expansion-panel *ngIf="hasDelivery && !showOnlyRegiXData"
                        title="{{ 'aquacultures.coc-delivery-data' | tlTranslate }}"
                        tooltipResourceName="aquacultures.coc-delivery-data-helper"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="hasNoEDeliveryRegistrationError !== true">
        <delivery-data formControlName="deliveryDataControl"
                       [pageCode]="pageCode">
        </delivery-data>
        <mat-error *ngIf="hasNoEDeliveryRegistrationError">
            * {{ 'aquacultures.coc-has-no-e-delivery-registration-error' | tlTranslate }}
        </mat-error>
    </tl-expansion-panel>

    <!-- Файлове -->
    <tl-expansion-panel *ngIf="!showOnlyRegiXData"
                        title="{{ 'aquacultures.coc-files' | tlTranslate }}"
                        tooltipResourceName="aquacultures.coc-files-helper"
                        [validityChecker]="form">
        <file-uploader-form-array formControlName="filesControl"
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(this.service)"
                                  [fileTypeFilterFn]="fileTypeFilterFn.bind(this)"
                                  [refreshFileTypes]="refreshFileTypes">
        </file-uploader-form-array>
    </tl-expansion-panel>

    <!-- Проверки -->
    <tl-expansion-panel *ngIf="showOnlyRegiXData || showRegiXData"
                        title="{{ 'aquacultures.coc-regix-checks-results' | tlTranslate }}"
                        tooltipResourceName="aquacultures.coc-regix-checks-results-helper">
        <div fxLayout="column" fxLayoutGap="1em">
            <regix-checks-results [regixChecksCollection]="regixChecks"></regix-checks-results>
        </div>
    </tl-expansion-panel>
</div>