<div fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start stretch" fxFill>
    <!-- Филтри -->
    <search-panel *ngIf="inspectionId === null || inspectionId === undefined" [translateService]="translate">
        <div [formGroup]="form" fxFlexFill fxLayout="column" fxLayoutGap="1em">
            <!-- № на АУАН, съставител, териториално звено, дата на съставяне -->
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                <tl-input fxFlex="25"
                          formControlName="auanNumControl"
                          label="{{ 'auan-register.filters-auan-num' | tlTranslate }}"
                          tooltipResourceName="auan-register.filters-auan-num-helper">
                </tl-input>

                <tl-autocomplete fxFlex="25"
                                 formControlName="drafterControl"
                                 [options]="drafters"
                                 [hasSelectedValueFromDropdownValidator]="false"
                                 label="{{ 'auan-register.filters-drafter' | tlTranslate }}"
                                 tooltipResourceName="auan-register.filters-drafter-helper">
                </tl-autocomplete>

                <tl-autocomplete fxFlex="25"
                                 formControlName="territoryUnitControl"
                                 [options]="territoryUnits"
                                 label="{{ 'auan-register.filters-territory-unit' | tlTranslate }}"
                                 tooltipResourceName="auan-register.filters-territory-unit-helper">
                </tl-autocomplete>

                <tl-date-range fxFlex="25"
                               formControlName="draftDateRangeControl"
                               label="{{ 'auan-register.filters-draft-date' | tlTranslate }}"
                               tooltipResourceName="auan-register.filters-draft-date-helper">
                </tl-date-range>
            </div>

            <!-- Имена и ЕГН/ЛНЧ/ЕИК на нарушител -->
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                <tl-input fxFlex="25"
                          formControlName="inspEntityFirstNameControl"
                          label="{{ 'auan-register.filters-insp-entity-first-name' | tlTranslate }}"
                          tooltipResourceName="auan-register.filters-insp-entity-first-name-helper">
                </tl-input>

                <tl-input fxFlex="25"
                          formControlName="inspEntityMiddleNameControl"
                          label="{{ 'auan-register.filters-insp-entity-middle-name' | tlTranslate }}"
                          tooltipResourceName="auan-register.filters-insp-entity-middle-name-helper">
                </tl-input>

                <tl-input fxFlex="25"
                          formControlName="inspEntityLastNameControl"
                          label="{{ 'auan-register.filters-insp-entity-last-name' | tlTranslate }}"
                          tooltipResourceName="auan-register.filters-insp-entity-last-name-helper">
                </tl-input>

                <tl-input fxFlex="25"
                          formControlName="identifierControl"
                          label="{{ 'auan-register.filters-identifier' | tlTranslate }}"
                          tooltipResourceName="auan-register.filters-identifier-helper">
                </tl-input>
            </div>

            <!-- Конфискувани риба, уред и приспособление, дата на връчване -->
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                <tl-autocomplete fxFlex="25"
                                 formControlName="fishControl"
                                 [options]="fishes"
                                 label="{{ 'auan-register.filters-fish' | tlTranslate }}"
                                 tooltipResourceName="auan-register.filters-fish-helper">
                </tl-autocomplete>

                <tl-autocomplete fxFlex="25"
                                 formControlName="fishingGearControl"
                                 [options]="fishingGears"
                                 label="{{ 'auan-register.filters-fishing-gear' | tlTranslate }}"
                                 tooltipResourceName="auan-register.filters-fishing-gear-helper">
                </tl-autocomplete>

                <tl-autocomplete fxFlex="25"
                                 formControlName="applianceControl"
                                 [options]="appliances"
                                 label="{{ 'auan-register.filters-appliance' | tlTranslate }}"
                                 tooltipResourceName="auan-register.filters-appliance-helper">
                </tl-autocomplete>

                <tl-date-range fxFlex="25"
                               formControlName="deliveryDateRangeControl"
                               label="{{ 'auan-register.filters-delivery-date' | tlTranslate }}"
                               tooltipResourceName="auan-register.filters-delivery-date-helper">
                </tl-date-range>
            </div>

            <!-- Тип на инспекция и проверка, описание на проверяван обект -->
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                <tl-select fxFlex="25"
                           formControlName="statusesControl"
                           [options]="statuses"
                           [isMultiple]="true"
                           label="{{ 'auan-register.filters-statuses' | tlTranslate }}"
                           tooltipResourceName="auan-register.filters-statuses-helper">
                </tl-select>

                <tl-input fxFlex="25"
                          formControlName="locationDescriptionControl"
                          label="{{ 'auan-register.filters-location-description' | tlTranslate }}"
                          tooltipResourceName="auan-register.filters-location-description-helper">
                </tl-input>

                <tl-autocomplete fxFlex="50"
                                 formControlName="inspectionTypeControl"
                                 [options]="inspectionTypes"
                                 label="{{ 'auan-register.filters-inspection-type' | tlTranslate }}"
                                 tooltipResourceName="auan-register.filters-inspection-type-helper">
                </tl-autocomplete>
            </div>
        </div>
    </search-panel>

    <!-- Таблица -->
    <tl-card>
        <tl-card-title *ngIf="inspectionId !== null && inspectionId !== undefined">{{ 'auan-register.inspection-auans-title' | tlTranslate }}</tl-card-title>
        <tl-card-content>
            <tl-data-table [showAddButton]="canAddRecords && (inspectionId === null || inspectionId === undefined)"
                           [showInactiveRecords]="canRestoreRecords && (inspectionId === null || inspectionId === undefined)"
                           (addButtonClicked)="addEditAuan(undefined, false)"
                           [recordsPerPage]="recordsPerPage">
                <row-detail *ngIf="canReadPenalDecreeRecords">
                    <ng-template let-row="row" ngx-datatable-row-detail-template>
                        <penal-decrees fxFlexFill
                                       [auanId]="row.data.id"
                                       [recordsPerPage]="10">
                        </penal-decrees>
                    </ng-template>
                </row-detail>

                <data-column propertyName="auanNum"
                             [flexRate]="0.3"
                             columnName="{{ 'auan-register.table-auan-num' | tlTranslate }}">
                </data-column>

                <data-column propertyName="drafter"
                             [flexRate]="0.3"
                             columnName="{{ 'auan-register.table-drafter' | tlTranslate }}">
                </data-column>

                <data-column propertyName="draftDate"
                             [flexRate]="0.3"
                             dataType="date"
                             columnName="{{ 'auan-register.table-draft-date' | tlTranslate }}">
                </data-column>

                <data-column propertyName="inspectedEntity"
                             [flexRate]="0.3"
                             columnName="{{ 'auan-register.table-inspected-entity' | tlTranslate }}">
                </data-column>

                <data-column propertyName="territoryUnit"
                             [flexRate]="0.3"
                             columnName="{{ 'auan-register.table-territory-unit' | tlTranslate }}">
                </data-column>

                <data-template-column propertyName="status"
                                      [flexRate]="0.2"
                                      columnName="{{ 'auan-register.table-status' | tlTranslate }}">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <div fxLayout="column" fxLayoutAlign="start start">
                                    <span>{{ row.data.statusName }}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </data-template-column>

                <data-template-column [flexRate]="0.4" [cellClass]="'justify-center'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div fxLayout="row wrap" fxLayoutAlign="end center">
                            <tl-icon-button *ngIf="row.isActive
                                               && canEditRecords
                                               && (inspectionId === null || inspectionId === undefined)"
                                            icon="ic-fluent-document-briefcase-24-regular"
                                            iconClass="accent-color"
                                            [size]="icIconSize"
                                            tooltipText="{{ 'auan-register.delivery-data' | tlTranslate }}"
                                            (buttonClicked)="openDeliveryDialog(row.data)">
                            </tl-icon-button>

                            <tl-icon-button icon="visibility"
                                            (buttonClicked)="addEditAuan(row.data, true)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'auan-register.view-auan' | tlTranslate }}">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="row.isActive
                                               && canEditRecords
                                               && row.status !== auanStatusesEnum.Canceled
                                               && row.status !== auanStatusesEnum.Submitted
                                               && (inspectionId === null || inspectionId === undefined)"
                                            icon="edit"
                                            (buttonClicked)="addEditAuan(row.data, false)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'auan-register.edit-auan' | tlTranslate }}">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="row.isActive
                                               && canDeleteRecords
                                               && (inspectionId === null || inspectionId === undefined)"
                                            icon="delete"
                                            (buttonClicked)="deleteAuan(row.data)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'auan-register.delete-auan' | tlTranslate }}">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="!row.isActive
                                               && canRestoreRecords
                                               && (inspectionId === null || inspectionId === undefined)"
                                            icon="restore"
                                            (buttonClicked)="restoreAuan(row.data)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'auan-register.restore-auan' | tlTranslate }}">
                            </tl-icon-button>
                        </div>
                    </ng-template>
                </data-template-column>
            </tl-data-table>
        </tl-card-content>
    </tl-card>
</div>