<mat-form-field style="width: 100%">
    <mat-label>{{ label }}</mat-label>

    <mat-date-range-input [rangePicker]="picker"
                          [formGroup]="form"
                          [required]="required"
                          [min]="min" 
                          [max]="max">
        <input matStartDate
               formControlName="startDateControl"
               placeholder="{{ 'common.from' | tlTranslate : 'cap' }}"
               [readonly]="readonly">

        <input matEndDate
               formControlName="endDateControl"
               placeholder="{{ 'common.to' | tlTranslate : 'cap' }}"
               [readonly]="readonly">
    </mat-date-range-input>

    <mat-datepicker-toggle *ngIf="!readonly"
                           matSuffix
                           [for]="picker">
    </mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <tl-help matSuffix [tooltipResource]="tooltipResourceName"></tl-help>

    <mat-error *ngIf="errors.length > 0">
        <tl-error [errors]="errors" [useMultipleLines]="multilineError"></tl-error>
    </mat-error>
</mat-form-field>