<div fxLayout="column"
     fxLayoutGap="1em"
     fxFlexFill
     validityCheckerGroup
     [formGroup]="form"
     class="dialog-padding">
    <!-- Основни данни -->
    <tl-expansion-panel title="{{ 'inspections.general-info' | tlTranslate }}"
                        [validityChecker]="form"
                        [validityCheckerExtraCondition]="reportNumAlreadyExistsError !== true || isInspectionLockedError !== true"
                        tooltipResourceName="inspections.general-info-helper">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <inspection-general-info formControlName="generalInfoControl"
                                     [institutions]="institutions"
                                     [canEditNumber]="canEditNumber"
                                     [hasEmergencySignal]="false"
                                     [canAddAfterHours]="canSaveAfterHours"
                                     [reportNumAlreadyExists]="reportNumAlreadyExistsError"
                                     [isReportLocked]="isInspectionLockedError">
            </inspection-general-info>
        </div>
    </tl-expansion-panel>

    <!-- Данни за Кораб / Далян -->
    <tl-expansion-panel title="{{ 'inspections.fishing-gear-inspection-data' | tlTranslate }}"
                        [validityChecker]="form"
                        tooltipResourceName="inspections.fishing-gear-inspection-data-helper">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <tl-radio-button-group fxFlexFill
                                   formControlName="inspectedTypeControl"
                                   direction="row"
                                   gap="1em"
                                   [options]="inspectedTypes">
            </tl-radio-button-group>

            <div *ngIf="isShip"
                 fxLayout="column"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start stretch">
                <inspected-ship formControlName="shipControl"
                                [ships]="ships"
                                [hasMap]="false"
                                [vesselTypes]="vesselTypes"
                                [countries]="countries"
                                (shipSelected)="getPermitLicensesByInspectedShip($event)">
                </inspected-ship>

                <inspected-ship-subject formControlName="shipOwnerControl"
                                        [subjects]="owners"
                                        [countries]="countries"
                                        [personType]="inspectedPersonTypeEnum.OwnerPers"
                                        [legalType]="inspectedPersonTypeEnum.OwnerLegal"
                                        label="{{ 'inspections.ship-owner-registered' | tlTranslate }}"
                                        title="{{ 'inspections.ship-owner' | tlTranslate }}">
                </inspected-ship-subject>

                <inspected-port formControlName="portControl"
                                [hasDate]="false"
                                [ports]="ports"
                                [countries]="countries">
                </inspected-port>
            </div>

            <div *ngIf="!isShip"
                 fxLayout="column"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start stretch">
                <tl-autocomplete formControlName="dalyanControl"
                                 [options]="poundNets"
                                 label="{{ 'inspections.dalyan' | tlTranslate }}"
                                 tooltipResourceName="inspections.dalyan-helper">
                </tl-autocomplete>
            </div>

            <div fxLayout="row"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start center">
                <tl-autocomplete fxFlex="50"
                                 formControlName="markReasonControl"
                                 [options]="markReasons"
                                 label="{{ 'inspections.mark-reason' | tlTranslate }}"
                                 tooltipResourceName="inspections.mark-reason-helper">
                </tl-autocomplete>

                <tl-autocomplete *ngIf="form.controls.markReasonControl.value?.code === gearCheckRecheck"
                                 fxFlex="50"
                                 formControlName="remarkReasonControl"
                                 [options]="remarkReasons"
                                 label="{{ 'inspections.remark-reason' | tlTranslate }}"
                                 tooltipResourceName="inspections.remark-reason-helper">
                </tl-autocomplete>
            </div>

            <tl-input *ngIf="otherRemarkReasonSelected"
                      formControlName="otherRemarkReasonControl"
                      label="{{ 'inspections.other-remark-reason' | tlTranslate }}"
                      tooltipResourceName="inspections.other-remark-reason-helper">
            </tl-input>
        </div>
    </tl-expansion-panel>

    <!-- Данни от извършената проверка -->
    <tl-expansion-panel title="{{ 'inspections.inspected-fishing-gears' | tlTranslate }}"
                        [validityChecker]="form"
                        tooltipResourceName="inspections.inspected-fishing-gears-helper">
        <div fxLayout="column"
             fxLayoutGap="1em"
             fxLayoutAlign="start stretch">
            <tl-radio-button-group formControlName="permitTypeControl"
                                   direction="row"
                                   gap="1em"
                                   [options]="permitTypeControls">
            </tl-radio-button-group>

            <tl-autocomplete *ngIf="form.controls.permitTypeControl.value?.value === inspectionPermitTypeEnum.Registered"
                             formControlName="permitControl"
                             [options]="permits"
                             label="{{ 'inspections.permit' | tlTranslate }}"
                             tooltipResourceName="inspections.permit-helper">
            </tl-autocomplete>

            <div *ngIf="form.controls.permitTypeControl.value?.value === inspectionPermitTypeEnum.Unregistered"
                 fxLayout="row"
                 fxLayoutGap="1em"
                 fxLayoutAlign="start center">
                <tl-input fxFlex="50"
                          formControlName="unregisteredPermitControl"
                          label="{{ 'inspections.permit' | tlTranslate }}"
                          tooltipResourceName="inspections.permit-helper">
                </tl-input>

                <tl-date-year fxFlex="50"
                              formControlName="unregisteredPermitYearControl"
                              label="{{ 'inspections.permit-year' | tlTranslate }}">
                </tl-date-year>
            </div>

            <inspected-fishing-gears-table formControlName="fishingGearsControl"
                                           [permitIds]="selectedPermitIds"
                                           [filterTypes]="!isShip"
                                           [isPoundNet]="!isShip"
                                           [showPermitLicenseBtn]="showPermitLicenseBtn"
                                           (chooseOldPermitLicenseClicked)="chooseOldPermitLicense()">
            </inspected-fishing-gears-table>

            <inspection-toggle-list formControlName="togglesControl"
                                    [toggles]="toggles">
            </inspection-toggle-list>
        </div>
    </tl-expansion-panel>

    <!-- Допълнителна информация -->
    <inspection-additional-info formControlName="additionalInfoControl"
                                [validityChecker]="form">
        <tl-textarea formControlName="ownerCommentControl"
                     [minRows]="3"
                     label="{{ 'inspections.owner-comment' | tlTranslate }}"
                     tooltipResourceName="inspections.owner-comment-helper">
        </tl-textarea>
    </inspection-additional-info>

    <!-- Файлове -->
    <tl-expansion-panel title="{{ 'inspections.edit-inspection-files' | tlTranslate }}"
                        [validityChecker]="form"
                        tooltipResourceName="inspections.edit-inspection-files-helper">
        <file-uploader-form-array formControlName="filesControl"
                                  [pageCode]="pageCode"
                                  [downloadFileMethod]="service.downloadFile.bind(this.service)">
        </file-uploader-form-array>
    </tl-expansion-panel>
</div>