<div fxLayout="column"
     fxLayoutGap="1em"
     fxLayoutAlign="start stretch"
     fxFill>
    <!-- Филтри -->
    <search-panel *ngIf="(shipId === null || shipId === undefined) && (logBookPageId === null || logBookPageId === undefined)"
                  [translateService]="translate">
        <div [formGroup]="form" fxFlexFill fxLayout="column" fxLayoutGap="1em">
            <!-- Териториално звено, инспектор, статус, тип на инспекцията -->
            <div fxLayout="row" fxLayoutGap="1em" fxFlexFill fxLayoutAlign="space-between center">
                <tl-autocomplete fxFlex="25"
                                 formControlName="territoryNodeControl"
                                 [options]="territoryNodes"
                                 tooltipResourceName="inspections.territory-helper"
                                 label="{{ 'inspections.territory' | tlTranslate }}">
                </tl-autocomplete>

                <tl-input fxFlex="25"
                          formControlName="inspectorNameControl"
                          tooltipResourceName="inspections.inspector-helper"
                          label="{{ 'inspections.inspector' | tlTranslate }}">
                </tl-input>

                <tl-select fxFlex="25"
                           [options]="states"
                           [isMultiple]="true"
                           formControlName="stateControl"
                           tooltipResourceName="inspections.state-helper"
                           label="{{ 'inspections.state' | tlTranslate }}">
                </tl-select>

                <tl-autocomplete fxFlex="25"
                                 formControlName="inspectionTypeControl"
                                 [options]="inspectionTypes"
                                 tooltipResourceName="inspections.type-helper"
                                 label="{{ 'inspections.type' | tlTranslate }}">
                </tl-autocomplete>
            </div>

            <!-- Номер на доклад, период на инспекция, аквакултурно стопанство, далян -->
            <div fxLayout="row" fxLayoutGap="1em" fxFlexFill fxLayoutAlign="space-between center">
                <tl-input fxFlex="25"
                          formControlName="reportNumberControl"
                          tooltipResourceName="inspections.report-number-helper"
                          label="{{ 'inspections.report-number' | tlTranslate }}">
                </tl-input>

                <tl-date-range fxFlex="25"
                               formControlName="dateRangeControl"
                               tooltipResourceName="inspections.report-creation-date-helper"
                               label="{{ 'inspections.report-creation-date' | tlTranslate }}">
                </tl-date-range>

                <tl-autocomplete fxFlex="25"
                                 formControlName="aquacultureControl"
                                 [options]="aquacultureFacilities"
                                 tooltipResourceName="inspections.aquaculture-helper"
                                 label="{{ 'inspections.registered-aquaculture-facility' | tlTranslate }}">
                </tl-autocomplete>

                <tl-autocomplete fxFlex="25"
                                 formControlName="poundNetControl"
                                 [options]="poundNets"
                                 tooltipResourceName="inspections.poundnet-helper"
                                 label="{{ 'inspections.registered-poundnet' | tlTranslate }}">
                </tl-autocomplete>
            </div>

            <!-- Кораб, име на нерегистриран кораб, име на инспектиран воден обект, име на правоспособен рибар -->
            <div fxLayout="row" fxLayoutGap="1em" fxFlexFill fxLayoutAlign="space-between center">
                <tl-autocomplete fxFlex="25"
                                 formControlName="shipControl"
                                 [options]="ships"
                                 tooltipResourceName="inspections.ship-helper"
                                 label="{{ 'inspections.registered-ship' | tlTranslate }}">
                </tl-autocomplete>

                <tl-input fxFlex="25"
                          formControlName="unregisteredShipControl"
                          tooltipResourceName="inspections.unregistered-ship-helper"
                          label="{{ 'inspections.unregistered-ship' | tlTranslate }}">
                </tl-input>

                <tl-input fxFlex="25"
                          formControlName="waterObjectControl"
                          tooltipResourceName="inspections.water-object-helper"
                          label="{{ 'inspections.water-object' | tlTranslate }}">
                </tl-input>

                <tl-input fxFlex="25"
                          formControlName="fishermanNameControl"
                          tooltipResourceName="inspections.fisherman-name-helper"
                          label="{{ 'inspections.fisherman-name' | tlTranslate }}">
                </tl-input>
            </div>

            <!-- Име на пазар/помещение, рег. номер на транспортно средство, рег. номер на ремарке -->
            <div fxLayout="row" fxLayoutGap="1em" fxFlexFill fxLayoutAlign="space-between center">
                <tl-input fxFlex="25"
                          formControlName="firstSaleCenterNameControl"
                          tooltipResourceName="inspections.first-sale-center-name-helper"
                          label="{{ 'inspections.first-sale-center-name' | tlTranslate }}">
                </tl-input>

                <tl-input fxFlex="25"
                          formControlName="tractorLicensePlateNumberControl"
                          tooltipResourceName="inspections.tracton-license-plate-number-helper"
                          label="{{ 'inspections.tracton-license-plate-number' | tlTranslate }}">
                </tl-input>

                <tl-input fxFlex="25"
                          formControlName="trailerLicensePlateNumberControl"
                          tooltipResourceName="inspections.trailer-license-plate-number-helper"
                          label="{{ 'inspections.trailer-license-plate-number' | tlTranslate }}">
                </tl-input>

                <div fxFlex="25"></div>
            </div>

            <!-- Юридическо лице -->
            <div fxLayout="row" fxLayoutGap="1em" fxFlexFill fxLayoutAlign="space-between center">
                <tl-slide-toggle fxFlex="70"
                                 formControlName="isLegalControl"
                                 tooltipResourceName="inspections.is-legal-helper"
                                 label="{{ 'inspections.is-legal' | tlTranslate }}">
                </tl-slide-toggle>
            </div>

            <!-- Име на юридическо лице, ЕИК, управител -->
            <div *ngIf="form.controls.isLegalControl.value === true; else isPerson"
                 fxLayout="row"
                 fxLayoutGap="1em"
                 fxFlexFill
                 fxLayoutAlign="space-between center">
                <tl-input fxFlex="25"
                          formControlName="legalNameControl"
                          tooltipResourceName="inspections.legal-name-helper"
                          label="{{ 'inspections.legal-name' | tlTranslate }}">
                </tl-input>

                <tl-input fxFlex="25"
                          formControlName="eikControl"
                          tooltipResourceName="inspections.eik-helper"
                          label="{{ 'inspections.eik' | tlTranslate }}">
                </tl-input>

                <div fxFlex="50"></div>
            </div>

            <!-- Име на физическо лице, ЕГН -->
            <ng-template #isPerson>
                <div fxLayout="row" fxLayoutGap="1em" fxFlexFill fxLayoutAlign="space-between center">
                    <tl-input fxFlex="25"
                              formControlName="personNameControl"
                              tooltipResourceName="inspections.person-name-helper"
                              label="{{ 'inspections.person-name' | tlTranslate }}">
                    </tl-input>

                    <tl-input fxFlex="25"
                              formControlName="egnControl"
                              tooltipResourceName="inspections.egn-helper"
                              label="{{ 'inspections.egn' | tlTranslate }}">
                    </tl-input>

                    <div fxFlex="50"></div>
                </div>
            </ng-template>
        </div>
    </search-panel>

    <!-- Таблица -->
    <tl-card>
        <tl-card-content>
            <tl-data-table fxFlexFill
                           [showAddButton]="canAddRecords && (shipId === null || shipId === undefined) && (logBookPageId === null || logBookPageId === undefined)"
                           [showInactiveRecords]="canRestoreRecords && (shipId === null || shipId === undefined)"
                           (addButtonClicked)="addEditEntry(undefined, false)">
                <row-detail *ngIf="canReadAuanRecords
                                   && (logBookPageId === null || logBookPageId === undefined)">
                    <ng-template let-row="row"
                                 ngx-datatable-row-detail-template>
                        <auan-register fxFlexFill
                                       [inspectionId]="row.data.id"
                                       [recordsPerPage]="10">
                        </auan-register>
                    </ng-template>
                </row-detail>

                <data-column [flexRate]="0.75"
                             propertyName="reportNumber"
                             columnName="{{ 'inspections.report-number' | tlTranslate }}">
                </data-column>

                <data-column [flexRate]="1"
                             propertyName="inspectors"
                             [isSortable]="false"
                             columnName="{{ 'inspections.inspectors' | tlTranslate }}">
                </data-column>

                <data-column [flexRate]="1.2"
                             propertyName="inspectedObject"
                             [isSortable]="false"
                             columnName="{{ 'inspections.inspected-object' | tlTranslate }}">
                </data-column>

                <data-column [flexRate]="1.5"
                             propertyName="inspectionTypeName"
                             columnName="{{ 'inspections.type' | tlTranslate }}">
                </data-column>

                <data-column [flexRate]="0.5"
                             propertyName="startDate"
                             dataType="date"
                             columnName="{{ 'inspections.date' | tlTranslate }}">
                </data-column>

                <data-column [flexRate]="0.5"
                             propertyName="inspectionStateName"
                             columnName="{{ 'inspections.state' | tlTranslate }}">
                </data-column>

                <data-template-column [flexRate]="0.75" [cellClass]="'justify-center min-w-50'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div fxLayout="row wrap" fxLayoutAlign="end center">
                            <tl-icon-button *ngIf="canReadRecords"
                                            icon="visibility"
                                            (buttonClicked)="addEditEntry(row.data, true)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'inspections.view-inspection-dialog-title' | tlTranslate }}">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="row.data.isActive  && row.data.inspectionState === inspectionStatesEnum.Draft
                                                   && canEditRecords
                                                   && isInspector
                                                   && (shipId === null || shipId === undefined)
                                                   && ((row.data.createdByUserId === userId && !row.data.isReportLocked) || canEditLockedInspections)"
                                            icon="edit"
                                            (buttonClicked)="addEditEntry(row.data, false)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'inspections.edit-inspection-dialog-title' | tlTranslate }}">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="row.data.isActive && row.data.inspectionState === inspectionStatesEnum.Submitted
                                                    && canEditRecords
                                                    && isInspector
                                                    && (shipId === null || shipId === undefined)
                                                    && (row.data.createdByUserId === userId || canEditInspectionNumber)"
                                            icon="fa-signature"
                                            (buttonClicked)="signEntry(row.data)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'inspections.sign-inspection' | tlTranslate }}">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="row.data.isActive
                                                   && row.data.createdByCurrentUser
                                                   && canDeleteRecords
                                                   && isInspector
                                                   && (shipId === null || shipId === undefined)"
                                            icon="delete"
                                            (buttonClicked)="deleteEntry(row.data)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'inspections.delete' | tlTranslate }}">
                            </tl-icon-button>

                            <tl-icon-button *ngIf="!row.data.isActive
                                                   && row.data.createdByCurrentUser
                                                   && canRestoreRecords
                                                   && isInspector
                                                   && (shipId === null || shipId === undefined)"
                                            icon="restore"
                                            (buttonClicked)="restoreEntry(row.data)"
                                            iconClass="accent-color"
                                            tooltipText="{{ 'inspections.undo-delete' | tlTranslate }}">
                            </tl-icon-button>
                        </div>
                    </ng-template>
                </data-template-column>
            </tl-data-table>
        </tl-card-content>
    </tl-card>
</div>