<div [matTooltip]="tooltipText"
     matTooltipPosition="above"
     matTooltipHideDelay="250"
     fxLayoutAlign="center center">
    <button mat-icon-button
            class="transparent-btn-icon cursor-pointer mat-button"
            (click)="onButtonClicked($event)"
            (mouseover)="onMouseOver($event)"
            (mouseout)="onMouseOut($event)"
            [disabled]="disabled"
            [ngClass]="{
                            'disabled': disabled
                       }">
        <tl-icon [type]="type"
                 [icon]="icon"
                 [size]="size"
                 [iconClass]="iconClass"
                 [iconColor]="iconColor">
        </tl-icon>
    </button>
</div>
