<mat-toolbar class="p-0 mat-elevation-z1">
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>
            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logos/iara.svg">
                </div>
            </div>
            <div fxLayout="row" fxFlex="70" fxFlexOffset="2" fxLayoutAlign="start stretch">
                <h1>{{ pageTitle }}</h1>
            </div>
        </div>
        <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start stretch">

            <div *ngIf="isAuthenticated" fxLayout="row" fxLayoutAlign="start stretch">
                <div *ngIf="isInternalApp" fxLayout="column" fxLayoutAlign="none none">
                    <notifications-menu fxFlexFill></notifications-menu>
                </div>
                <!-- My tickets -->
                <div *ngIf="showUserTickets" fxLayout="column" fxLayoutAlign="none none">
                    <recreational-fishing-my-tickets fxFlexFill></recreational-fishing-my-tickets>
                </div>

                <!-- My profile -->
                <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="avatar mr-0 mr-sm-16" src="{{userPhoto}}">
                        <span class="username mr-12" fxHide fxShow.gt-sm>{{ usernames }}</span>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>
                <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item (click)=goToMyProfile()>
                        <mat-icon>account_circle</mat-icon>
                        <span>{{ 'common.my-profile' | tlTranslate: 'cap' }}</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>{{ 'common.logout' | tlTranslate: 'cap' }}</span>
                    </button>
                </mat-menu>
            </div>

            <button mat-raised-button class="login-button" *ngIf="!isAuthenticated" (click)="login()">
                <tl-icon icon="fa-sign-in"></tl-icon>
                <span>{{ 'common.login' | tlTranslate: 'cap' }}</span>
            </button>
            <!-- Languages -->
            <div class="toolbar-separator"></div>
            <button mat-button fxHide fxShow.gt-xs
                    class="language-button"
                    [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/icons/flags/'+selectedLanguage?.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage?.id}}</span>
                </div>
            </button>
            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>
            </mat-menu>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>
            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
